/* ============================== VARIABLES ============================== */
/* ============================== COLORS ============================== */
/* ============================== FONTS ============================== */
/* @headings: 'Didact Gothic', sans-serif;
@text: 'Arimo', sans-serif; */
/* ============================== MIXINS ============================== */
.header-links a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.header-links a:hover {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
.header-links a:visited {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.header-links a:active {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  text-decoration: none;
}
.header-links a:focus {
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.body-links a {
  color: #124834;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.body-links a:hover {
  color: #75253d;
  /*       outline: 2px solid @vltteal; */
  text-decoration: none;
}
.body-links a:visited {
  color: #124834;
  text-decoration: none;
}
.body-links a:active {
  color: #75253d;
  text-decoration: none;
}
.body-links a:focus {
  color: #75253d;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.block-links a {
  color: #ffffff;
  text-decoration: none;
}
.block-links a:hover {
  color: #ffffff;
  text-decoration: none;
  /*       outline: 2px solid @vltteal;  */
}
.block-links a:visited {
  color: #ffffff;
  text-decoration: none;
}
.block-links a:active {
  color: #ffffff;
  text-decoration: none;
}
.block-links a:focus {
  color: #ffffff;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.button-links a {
  color: #ffffff;
  text-decoration: none;
}
.button-links a:hover {
  color: #ffffff;
  background-color: #75253d;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
.button-links a:visited {
  color: #ffffff;
  text-decoration: none;
}
.button-links a:active {
  color: #ffffff;
  text-decoration: none;
}
.button-links a:focus {
  color: #ffffff;
  background-color: #75253d;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.footer-links a {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.footer-links a:hover {
  color: #EDB7CB;
  background-color: #124834;
  /*       outline: 2px solid @vltmaroon;  */
  text-decoration: none;
}
.footer-links a:visited {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.footer-links a:active {
  color: #EDB7CB;
  background-color: #124834;
  border: 0;
  text-decoration: none;
}
.footer-links a:focus {
  color: #EDB7CB;
  background-color: #124834;
  outline: 2px solid #EDB7CB;
  text-decoration: none;
}
.footer-links a i {
  font-size: 1.5em;
}
.footer-links a img {
  width: 80%;
}
.block-styles {
  height: 260px;
  margin: 0;
  padding: 10% 2%;
}
.block-styles p {
  padding: 4% 5%;
  font-size: 1.3em;
}
.block-styles2 {
  height: 360px;
  margin: 0;
  padding: 10% 2%;
  color: #ffffff;
}
.block-styles2 p {
  padding: 4% 5%;
  font-size: 1.2em;
}
/* ============================== GLOBAL ELEMENT STYLES ============================== */
body {
  font-family: "Aleo", serif;
}
button,
.btn,
.btn-primary,
.btn-block {
  font-size: 1.35em;
  font-weight: bold;
  background-color: #124834;
  border-radius: 0;
}
button a,
.btn a,
.btn-primary a,
.btn-block a {
  color: #ffffff;
  text-decoration: none;
}
button a:hover,
.btn a:hover,
.btn-primary a:hover,
.btn-block a:hover {
  color: #ffffff;
  background-color: #75253d;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
button a:visited,
.btn a:visited,
.btn-primary a:visited,
.btn-block a:visited {
  color: #ffffff;
  text-decoration: none;
}
button a:active,
.btn a:active,
.btn-primary a:active,
.btn-block a:active {
  color: #ffffff;
  text-decoration: none;
}
button a:focus,
.btn a:focus,
.btn-primary a:focus,
.btn-block a:focus {
  color: #ffffff;
  background-color: #75253d;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
button:hover,
.btn:hover,
.btn-primary:hover,
.btn-block:hover {
  color: #ffffff;
  background-color: #75253d;
}
button:visited,
.btn:visited,
.btn-primary:visited,
.btn-block:visited {
  color: #ffffff;
  background-color: #75253d;
}
button:active,
.btn:active,
.btn-primary:active,
.btn-block:active {
  color: #ffffff;
  background-color: #75253d;
}
button:focus,
.btn:focus,
.btn-primary:focus,
.btn-block:focus {
  color: #ffffff;
  outline: 2px solid #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: center;
}
p,
li {
  font-size: 1.2em;
  line-height: 1.5em;
}
p a,
li a {
  color: #124834;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
p a:hover,
li a:hover {
  color: #75253d;
  /*       outline: 2px solid @vltteal; */
  text-decoration: none;
}
p a:visited,
li a:visited {
  color: #124834;
  text-decoration: none;
}
p a:active,
li a:active {
  color: #75253d;
  text-decoration: none;
}
p a:focus,
li a:focus {
  color: #75253d;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
a {
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
ol li {
  list-style-type: disc;
}
i {
  margin-right: .25em;
}
/* ============================== GLOBAL CLASS STYLES ============================== */
.container-fluid {
  width: 80%;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
.row {
  padding: 2% 0;
}
/* =================== SPACING / ALIGNMENT CLASS STYLES =================== */
.btn-margin-btm {
  margin-bottom: .2em;
}
.btn-margin-top-btm {
  margin-top: .2em;
  margin-bottom: .2em;
}
.btn-margin-top {
  margin-top: .2em;
}
.margin-bottom {
  margin-bottom: 2%;
}
.padding-none {
  padding: 0;
}
.centered-text {
  text-align: center;
}
.right-aligned {
  text-align: right;
}
/* =================== IMAGE CLASS STYLES =================== */
.logo-sm {
  width: 60%;
}
.img-lg {
  width: 90%;
}
/* ============================== CARD STYLES ============================== */
.card {
  background-color: #FCFCFC;
  padding: 3% 2%;
  margin-bottom: 5%;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}
.card .news-img {
  width: 100%;
}
.card .last-card {
  margin-bottom: 2%;
}
.card-img-top {
  width: 50%;
}
.card-img-top-lg {
  width: 90%;
}
/* ============================== MODAL STYLES ============================== */
.modal-header {
  color: #ffffff;
  background-color: #75253d;
}
.modal-header a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.modal-header a:hover {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
.modal-header a:visited {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.modal-header a:active {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  text-decoration: none;
}
.modal-header a:focus {
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.modal-body a {
  color: #124834;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.modal-body a:hover {
  color: #75253d;
  /*       outline: 2px solid @vltteal; */
  text-decoration: none;
}
.modal-body a:visited {
  color: #124834;
  text-decoration: none;
}
.modal-body a:active {
  color: #75253d;
  text-decoration: none;
}
.modal-body a:focus {
  color: #75253d;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.modal-footer {
  color: #ffffff;
  background-color: #124834;
}
.modal-footer a {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.modal-footer a:hover {
  color: #EDB7CB;
  background-color: #124834;
  /*       outline: 2px solid @vltmaroon;  */
  text-decoration: none;
}
.modal-footer a:visited {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.modal-footer a:active {
  color: #EDB7CB;
  background-color: #124834;
  border: 0;
  text-decoration: none;
}
.modal-footer a:focus {
  color: #EDB7CB;
  background-color: #124834;
  outline: 2px solid #EDB7CB;
  text-decoration: none;
}
.modal-footer a i {
  font-size: 1.5em;
}
.modal-footer a img {
  width: 80%;
}
.modal-btn-margin {
  margin-bottom: 5px;
}
.locations img {
  width: 100%;
}
.locations .location-list {
  padding-left: 5%;
}
/* ============================== HEADER STYLES ============================== */
/* Skip link - visible to screen reader and keyboard users only when focused on */
#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
  outline: 2px solid #E07E2B;
  color: #000000;
  text-decoration: none;
}
.header-spacing {
  margin: 2% 0;
}
.header-only-spacing {
  margin: 2% 0 0 0;
}
.header-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.icon-bar {
  background-color: #ffffff;
}
/* ============================== NAVBAR STYLES ============================== */
.navbar-other {
  color: #ffffff;
  background-color: #75253d;
  font-weight: 600;
}
.navbar-other .navbar-brand img {
  width: 15%;
}
.navbar-other .nav {
  list-style: none;
}
.navbar-other .nav .nav-item {
  padding: 0;
}
.navbar-other .nav .nav-item a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .nav-item a:hover {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
.navbar-other .nav .nav-item a:visited {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .nav-item a:active {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  text-decoration: none;
}
.navbar-other .nav .nav-item a:focus {
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.navbar-other .nav .nav-item button {
  color: #ffffff;
  background-color: #75253d;
  border: 0;
  margin-top: 11%;
  font-size: 1.1em;
}
.navbar-other .nav .nav-item button ul li a a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .nav-item button ul li a a:hover {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
.navbar-other .nav .nav-item button ul li a a:visited {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .nav-item button ul li a a:active {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  text-decoration: none;
}
.navbar-other .nav .nav-item button ul li a a:focus {
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu {
  list-style: none;
  padding: 0;
}
.navbar-other .nav .dropdown-menu .li {
  padding: 1% 3%;
}
.navbar-other .nav .dropdown-menu .li a a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu .li a a:hover {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  /*       outline: 2px solid @vltteal;  */
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu .li a a:visited {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu .li a a:active {
  color: #8ADAC2;
  background-color: #75253d;
  border: 0;
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu .li a a:focus {
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.navbar-other .navbar-header button .navbar-toggle .icon-bar {
  color: #ffffff;
}
/*  ======================== HOME ======================== */
.carousel-row {
  margin: -2% -8% 0 -8%;
  padding-bottom: 0;
}
#carouselHome .carousel-inner .item p {
  text-align: center;
}
#carouselHome .carousel-inner .item p .carousel-img {
  width: 100%;
  margin-bottom: -3%;
}
/* ======================== HOME BLOCK STYLES ======================== */
.blocks {
  margin: 0;
  text-align: center;
}
.blocks a {
  color: #ffffff;
  text-decoration: none;
}
.blocks a:hover {
  color: #ffffff;
  text-decoration: none;
  /*       outline: 2px solid @vltteal;  */
}
.blocks a:visited {
  color: #ffffff;
  text-decoration: none;
}
.blocks a:active {
  color: #ffffff;
  text-decoration: none;
}
.blocks a:focus {
  color: #ffffff;
  outline: 2px solid #8ADAC2;
  text-decoration: none;
}
.blocks .block1 {
  background-color: #124834;
  height: 260px;
  margin: 0;
  padding: 10% 2%;
}
.blocks .block1 p {
  padding: 4% 5%;
  font-size: 1.3em;
}
.blocks .block2 {
  background-color: #1c7151;
  height: 260px;
  margin: 0;
  padding: 10% 2%;
}
.blocks .block2 p {
  padding: 4% 5%;
  font-size: 1.3em;
}
.blocks .block3 {
  background-color: #75253d;
  height: 260px;
  margin: 0;
  padding: 10% 2%;
}
.blocks .block3 p {
  padding: 4% 5%;
  font-size: 1.3em;
}
.blocks .block4 {
  background-color: #c23e66;
  height: 260px;
  margin: 0;
  padding: 10% 2%;
}
.blocks .block4 p {
  padding: 4% 5%;
  font-size: 1.3em;
}
/* ======================== MISSION  BLOCK STYLES ======================== */
.blocks2 {
  margin: 0;
  text-align: center;
}
.blocks2 .block5 {
  background-color: #1c7151;
  height: 360px;
  margin: 0;
  padding: 10% 2%;
  color: #ffffff;
}
.blocks2 .block5 p {
  padding: 4% 5%;
  font-size: 1.2em;
}
.blocks2 .block6 {
  background-color: #c23e66;
  height: 360px;
  margin: 0;
  padding: 10% 2%;
  color: #ffffff;
}
.blocks2 .block6 p {
  padding: 4% 5%;
  font-size: 1.2em;
}
.blocks2 .block7 {
  background-color: #1c7151;
  height: 360px;
  margin: 0;
  padding: 10% 2%;
  color: #ffffff;
}
.blocks2 .block7 p {
  padding: 4% 5%;
  font-size: 1.2em;
}
/* ======================== HISTORY STYLES ======================== */
.accomplishments li {
  list-style-type: disc;
  padding-bottom: .5%;
}
/* ======================== ANNUAL REPORT STYLES ======================== */
/* ======================== ACA STYLES ======================== */
.embed-responsive {
  text-align: center;
}
/* ======================== FOOTER STYLES ======================== */
.footer {
  text-align: left;
}
.footer h4 {
  text-align: left;
}
.footer .footer-index {
  color: #ffffff;
  background-color: #124834;
  font-size: .8em;
  /*     .footer-buffer {
      padding: 2% 1%;
    } */
  /*     .address {
      p {
        margin-bottom: 0.5%;
        font-size: 1.1em;
        font-weight: bold;
      }
    } */
}
.footer .footer-index img {
  width: 150px;
}
.footer .footer-index .footer-socials {
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.5em;
}
.footer .footer-index .footer-socials i {
  margin-right: 1em;
}
.footer .footer-index a {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.footer .footer-index a:hover {
  color: #EDB7CB;
  background-color: #124834;
  /*       outline: 2px solid @vltmaroon;  */
  text-decoration: none;
}
.footer .footer-index a:visited {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.footer .footer-index a:active {
  color: #EDB7CB;
  background-color: #124834;
  border: 0;
  text-decoration: none;
}
.footer .footer-index a:focus {
  color: #EDB7CB;
  background-color: #124834;
  outline: 2px solid #EDB7CB;
  text-decoration: none;
}
.footer .footer-index a i {
  font-size: 1.5em;
}
.footer .footer-index a img {
  width: 80%;
}
.footer .footer-index .staff-links {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
}
/* ======================== MEDIA QUERIES ======================== */
/* header buttons (about, programs) in mobile must have 17% padding removed and a minor left padding added to be in line with non-dropdown links */
@media (max-width: 499px) {
  .navbar-other .nav .nav-item button {
    margin-top: 0%;
  }
}
/*  end media query */
@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .dropdown {
    margin-top: -10%;
    margin-right: 1%;
  }
}
/*  end media query */
