/* ============================== VARIABLES ============================== */
/* ============================== COLORS ============================== */
/* ============================== FONTS ============================== */
/* @headings: 'Didact Gothic', sans-serif;
@text: 'Arimo', sans-serif; */
/* ============================== MIXINS ============================== */
.header-links a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.header-links a:hover {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.header-links a:visited {
  color: #ffffff;
  background-color: #75253d;
}
.header-links a:active {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
/* ============================== GLOBAL STYLES ============================== */
body {
  font-family: "Aleo", serif;
  /*   line-height: 1.7em; */
}
.container-fluid {
  width: 80%;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
p,
li {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* ============================== CARD STYLES ============================== */
.card-img-top {
  width: 50%;
}
/* ============================== FOOTER STYLES ============================== */
.footer-links a {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.footer-links a:hover {
  color: #E07E2B;
  background-color: #124834;
  border: 0;
}
.footer-links a:visited {
  color: #ffffff;
  background-color: #124834;
}
.footer-links a:active {
  color: #E07E2B;
  background-color: #124834;
  border: 0;
}
.footer-links a i {
  font-size: 2em;
}
.footer-links a img {
  width: 80%;
}
/* MISC ======================== */
.container-fluid {
  padding: 0 5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*   font-family: @headings;  */
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
p,
a {
  /*   font-family: @text; */
  font-size: 1.2em;
}
ul {
  list-style: none;
}
.card {
  background-color: #FCFCFC;
  padding: 3% 2%;
  margin-bottom: 5%;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}
.card .news-img {
  width: 100%;
}
.card .last-card {
  margin-bottom: 2%;
}
.icon-bar {
  background-color: #ffffff;
}
.header-spacing {
  margin: 2% 0;
}
.header-only-spacing {
  margin: 2% 0 0 0;
}
.header-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.row {
  padding: 2% 0;
}
.margin-bottom {
  margin-bottom: 2%;
}
.modal-btn-margin {
  margin-bottom: 5px;
}
.locations img {
  width: 100%;
}
.locations .location-list {
  padding-left: 5%;
}
a {
  cursor: pointer;
}
figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  top: 40%;
  left: 10%;
  padding: 2% 3%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 2.5em;
  text-transform: uppercase;
}
/* HEADER ======================== */
.navbar-other {
  color: #ffffff;
  background-color: #75253d;
  font-weight: 600;
}
.navbar-other .navbar-brand img {
  width: 15%;
}
.navbar-other .nav {
  list-style: none;
}
.navbar-other .nav .nav-item {
  padding: 0;
}
.navbar-other .nav .nav-item a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .nav-item a:hover {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.navbar-other .nav .nav-item a:visited {
  color: #ffffff;
  background-color: #75253d;
}
.navbar-other .nav .nav-item a:active {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.navbar-other .nav .nav-item button {
  color: #ffffff;
  background-color: #75253d;
  border: 0;
  margin-top: 17%;
}
.navbar-other .nav .nav-item button ul li a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .nav-item button ul li a:hover {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.navbar-other .nav .nav-item button ul li a:visited {
  color: #ffffff;
  background-color: #75253d;
}
.navbar-other .nav .nav-item button ul li a:active {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.navbar-other .nav .dropdown-menu {
  list-style: none;
  padding: 0;
}
.navbar-other .nav .dropdown-menu .li {
  padding: 1% 3%;
}
.navbar-other .nav .dropdown-menu a a {
  color: #ffffff;
  background-color: #75253d;
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu a a:hover {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.navbar-other .nav .dropdown-menu a a:visited {
  color: #ffffff;
  background-color: #75253d;
}
.navbar-other .nav .dropdown-menu a a:active {
  color: #E07E2B;
  background-color: #75253d;
  border: 0;
}
.navbar-other .navbar-header button .navbar-toggle .icon-bar {
  color: #ffffff;
}
/*  FOOTER ======================== */
.footer-index {
  color: #ffffff;
  background-color: #124834;
  font-size: .8em;
}
.footer-index img {
  width: 150px;
}
.footer-index .footer-buffer {
  padding: 2% 1%;
}
.footer-index a {
  color: #ffffff;
  background-color: #124834;
  text-decoration: none;
}
.footer-index a:hover {
  color: #E07E2B;
  background-color: #124834;
  border: 0;
}
.footer-index a:visited {
  color: #ffffff;
  background-color: #124834;
}
.footer-index a:active {
  color: #E07E2B;
  background-color: #124834;
  border: 0;
}
.footer-index a i {
  font-size: 2em;
}
.footer-index a img {
  width: 80%;
}
.footer-index .staff-links {
  font-size: 1.3em;
  font-weight: bold;
  line-height: .1em;
}
.footer-index .address p {
  margin-bottom: 0.5%;
}
/*  HOME ======================== */
.carousel-row {
  /*   margin: 0 -8%; */
  margin: -2% -8% 0 -8%;
}
.carousel-inner .item p {
  text-align: center;
}
.carousel-inner .item .carousel-img {
  width: 100%;
  margin-bottom: -3%;
}
.dark-caption {
  padding: 2% 3%;
  background-color: rgba(0, 0, 0, 0.4);
}
.blocks {
  padding: 2% 10%;
  margin: 0 -8%;
  color: #000000;
  font-weight: 600;
  text-align: center;
}
.blocks a {
  padding: 6 5%;
  color: #333333;
  text-decoration: none;
}
.blocks a:hover {
  color: #E07E2B;
  border: 0;
}
.blocks a:visited {
  color: #333333;
}
.blocks a:active {
  color: #E07E2B;
  border: 0;
}
/*  HISTORY ======================== */
.accomplishments li {
  list-style-type: disc;
  padding-bottom: .5%;
}
/*  ANNUAL REPORTS ======================== */
.reports a {
  color: #ffffff;
  text-decoration: none;
}
.reports a:hover {
  color: #E07E2B;
  border: 0;
}
.reports a:visited {
  color: #ffffff;
}
.reports a:active {
  color: #E07E2B;
  border: 0;
}
@media (max-width: 499px) {
  .navbar-other .nav .nav-item button {
    margin-top: 0%;
  }
}
/*  end media query */
