/* ============================== VARIABLES ============================== */

/* ============================== COLORS ============================== */

/* @charcoal: rgb(47,52,58);
@medgrey: rgb(113,125,140);
@ltgrey: rgb(221,221,221);
@beige: rgb(189,182,156);
@ltteal: rgba(117, 212, 235, 1)
@dkteal: rgb(65,170,196); 
@white: rgb(255,255,255);
@black: rgb(0,0,0);
@fuschia: rgb(199,0,57);
@orange: rgb(255, 157, 0);
 */

/* @charcoal: #2F343A;
@medgrey: #717D8C;
@ltgrey: #DDDDDD;
@ltstgrey: #FCFCFC;
@beige: #BDB69C;
@ltteal: #75d4eb;
@dkteal: #41AAC4;
@white: #ffffff;
@black: #000000;
@fuschia: #C70039;
@orange: #FF9D00;
@black-transp: rgba(0, 0, 0, 0.4); */

@maroon: #75253d;
@teal: #124834;
@grey-blue: #51748A;
@lime: #BEBA31;
@orange: #E07E2B;
@white: #ffffff;
@black: #000000;

@black-transp: rgba(0, 0, 0, 0.4);
@charcoal: #333333;  
@medgrey: #717D8C;
@ltgrey: #DDDDDD;
@ltstgrey: #FCFCFC;


/* ============================== FONTS ============================== */

@headings: 'Didact Gothic', sans-serif;
@text: 'Arimo', sans-serif;

/* ============================== MIXINS ============================== */
.header-links {
  a {
    color: @white;
    background-color: @maroon;
    text-decoration: none;
    &:hover {
      color: @lime;
      background-color: @maroon;
      border: 0;
    }
    &:visited {
      color: @white;
      background-color: @maroon;
    }
    &:active {
      color: @lime;
      background-color: @maroon;
      border: 0;
    }
  }  
}


/* ============================== GLOBAL STYLES ============================== */
.container-fluid {
  width: 80%;
  margin: 0 auto;
}




/* ============================== CARD STYLES ============================== */

.card-img-top {
  width: 50%; 
}


/* ============================== FOOTER STYLES ============================== */

.footer-links {
  a {
    color: @white;
    background-color: @teal;
    text-decoration: none;
    &:hover {
      color: @lime;
      background-color: @teal;
      border: 0;
    }
    &:visited {
      color: @white;
      background-color: @teal;
    }
    &:active {
      color: @lime;
      background-color: @teal;
      border: 0;
    }
    i {
      font-size: 2em;
    }
    img {
      width: 80%;
    }
  }  
}



/* MISC ======================== */

.container-fluid {
  padding: 0 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headings; 
  font-weight: 700;  
  text-align: center;
  text-transform: uppercase;
}

p, a {
  font-family: @text;
  font-size: 1em;
}

ul {
  list-style: none;
} 
  
.card {
  background-color: @ltstgrey;
  padding: 3% 2%;
  margin-bottom: 5%;
  text-align: center; 
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  .news-img {
    width: 100%;    
  }
  .last-card {
    margin-bottom: 2%; 
  }
}

.icon-bar {
  background-color: @white;
}

.header-spacing {
  margin: 2% 0;
}

.header-only-spacing {
  margin: 2% 0 0 0;
}

.header-img {
  max-width: 100%; 
  display: block;
  margin: 0 auto;
}

.row {
  padding: 2% 0;
}

.margin-bottom {
  margin-bottom: 2%;
}

.modal-btn-margin {
  margin-bottom: 5px;
}

.locations {
  img {
    width: 100%;
  }
  .location-list {
    padding-left: 5%;
  }
}

a {
  cursor: pointer; 
}

figure {
  position: relative;
  figcaption {
    position: absolute;
    top: 40%;
    left: 10%;
    padding: 2% 3%;
    background-color: @black-transp;
    color: @white;
    font-size: 2.5em;
    text-transform: uppercase;
  }
}


/* HEADER ======================== */

.navbar-other {
  color: @white;
  background-color: @dkteal;
  font-weight: 600;
  .navbar-brand {
    img {
      width: 15%;
    }
  }
  .nav {
    list-style: none;
    .nav-item {
      .header-links;
      padding: 0;
      button {
        ul {
          li {
            .header-links;
          }
        }
        color: @white;
        background-color: @maroon;
        border: 0;
        margin-top: 17%;
      }
    }
    .dropdown-menu {
      list-style: none;
      padding: 0;
      .li {
        padding: 1% 3%;
      }
      a {
        .header-links;
      }
    }    
  }
  
  .navbar-header {
    button {
      .navbar-toggle {
        .icon-bar {
          color: @white;
        }      
      }
    } 
  }
}





/*  FOOTER ======================== */

.footer-index {
  color: @white;
  background-color: @teal; 
  font-size: .8em;
  img {
    width: 150px;
  }
  .footer-buffer {
    padding: 2% 1%;
  }
  .footer-links;
  .staff-links {
    font-size: 1.3em;
    font-weight: bold;
    line-height: .1em;
  }
  .address {
    p {
      margin-bottom: 0.5%;
    }
  }
}



/*  HOME ======================== */

.carousel-row {
/*   margin: 0 -8%; */
  margin: -2% -8% 0 -8%;
}

.carousel-inner {
  .item {
    p {
      text-align: center;
    }
    .carousel-img {
      width: 100%;
      margin-bottom: -3%;
    }
  }  
}

.dark-caption {
  padding: 2% 3%;
  background-color: @black-transp;
}

.blocks {
  padding: 2% 10%;
  margin: 0 -8%;
  color: @black;
  font-weight: 600;
  text-align: center;
  a {
    padding: 6 5%;
    color: @charcoal;
    text-decoration: none;
    &:hover {
      color: @fuschia;
      border: 0;
    }
    &:visited {
      color: @charcoal;
    }
    &:active {
      color: @fuschia;
      border: 0;
    }
  }
}


/*  HISTORY ======================== */

.accomplishments {
  li {
    list-style-type: disc;
    padding-bottom: .5%;
  }
}



/*  ANNUAL REPORTS ======================== */

.reports {
  a {
    color: @white;
    text-decoration: none;
    &:hover {
      color: @fuschia;
      border: 0;
    }
    &:visited {
      color: @white;
    }
    &:active {
      color: @fuschia;
      border: 0;
    }
  }
}





// MEDIA QUERIES

//header buttons (about, programs) in mobile must have 17% padding removed and a minor left padding added to be in line with non-dropdown links


@media (max-width:499px){
  .navbar-other {
    .nav {
      .nav-item {
        button {
          margin-top: 0%;
        }
      }
    }
  } 
} /*  end media query */
