/* VARIABLES ======================== */
/* COLORS ======================== */
/* FONTS ======================== */
/* MIXINS ======================== */
.header-links a {
  color: #ffffff;
  background-color: #41aac4;
  text-decoration: none;
}
.header-links a:hover {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.header-links a:visited {
  color: #ffffff;
  background-color: #41aac4;
}
.header-links a:active {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.footer-links a {
  color: #ffffff;
  background-color: #2f343a;
  text-decoration: none;
}
.footer-links a:hover {
  color: #ff9d00;
  background-color: #2f343a;
  border: 0;
}
.footer-links a:visited {
  color: #ffffff;
  background-color: #2f343a;
}
.footer-links a:active {
  color: #ff9d00;
  background-color: #2f343a;
  border: 0;
}
.footer-links a i {
  font-size: 2em;
}
/* MISC ======================== */
* {
  outline: red dotted 1px;
}
.container-fluid {
  padding: 0 5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
p,
a {
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
}
ul {
  list-style: none;
}
.card {
  text-align: center;
}
.card .news-img {
  width: 100%;
}
/* HEADER ======================== */
.navbar-other {
  color: #ffffff;
  background-color: #41aac4;
  font-weight: 600;
}
.navbar-other .navbar-brand img {
  width: 15%;
}
.navbar-other .nav {
  list-style: none;
}
.navbar-other .nav .nav-item {
  padding: 0;
}
.navbar-other .nav .nav-item a {
  color: #ffffff;
  background-color: #41aac4;
  text-decoration: none;
}
.navbar-other .nav .nav-item a:hover {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.navbar-other .nav .nav-item a:visited {
  color: #ffffff;
  background-color: #41aac4;
}
.navbar-other .nav .nav-item a:active {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.navbar-other .nav .nav-item button {
  color: #ffffff;
  background-color: #41aac4;
  border: 0;
  margin-top: 17%;
}
.navbar-other .nav .nav-item button ul li a {
  color: #ffffff;
  background-color: #41aac4;
  text-decoration: none;
}
.navbar-other .nav .nav-item button ul li a:hover {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.navbar-other .nav .nav-item button ul li a:visited {
  color: #ffffff;
  background-color: #41aac4;
}
.navbar-other .nav .nav-item button ul li a:active {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.navbar-other .nav .dropdown-menu {
  list-style: none;
  padding: 0;
}
.navbar-other .nav .dropdown-menu .li {
  padding: 1% 3%;
}
.navbar-other .nav .dropdown-menu a a {
  color: #ffffff;
  background-color: #41aac4;
  text-decoration: none;
}
.navbar-other .nav .dropdown-menu a a:hover {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.navbar-other .nav .dropdown-menu a a:visited {
  color: #ffffff;
  background-color: #41aac4;
}
.navbar-other .nav .dropdown-menu a a:active {
  color: #ff9d00;
  background-color: #41aac4;
  border: 0;
}
.navbar-other .navbar-header button .navbar-toggle .icon-bar {
  color: #ffffff;
}
/*  FOOTER ======================== */
.footer-index {
  color: #ffffff;
  background-color: #2f343a;
  font-size: .8em;
}
.footer-index .footer-buffer {
  padding: 2% 1%;
}
.footer-index a {
  color: #ffffff;
  background-color: #2f343a;
  text-decoration: none;
}
.footer-index a:hover {
  color: #ff9d00;
  background-color: #2f343a;
  border: 0;
}
.footer-index a:visited {
  color: #ffffff;
  background-color: #2f343a;
}
.footer-index a:active {
  color: #ff9d00;
  background-color: #2f343a;
  border: 0;
}
.footer-index a i {
  font-size: 2em;
}
/*  HOME ======================== */
.carousel-row {
  margin: 0 -8%;
}
.carousel-inner .item p {
  text-align: center;
}
.blocks {
  padding: 1% 3%;
  margin: 0 -8%;
}
.blocks .block1,
.blocks .block2,
.blocks .block3,
.blocks .block4 {
  background-color: #dddddd;
  text-align: center;
}
.blocks .block1 a,
.blocks .block2 a,
.blocks .block3 a,
.blocks .block4 a {
  padding: 6 5%;
  color: #2f343a;
  text-decoration: none;
}
.blocks .block1 a:hover,
.blocks .block2 a:hover,
.blocks .block3 a:hover,
.blocks .block4 a:hover {
  color: #ff9d00;
  border: 0;
}
.blocks .block1 a:visited,
.blocks .block2 a:visited,
.blocks .block3 a:visited,
.blocks .block4 a:visited {
  color: #2f343a;
}
.blocks .block1 a:active,
.blocks .block2 a:active,
.blocks .block3 a:active,
.blocks .block4 a:active {
  color: #ff9d00;
  border: 0;
}
.blocks .block1 a i,
.blocks .block2 a i,
.blocks .block3 a i,
.blocks .block4 a i {
  font-size: 2em;
}
.accomplishments li {
  list-style-type: disc;
}
