/* VARIABLES ======================== */

/* COLORS ======================== */

@charcoal: rgb(47,52,58);
@medgrey: rgb(113,125,140);
@ltgrey: rgb(221,221,221);
@beige: rgb(189,182,156);
@ltteal: rgb(128,206,185);
@blue: rgb(65,170,196);


/* FONTS ======================== */



/* MIXINS ======================== */



/* MISC ======================== */
