<div class="row">
  <div class="col-md-12">
    <img src="images/aca.jpg" class="header-img" alt="Affordable Care Act">   
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-md-12">
    <h2>Affordable Care Act</h2>   
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  
  <div class="col-sm-6">
    <h2>What is the Affordable Care Act</h2>
    <p>The Affordable Care Act puts consumers back in charge of their health care. Workforce Connections, Inc., through a subcontract from NWCEP and a grant from the Centers for Medicare and Medicaid Services, provides consumers and businesses with assistance in securing and understanding their health care options. Workforce Connections, Inc. staff conduct public educational workshops and one-on-one enrollment assistance.</p>
    <p>Open enrollment begins on November 1, 2016 and ends on January 31, 2017. Some exceptions may apply. For more information call 800-742-5627 or 608-790-8136.</p>
    <button type="button" class="btn btn-primary btn-lg btn-block">2016 Coverage</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Western WI Open Enrollment Events 2016</button>
    
    <br />
    <br />
    
    <h2>What is Wisconsin Coverage Connections</h2>
    <p>Wisconsin Coverage Connections will provide extensive outreach and enrollment assistance in the small communities and rural areas of western Wisconsin to reach uninsured families with children. Kids who have health coverage are better prepared to do well in school and succeed in life. Medicaid and Children’s Health Insurance Program (CHIP) offer free or low-cost health insurance for kids and teens. Children can receive regular check-ups, immunizations, doctor and dentist visits and more.</p>
    <p>Navigators will provide training and conduct educational events at community events and individually to families who are eligible for the BadgerCare Plus program. For more information, call 800-742-5627 or 608-790-8136.</p>
  </div>

  <div class="col-sm-6">
    <script src="https://connector.getcoveredamerica.org/static/js/widget.js" data-width="600" data-partner="covering-wisconsin" data-language="en-us" id="gca-connector-embed"></script>
  </div>
  
</div><!-- end row -->





<div class="row">
  <div class="col-md-12">
    <h2>ADDITIONAL RESOURCES</h2>   
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eeb1WteC6Fo?rel=0" allowfullscreen ></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-58VD3z7ZiQ?rel=0" allowfullscreen></iframe>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JZ7vmXh63Jw?rel=0" allowfullscreen ></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XOkPAANg3R8?rel=0" allowfullscreen ></iframe>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H3TDtGM8AMw?rel=0" allowfullscreen ></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3ZhPJsUnmag?rel=0" allowfullscreen ></iframe>
    </div>
  </div>
</div> 