<div class="row">
  <div class="col-md-12">
    <h1>Affordable Care Act</h1>   
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
    <img src="images/programs/aca.jpg" class="header-img" alt="Affordable Care Act" />   
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
    <h2>What is the Affordable Care Act</h2>
    <p>The Affordable Care Act puts consumers back in charge of their health care. Workforce Connections, Inc., through a subcontract from NWCEP and a grant from the Centers for Medicare and Medicaid Services, provides consumers and businesses with assistance in securing and understanding their health care options. Workforce Connections, Inc. staff conduct public educational workshops and one-on-one enrollment assistance.</p>
    <p>Open enrollment begins on November 1, 2016 and ends on January 31, 2017. Some exceptions may apply. For more information call <a href="tel:+1-800-742-5627" aria-label="Click to call the Workforce Connections Inc. 800 number">800-742-5627</a> or <a href="tel:+1-608-790-8136" aria-label="Click to call a Healthcare Navigator">608-790-8136</a>, or complete the <a ui-sref="request-services" aria-label="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
    
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#openenroll" aria-label="Open modal to view 2017 coverage information">2017 Coverage</button>
    <!-- Modal -->
    <div class="modal fade" id="openenroll" tabindex="-1" role="dialog" aria-labelledby="openenrollLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="openenrollLabel">2017 Coverage</h4>
          </div>
          
          <div class="modal-body">
            <p>You may qualify for a special enrollment period for the Affordable Care Act ("Obamacare") and be enrolled for 2017 if: </p>
            <ul>
              <li>You lose your job related health insurance</li>
              <li>You have a child, adopt a child, get married or divorced</li>
              <li>You moved to Wisconsin from another State</li>
              <li>You are now on COBRA and want to drop it because it's too expensive</li>
              <li>There were errors on your original enrollment through the Marketplace</li>
              <li>You received misinformation regarding the Affordable Care Act</li>
              <li>You were incarcerated but are not incarcerated now</li>
              <li>You recently became a legal immigrant</li>
              <li>You are no longer eligible for Wisconsin BadgerCare</li>
              <li>You are aging out of Foster Care</li>
              <li>You are reaching age of 26 and will no longer be covered by your Parents insurance</li>
              <li>You applied in a timely manner through BadgerCare but were rejected and your application was not sent to the Marketplace in time to enroll there</li>
              <li>There were exceptional circumstances in your life like a natural disaster</li>
            </ul>

            <h3>Other special enrollment information:</h3>
            <p>If you are a member of a federally recognized tribe you can apply any time during the year through the Health Insurance Marketplace. This does not make you ineligible for Indian Health Services (IHS).</p>
            <p>Contact Workforce Connections at <a href="tel:+1-608-790-8136" aria-label="Click to call a Healthcare Navigator">608-790-8136</a></p>
            <p>Ask to talk to an Affordable Care Act Navigator! </p>
            <p>Navigators can also assist with filing for exemptions from the penalty for nothaving health insurance in 2016</p>
          </div>  <!-- end modal body -->          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>          
        </div>        
      </div>
    </div>  <!-- end modal -->
    
    <a href="#" role="button" class="btn btn-primary btn-block" aria-label="View Open Enrollment Events in Western Wisconsin" target="_blank"> Western WI Open Enrollment Events 2016-17 </a>
    
    <a href="#" role="button" class="btn btn-primary btn-block" aria-label="Read stories of those impacted by the Affordable Care Act" target="_blank"> Impact Stories </a>
  
  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
    <h2>What is Wisconsin Coverage Connections</h2>
    <p>Wisconsin Coverage Connections will provide extensive outreach and enrollment assistance in the small communities and rural areas of western Wisconsin to reach uninsured families with children. Kids who have health coverage are better prepared to do well in school and succeed in life. Medicaid and Children’s Health Insurance Program (CHIP) offer free or low-cost health insurance for kids and teens. Children can receive regular check-ups, immunizations, doctor and dentist visits and more.</p>
    <p>Navigators will provide training and conduct educational events at community events and individually to families who are eligible for the BadgerCare Plus program. For more information, call <a href="tel:+1-800-742-5627" aria-label="Click to call the Workforce Connections Inc. 800 number">800-742-5627</a> or <a href="tel:+1-608-790-8136" aria-label="Click to call a Healthcare Navigator">608-790-8136</a>.</p>
  </div> <!-- end col -->
  
</div><!-- end row -->


<div class="row">
  <div class="col-md-12">
    <h2>Additional Resources</h2>   
  </div> 
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eeb1WteC6Fo?rel=0" allowfullscreen aria-label="Play the video: Do you qualify for a special enrollment period?"></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-58VD3z7ZiQ?rel=0" allowfullscreen aria-label="Play the video: Health Insurance Explained - the YouToons have it covered"></iframe>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JZ7vmXh63Jw?rel=0" allowfullscreen aria-label="Play the video: Get lower costs on monthly premiums in the Health Insurance Marketplace"></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XOkPAANg3R8?rel=0" allowfullscreen aria-label="Play the video: How to choose a plan in the Health Insurance Marketplace"></iframe>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H3TDtGM8AMw?rel=0" allowfullscreen aria-label="Play the video: Who qualifies for an Affordable Care Act Exemption?"></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3ZhPJsUnmag?rel=0" allowfullscreen aria-label="Play the video: Health Matters to actor Kimberly Guerrero Coverage for american Indians and Alaska Natives"></iframe>
    </div>
  </div>
</div> 
