<div class="row">
    <div class="col-md-12">
      <h1>Board of Directors</h1>
    </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/boland1.jpg" alt="Ann Boland, Chair" style="width: 50%">
      <div class="card-block">
        <h3 class="card-title">Ann Boland </h3>
        <p>Chair</p>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/ring.jpg" alt="David Ring, Vice-Chair" style="width: 50%">
      <div class="card-block">
        <h3 class="card-title">David Ring</h3>
        <p>Vice-Chair</p>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
  <div class="col-md-4">
    <div class="card">
      <a data-toggle="modal" data-target="#zagrodnick">
         <img class="card-img-top" src="./images/board/zagrodnick1.jpg" alt="Kevin Zagrodnick, Secretary/Treasurer" style="width: 50%">
      </a>       
      <div class="modal fade" id="zagrodnick" tabindex="-1" role="dialog" aria-labelledby="zagrodnickLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">                
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="zagrodnickLabel">Kevin Zagrodnick</h4>
              </div>                
              <div class="modal-body">
                <p>Kevin Zagrodnick is a Commercial Loan Officer for River Bank and has provided loans and services to businesses of all sizes for 15 years.  Kevin graduated from UW-Whitewater with a Mathematics degree.  Kevin has been married to his wife, Jeri, for 17 years, has two boys, Eli (13) and Jacob (11), and is the reluctant owner of a dog, Cooper.  In his free time he enjoys being active; boating, biking, running, and watching sports are some of his hobbies. He has participated in several marathons and triathlons and completed a full Ironman.</p>
              </div>                
              <div class="modal-footer">
                <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
              </div>                
            </div> <!-- end modal-content -->
          </div> <!-- end modal dialog -->
      </div>  <!-- end modal -->
      <div class="card-block">
        <h3 class="card-title">Kevin Zagrodnick </h3>
        <p>Secretary/Treasurer</p>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
</div> <!-- end row --> 



<div class="row">  
  
  <div class="col-md-4">
    <div class="card">      
        <a data-toggle="modal" data-target="#bear">
          <img class="card-img-top" src="./images/board/bear.jpg" alt="Kur Bear, Director">
        </a>                                
        <div class="modal fade" id="bear" tabindex="-1" role="dialog" aria-labelledby="bearLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bearLabel">Kurt Bear</h4>
              </div>
              <div class="modal-body">
                <p>Kurt Bear, Business Developer for Mid-City Steel, is an accomplished Executive with both domestic and international experience in metal fabrication and construction management.  He is responsible for business growth, team development, and strategic thinking and has demonstrated success in market development, and has a track record of improved safety.  Kurt has served on the Workforce Connections, Inc. Board of Directors since 2007.  In addition, Kurt is the chairperson of The Upper Mississippi Manufacturing Alliance (TUMMA), serves as Vice Chair for the Mayo Clinic Health System Foundation Board, and is a Board member for Junior Achievement.  He is passionate about economic empowerment, education, science and technology and the environment.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
      <div class="card-block">
        <h3 class="card-title">Kurt Bear </h3>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/hlavacka.jpg" alt="Anne Hlavacka, Director">
      <div class="card-block">
        <h3 class="card-title">Anne Hlavacka</h3>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/long.jpg" alt="Karen Long, Director">
      <div class="card-block">
        <h3 class="card-title">Karen Long</h3>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
</div> <!-- end row --> 


<div class="row">  
  
  <div class="col-md-4">
    <div class="card">      
        <a data-toggle="modal" data-target="#menezes">
          <img class="card-img-top" src="./images/board/menezes.jpg" alt="Angela Menezes, Director">
        </a>                              
        <div class="modal fade" id="menezes" tabindex="-1" role="dialog" aria-labelledby="menezesLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="menezesLabel">Angela Menezes</h4>
              </div>
              <div class="modal-body">
                <p>Angela Menezes is a Human Capital Consultant and Business Partner for Logistics Health.  She has over 10 years of human resource experience, is successful in developing and implementing HR business plans across the organization and is skilled in supporting leadership in employee relations.  Angela has a Bachelor’s Degree and Masters of Business Administration (MBA) from Viterbo University.  In addition to being a board member for Workforce Connections, Angela holds professional certifications with the Senior Professional in Human Resource Certification (SPHR), is a LASHRM Member, and belongs to the La Crosse Jaycee’s.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
      <div class="card-block">
        <h3 class="card-title">Angela Menezes </h3>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li></li>
            <li></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li></li>
            <li></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
</div> <!-- end row --> 


<div class="row">  
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li></li>
            <li></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li></li>
            <li></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/board/" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li></li>
            <li></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
</div> <!-- end row --> 






  
  
    <!-- ==============   insert agenda and minutes PDF links here    ============== -->

  <div class="row">
    <div class="col-md-6">
      <h2>Agendas &amp; Minutes</h2>
    </div>
  </div>  <!-- end row -->

  
  <div class="row">
    <div class="col-md-6">
     <button type="button" class="btn btn-primary">
       <a href="" title="October 2016 PDF">October 2016</a> 
     </button>
    </div>

    <div class="col-md-6">
      <button type="button" class="btn btn-primar">
        <a href="" title="Annual Report 2016 PDF">Annual Report 2016</a>
      </button>
    </div>   
  </div>  <!-- end of row 1 -->

  <div class="row">
    <div class="col-md-6">
     <button type="button" class="btn btn-primary">
       <a href="" title="">placeholder</a> 
     </button>
    </div>

    <div class="col-md-6">
      <button type="button" class="btn btn-primar">
        <a href="" title="">placeholder</a>
      </button>
    </div>      
  </div>  <!-- end of row 2 -->

  <div class="row">
    <div class="col-md-6">
     <button type="button" class="btn btn-primary">
       <a href="" title="">placeholder</a> 
     </button>
    </div>

    <div class="col-md-6">
      <button type="button" class="btn btn-primar">
        <a href="" title="">placeholder</a>
      </button>
    </div>   
  </div>  <!-- end of row 3 -->

  <div class="row">
    <div class="col-md-6">
     <button type="button" class="btn btn-primary">
       <a href="" title="">placeholder</a> 
     </button>
    </div>

    <div class="col-md-6">
      <button type="button" class="btn btn-primar">
        <a href="" title="">placeholder</a>
      </button>
    </div>   
  </div>  <!-- end of row 4 -->


  <!-- insert open minutes/agendas here ? -->

<!-- </div> end container -->
