
<h3>Staff</h3>

<table class="table table-hover table-striped table-bordered">

    <tbody>
    
        <tr ng-repeat="buffalo in buffalo">
           <td>
             <ul>
               <li>{{ buffalo.name }}</li>
               <li>{{ buffalo.title }}</li>
               <li><i class="fa fa-mobile"></i> &nbsp; {{ buffalo.phone }}</li>
               <li><i class="fa fa-envelope-o"></i> &nbsp; {{ buffalo.email }}</li>
             </ul>      
          </td>
        </tr>
        
    </tbody>
</table>
