<div class="row">
  <div class="col-md-12">
    <img src="..." class="img-fluid" alt="">
  </div>
</div>


<div class="row">  
  <div class="col-md-6">
    <h3>Business Solutions</h3>
    <p>Workforce Connections, Inc. is a partner in the Wisconsin Job Center and provides a variety of business services. Services include, but are not limited to: outplacement, recruitment, retention, application screening, interviewing skills, employee opinion surveys, and other human resource services.</p>
  </div><!-- end col 1 -->    
  <div class="col-md-6">
    <h3>Business Opportunities</h3>
    <button type="button" class="btn btn-primary">Testimonial</button>
    <button type="button" class="btn btn-primary">Community Investment</button>
    <button type="button" class="btn btn-primary">Motivational Interviewing Training</button>
    <button type="button" class="btn btn-primary">Business Solutions Specialists</button>
  </div> <!-- end col 2 -->  
</div>
