<div class="row">
  <div class="col-md-12">
    <h1>Business Solutions</h1>
  </div>
</div>

<div class="row" role="presentation">
  <div class="col-md-12">
    <img src="images/corporate/business-solutions.JPG" class="header-img" alt="Business Solutions" />
  </div>
</div>

<div class="row">  
  <div class="col-sm-6">
    <h2>What is Business Solutions</h2>
    <p>Workforce Connections, Inc. is a partner in the Wisconsin Job Center and provides a variety of business services. Services include, but are not limited to: outplacement, recruitment, retention, application screening, interviewing skills, employee opinion surveys, and other human resource services.</p>
  </div><!-- end col 1 -->   
  
  
  <div class="col-sm-6">
    <h2>Business Opportunities</h2>
    
    <button type="button" class="btn btn-primary btn-block">
      <a href="pdf/LaCrosseSchoolDistrict.pdf" target="_blank" title="Open the La Crosse School District Testimonial PDF in a new tab">Testimonial (PDF)</a> 
    </button>
    
    <button type="button" class="btn btn-primary btn-block">
      <a href="./pdfs/press/EmpirePaysItForward.pdf" target="_blank" title="Open the Empire Testimonial PDF in a new tab">Community Investment (PDF)</a> 
    </button>
       
           
          
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#businessSolutions">Business Solutions Specialists</button>
    <!-- Modal -->
    <div class="modal fade" id="businessSolutions" tabindex="-1" role="dialog" aria-labelledby="businessSolutionsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="businessSolutionsLabel">Business Solutions Specialists</h4>
          </div>
          <div class="modal-body">
            <div>
              <ul>
                <li>Carol Wagenson</li>
                <li>Workforce Development Manager</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-792-3836">608-792-3836</a>
                </li>
                <li>
                  <a href="mailto:wagensonc@workforceconnections.org">
                    <i class="fa fa-envelope-o"></i> &nbsp; wagensonc@workforceconnections.org
                  </a> 
                </li>
              </ul>             
            </div>
          </div>    
          
          <div class="modal-body">
            <div>
              <ul>
                <li>Lisa Sheffield</li>
                <li>Job Developer</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-498-0772">608-498-0772</a>
                </li>
                <li>
                  <a href="mailto:sheffieldl@workforceconnections.org">
                    <i class="fa fa-envelope-o"></i> &nbsp; sheffieldl@workforceconnections.org
                  </a> 
                </li>
              </ul>             
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    
  </div> <!-- end col 2 -->  
</div>
