<div class="row">
  <div class="col-md-12">
    <img src="..." class="img-fluid" alt="">
  </div>
</div>


<div class="row">  
  <div class="col-md-6">
    <h3>Business Solutions</h3>
    <p>Workforce Connections, Inc. is a partner in the Wisconsin Job Center and provides a variety of business services. Services include, but are not limited to: outplacement, recruitment, retention, application screening, interviewing skills, employee opinion surveys, and other human resource services.</p>
  </div><!-- end col 1 -->    
  <div class="col-md-6">
    <h3>Business Opportunities</h3>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#testimonial">Testimonial</button>
    <!-- Modal -->
    <div class="modal fade" id="testimonial" tabindex="-1" role="dialog" aria-labelledby="testimonialLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="testimonialLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            hi hi hi
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#communityInvestment">Community Investment</button>
    <!-- Modal -->
    <div class="modal fade" id="communityInvestment" tabindex="-1" role="dialog" aria-labelledby="communityInvestmentLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="communityInvestmentLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            hi hi hi
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#motivationalInterviewing">Motivational Interviewing Training</button>
    <!-- Modal -->
    <div class="modal fade" id="motivationalInterviewing" tabindex="-1" role="dialog" aria-labelledby="motivationalInterviewingLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="motivationalInterviewingLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            hi hi hi
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#businessSolutions">Business Solutions Specialists</button>
    <!-- Modal -->
    <div class="modal fade" id="businessSolutions" tabindex="-1" role="dialog" aria-labelledby="businessSolutionsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="businessSolutionsLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            hi hi hi
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
    
  </div> <!-- end col 2 -->  
</div>
