<div class="row">
  <div class="col-md-12">
    <figure class="figure">
      <img src="" class="header-img" alt="Careers with WCI">
      <figcaption class="figure-caption">Careers</figcaption>
    </figure>    
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">
      <div class="card">
        <img src="images/work.jpg" class="img-fluid" alt="" />
        <div class="card-block">
          <h3 class="card-title">Job Openings</h3>
          <p class="card-text">The future of WCI will be shaped by our commitment to hiring the best talent.</p>
          <a ui-sref="job-openings" class="btn btn-primary">View Jobs</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-sm-6">
      <div class="card">
        <img src="images/work.jpg" class="img-fluid" alt="" />
        <div class="card-block">
          <h3 class="card-title">WCI Application</h3>
          <p class="card-text">Wanted: Amazing human beings, strong in heart, generous in spririt.</p>
          <a ui-sref="application" class="btn btn-primary">Apply now!</a>
        </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
      <div class="card">
        <img src="images/work.jpg" class="img-fluid" alt="" />
        <div class="card-block">
          <h3 class="card-title">Testimonials</h3>
          <p class="card-text">Hear what our employees have to say about working at WCI.</p>
          <a ui-sref="testimonials" class="btn btn-primary">Read Testimonials</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-sm-6">
      <div class="card">
        <img src="images/work.jpg" class="img-fluid" alt="" />
        <div class="card-block">
          <h3 class="card-title">Benefits Package</h3>
          <p class="card-text">Generous retirement plan, flexible leave, continuing education and more.</p>
          <a ui-sref="benefits" class="btn btn-primary">Check out our benefits!</a>
        </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->
