<div class="row">  
  <div class="col-md-12 header-spacing">
    <h2>Workforce Connections Careers</h2>    
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">
    <a ui-sref="job-postings" title="" target="_blank" aria-labelledby="Open job postings in new tab">
      <img src="images/careers/job-openings.jpg" class="img-fluid" alt="Click to view available positions" />
    </a>
  </div> <!-- end col --> 
  <div class="col-sm-6">
    <a ui-sref="application" title="" target="_blank" aria-labelledby="Open job application in new tab">
      <img src="images/careers/application.jpg" class="img-fluid" alt="Click to open the Workforce Connections, Inc. job application" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
    <a ui-sref="employee-testimonials" title="" target="_blank" aria-labelledby="Open employee testimonials in new tab">
      <img src="images/careers/testimonials.jpg" class="img-fluid" alt="Click to read employee testimonials" />
    </a>
  </div> <!-- end col --> 
  <div class="col-sm-6">
    <a ui-sref="employee-benefits" title="" target="_blank" aria-labelledby="Open employee benefits in new tab">
      <img src="images/careers/benefits.jpg" class="img-fluid" alt="Click to view Workforce Connections, Inc. employee benefits"  />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->
