<div class="row">
  <div class="col-md-12">
      <h1>Children First</h1>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row hidden-xs" role="presentation">
  <div class="col-md-12">
      <img src="images/programs/children-first.jpg" class="header-img" alt="" />
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  
  <div class="col-sm-6">
    <h2>What is Children First</h2>
    <p>Children First is designed to assist non-custodial parents in connecting with employment programs to increase child support payments to support their children. Workforce Connections, Inc. partners with the Child Support Agencies to provide assessment, case management, referrals, job search assistance, and supportive services to agency referrals.</p>
  </div>
  
  <div class="col-sm-6">
    <h2>Additional Information</h2>
    <p>Non-custodial parents living in Buffalo, Trempealeau, Juneau, Vernon, and Monroe counties may be eligible. Contact your County Child Support Worker or Workforce Connections, Inc. for more information: <a href="tel:855-418-9332" title="Call the Wisconsin Works hotline">855-418-9332</a>, or complete the <a ui-sref="request-services" title="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
  
  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#childFirstContacts" title="Open modal to view Children First contacts">Children First Contacts</button>
    <!-- Modal -->
    <div class="modal fade" id="childFirstContacts" tabindex="-1" role="dialog" aria-labelledby="childFirstContactsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="childFirstContactsLabel">Children First Contacts</h3>
          </div>
                   
          <div class="modal-body">
            <div>
              <ul>
                <li>Buffalo County Child Support Agency</li>
                <li>407 S 2nd St.</li>
                <li>Alma, WI 54610</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-498-0772" aria-label="Click to call Buffalo County Child Support Agency">608-498-0772</a>
                </li>             
              </ul>             
            </div>
            <div>
              <ul>
                <li>Crawford County Child Support Agency</li>
                <li>220 North Beaumont Road</li>
                <li>Prairie Du Chien, WI 53821</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-326-0218" aria-label="Click to call Crawford County Child Support Agency">608-326-0218</a>
                </li>             
              </ul>             
            </div>
            <div>
              <ul>
                <li>Juneau County Child Support Agency</li>
                <li>220 E La Crosse St.</li>
                <li>Mauston, WI 53948</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-847-9421" aria-label="Click to call Juneau County Child Support Agency">608-847-9421</a>
                </li>             
              </ul>             
            </div>
            <div>
              <ul>
                <li>Trempealeau County Child Support Agency</li>
                <li>36245 Main St</li>
                <li>Whitehall, WI 54773</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-715-538-2311" aria-label="Click to call Trempealeau County Child Support Agency">715-538-2311</a>
                </li>             
              </ul>             
            </div>
            <div>
              <ul>
                <li>Vernon County Child Support Agency</li>
                <li>400 Courthouse Square</li>
                <li>Viroqua, WI 54665</li>
                <li>
                  <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-637-5335" aria-label="Click to call Vernon County Child Support Agency">608-637-5335</a>
                </li>             
              </ul>             
            </div>
          </div>  <!-- end modal body -->          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>  <!-- end col -->
  
</div> <!-- end row -->
