
<h2>Staff</h2>

<table class="table table-hover table-striped table-bordered">

    <tbody>
    
        <tr ng-repeat="crawford in crawford">
           <td>
             <ul>
               <li>{{ crawford.name }}</li>
               <li>{{ crawford.title }}</li>
               <li><i class="fa fa-mobile"></i> &nbsp; {{ crawford.phone }}</li>
               <li><i class="fa fa-envelope-o"></i> &nbsp; {{ crawford.email }}</li>
             </ul>      
          </td>
        </tr>
        
    </tbody>
</table>
