<div class="row" role="presentation">
  <div class="col-md-12">
    <img src="images/county/crawford-county.JPG" class="header-img" alt="" />
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h1>Crawford County</h1>
  </div><!-- end col -->
</div><!-- end row -->

<!-- can use controller to add staff here? -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h2>Office Info</h2>  
      <ul>
        <li>By Appointment Only</li>
        <li>1304 South Marquette Road</li>
        <li>Prairie du Chien, WI 53821</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-326-2246">608-326-2246</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 608-326-2239
        </li>
      </ul>
    </div>
    
    <div> <!-- start staff contact info --> 
        <div class="card-block">
          <h3 class="card-title">Sarah Ferguson </h3>
          <ul>
              <li>Employment Coordinator</li>
              <li><a href="tel:1-608-433-2775"><i class="fa fa-phone-square" aria-hidden="true"></i>608-433-2775 </a></li>    
              <li><a href="mailto:fergusons@workforceconnections.org"><i class="fa fa-envelope" aria-hidden="true"></i>fergusons@workforceconnections.org </a></li>                
          </ul>
        </div>

        <div class="card-block">
          <h3 class="card-title">Frankie Mezera </h3>
          <ul>
              <li>Operations Coordinator</li>
              <li><a href="tel:1-608-792-8250"><i class="fa fa-phone-square" aria-hidden="true"></i>608-792-8250 </a></li>    
              <li><a href="mailto:mezeraf@workforceconnections.org"><i class="fa fa-envelope" aria-hidden="true"></i>mezeraf@workforceconnections.org </a></li>                
          </ul>
        </div>

    </div> <!-- end staff contact info -->   

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
       
    <h2>Programs</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="aca" aria-labelledby="">Affordable Care Act</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="emergency-assistance" aria-labelledby="">Emergency Assistance</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="fset" aria-labelledby="">Food Share Employment <br />
      &amp; Training (FSET)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="transportation-connections" aria-labelledby="">Transportation Connections</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="wioa" aria-labelledby="">Wisconsin Innovation <br />
        Opportunity Act (WIOA)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="w2" aria-labelledby="">Wisconsin Works (W2)</a>
    </button>
    
    <h2>Resources</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a href="" aria-labelledby="">Job Center of Wisconsin</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Visit Crawford County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Resource Guide (PDF)</a>
    </button>    
    
  </div> <!-- end col -->
  
</div> <!-- end row -->

