
<div class="row">
  <div class="col-md-12">
    <img src="" class="img-fluid" alt="">
  </div>
</div> <!-- end row -->


<div class="row">  
  <div class="col-md-12">
    <h2>What is Emergency Assistance</h2>
    <p>Emergency Assistance provides assistance with establishing permanent housing for persons with minor children who are facing homelessness, have an eviction or foreclosure notice or who have experienced a flood, fire, or other natural disaster. Services are available in Pepin, Buffalo, Trempealeau, Jackson, La Crosse, Monroe, Vernon and Crawford counties. For more information contact Workforce Connections, Inc. at <a href="tel:+1-855-418-9332">tel:855-418-9332</a>.</p>
  </div>
</div>
