<div class="row">
  <div class="col-md-12">
    <h1>Benefits for Full-Time Employees</h1>
    <p>Workforce Connections, Inc. is a performance driven, family friendly organization with an excellent benefit package to ensure our workforce is effectively compensated within a nonprofit environment. Our benefits for Full Time Employees (Employees who average 60 or more hours per pay period) include, but are not limited to the following: </p>
  </div> <!-- end col -->
</div>  <!-- end row -->

<!-- <div class="row">
  <div class="col-md-12">
    <p>Workforce Connections, Inc. is a performance driven, family friendly organization with an excellent benefit package to ensure our workforce is effectively compensated within a nonprofit environment. Our benefits for Full Time Employees (Employees who average 60 or more hours per pay period) include, but are not limited to the following: </p>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <h2>Paid Time Off</h2>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Fixed Holidays</strong></h3>
    <p>9 days per year. These paid holidays will be granted each year:</p>
  </div> <!-- end col -->
</div>  <!-- end row -->
 
<div class="row">
  <div class="col-sm-6">
    <ul>
      <li>New Year's Day</li>
      <li>Memorial Day</li>
      <li>Labor Day</li>
      <li>Day after Thanksgiving</li>
    </ul>
  </div>  <!-- end col -->
  <div class="col-sm-6">
    <ul>
      <li>Spring Holiday</li>
      <li>Independence Day</li>
      <li>Thanksgiving</li>
      <li>Winter Break (Dec. 24 &amp; 25)</li>
    </ul>
  </div> <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Accrued Leave</strong></h3>
    <p>Accrued annual leave is cumulative and is accrued by all regular employees at the following rates, based upon an 80-hour pay period. </p>
  </div> <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <colgroup>
        <col style="background-color: #0f0">
        <col span="3">
      </colgroup>
      <tr>
        <th>Employee Length of Service</th>
        <th>Hours Accrued</th>
        <th>Annual Leave (8-hour day)</th>
      </tr>
      <tr>
        <td>&lt; 1 Year</td>
        <td>4.5 hours per pay period</td>
        <td>14.625 days per year</td>
      </tr>
      <tr>
        <td>1-5 Years</td>
        <td>5.0 hours per pay period</td>
        <td>16.25 days per year</td>
      </tr>
      <tr>
        <td>6-10 Years</td>
        <td>5.5 hours per pay period</td>
        <td>17.875 days per year</td>
      </tr>
      <tr>
        <td>11-15 Years</td>
        <td>6.0 hours per pay period</td>
        <td>19.5 days per year</td>
      </tr>
      <tr>
        <td>16-20 Years</td>
        <td>6.5 hours per pay period</td>
        <td>21.125 days per year</td>
      </tr>
      <tr>
        <td>21-25 Years</td>
        <td>7.0 hours per pay period</td>
        <td>22.75 days per year</td>
      </tr>
      <tr>
        <td>&gt; 25 Years</td>
        <td>7.5 hours per pay period</td>
        <td>24.375 days per year</td>
      </tr>
    </table>
  </div> <!-- end col -->
</div>  <!-- end row -->


<div class="row">
  <div class="col-sm-12">
    <h3><strong>Personal Holidays</strong></h3>
    <p>In addition to accrued leave, employees who have been on staff for 3 months to 5 years, receive 2 personal days every calendar year; and for employees who have been on staff for more than five years, 3 personal days are available every calendar year. Personal days are prorated based on start date, and no carryover or pay out for personal days is available. </p>
    
    <h3><strong>Funeral Leave Pay</strong></h3>
    <p>In the event of a death, after notifying the supervisor, an employee may take three (3) days paid leave for immediate family member, or one (1) day pay leave for extended family member.</p>
    
    <h3><strong>Military Leave </strong></h3>
    <p>Military leave will be granted pursuant to Federal and State laws.</p>
    
    <h3><strong>Court Appearances</strong></h3>
    <p>Employees who are subpoenaed for court appearances related to agency business or for jury duty will be given the necessary leave of absence with full pay less any fee paid for the service. </p>
    
    <h3><strong>Family &amp; Medical Leave</strong></h3>
    <p>All employees who have worked for Workforce Connections, Inc. for 12 months and have worked at least 1,000 hours during those 12 months will be granted Family &amp; Medical Leave pursuant to Federal and State laws. Family &amp; Medical Leave is unpaid leave however employees may use any accrued sick, vacation, or personal holiday time for pay during leave. </p>
  </div> <!-- end col -->
</div>  <!-- end row -->




<div class="row">
  <div class="col-md-12">
    <h2>Insurance</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3><strong>Health Insurance</strong></h3>
    <p>Workforce Connections, Inc. provides the option to all staff to enroll in an HMO program. Workforce Connections, Inc. will pay 80% of the premium/month for coverage for group health insurance.</p>
    
    <h3><strong>Dental Insurance</strong></h3>
    <p>Workforce Connections, Inc. will pay 100% of single coverage or 90% of the premium/month for coverage for group dental insurance. </p>
    
    <h3><strong>Life Insurance</strong></h3>
    <p>Workforce Connections, Inc. will pay 100% of Group Life Insurance premiums up to $50,000 and up to $2,000 for dependent and up to $5,000 for spousal coverage. Group life insurance is provided at twice the employee's gross annual salary or wages updated annually, rounded up to the nearest thousand to a maximum of $75,000. The maximum amount allowable to staff over the age of 65 is $7,500. Premiums in excess of $50,000 for the employee and $2,000 for dependent/spousal coverage are taxable to the employee. </p>
    
    <h3><strong>Disability Insurance</strong></h3>
    <p>Workforce Connections, Inc. will provide a short and long-term disability program to employees who meet the eligibility criteria. Regular full-time employees with 12 months of consecutive service are eligible for short and long-term disability leave effective the first of the month following completion of 12 months of consecutive service. There are two levels of disability coverage, based upon the extent and duration of the work prohibiting condition.
</p>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <h2>Flexible Benefits / Retirement</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3><strong>Flexible Benefit Plan</strong></h3>
    <p> Employees may elect to have a portion of their paycheck put into an account
(before taxes) to pay for health care or dependent care expenses. </p>
    
    <h3><strong>Retirement Plan</strong></h3>
    <ul>
      <li><strong>Simplified Employee Pension (SEP) Plan:</strong>
        Workforce Connections, Inc. will contribute 6% of each employee's gross salary or wages to a Simplified Employment Pension (SEP) Plan. Employees must have completed six (6) months of continuous employment and be at least 21 years of age to participate. 
      </li>
      <li><strong>403(b) Tax Sheltered Annuity:</strong>
        An employee may elect to contribute additional amounts to a 403(b) tax-sheltered annuity through payroll deductions. Employees are solely responsible for assuring additional contributions do not exceed limits established by the IRS.
      </li>
    </ul>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <h2>Additional Benefits</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3><strong>Employee Assistance Program</strong></h3>
    <p>All employees and their family members will have an Employee Assistance Program available to them to assist them with personal or emotional problems, which may affect job performance. Participation is strictly voluntary, and confidentiality is guaranteed. </p>
    
    <h3><strong>Training &amp; Development</strong></h3>
    <p>As budgets permit, the agency pays for time, transportation, food, lodging, and fees for employee training opportunities. Employees, after successfully completing their orientation period of service, who are interested in furthering their educational training through an educational institution, will be reimbursed for some of the cost of books and/or tuition fees once the course is
successfully completed. </p>
  </div>
</div>
