<div class="row">
  <div class="col-sm-12">
    <h1>The Top 4 Reasons to Join the WCI Team</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6"  role="presentation">
      <img src="./images/staff/diktanast.JPG" alt="" class="logo-sm" />                           
  </div>  <!-- end col -->
  <div class="col-sm-6">
    <blockquote>
      <p><strong>I enjoy working at WCI because my coworkers and supervisors are supportive of both my personal and professional goals. Whatever your goals are, WCI does what they can to support and cultivate them. Because employees are able to grow and develop, the organization grows as well.</strong></p>
      <p>Tyler</p>
    </blockquote>
  </div>  <!-- end col -->
</div> <!-- end row --> 
                      

<div class="row">                        
   <div class="col-sm-6" role="presentation">
      <img src="./images/staff/zenkb.JPG" alt="" class="logo-sm" />                           
  </div>  <!-- end col -->                     
  <div class="col-sm-6">
    <blockquote>
      <p><strong>Working for a nonprofit organization such as WCI, you’re choosing to work here because you’re passionate about the clientele and you’re confident in your ability to help.</strong></p>
      <p>BethAnn</p>
    </blockquote>
  </div>  <!-- end col -->
</div> <!-- end row -->
  

<div class="row">                        
   <div class="col-sm-6"  role="presentation">
      <img src="./images/staff/franeks.jpg" alt="" class="logo-sm" />                           
  </div>  <!-- end col --> 
  <div class="col-sm-6">
    <blockquote>
      <p><strong>I enjoy working at WCI as every day is a new challenge and I am always learning. My co-workers are always fun and I appreciate the flexibility WCI allows me to keep activities, outside of work, a priority in my life as well.</strong></p>
      <p>Shannon</p>
    </blockquote>
  </div> <!-- end col -->
</div>  <!-- end row -->
  

<div class="row">                        
   <div class="col-sm-6"  role="presentation">
      <img src="./images/staff/amundsonp.jpg" alt="" class="logo-sm" />                           
  </div>  <!-- end col --> 
  <div class="col-sm-6">
    <blockquote>
      <p><strong>We all struggle at some point with work-life balances, and it is great to work for an organization that allows the flexibility to take care of this balance either by adjusting work schedule or working remotely with modern technology.</strong></p>
      <p>Pamela</p>
    </blockquote>
  </div>  <!-- end col -->
</div>  <!-- end row -->
