<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <img src="images/Pierce.jpg" class="img-responsive" alt="Teresa Pierce, Executive Director">
    </div> <!-- end col-md-3 -->

    <div class="col-md-9">
      <h3>A Note from our Executive Director</h3>
      <p>Welcome to our website!</p>
      <p>Whether you are reviewing our site to learn about a specific program, employment opportunity or just to learn more about us, we warmly welcome you!</p>
      <p>At WCI we do everything possible to exceed your expectations, and we hope you find all the information you are looking for and more; however, in the event there is something we missed, or you are looking for something different, please email me directly at <a href="mailto:piercet@workforceconnections.org">piercet@workforceconnections.org</a> and I will do what I can to assist you. </p>
      <p>Best Regards, <br /> Teresa Pierce</p>
    </div> <!-- end col-md-9 -->  

  </div> <!-- end row -->
</div>
