<div class="page-header">
    <h1>Foster Grandparents</h1>
</div>
    
<div class="row">   
  <div class="col-md-12">  
      <p style="text-align:center"><img src="./images/programs/foster_grandparents.png" width="60%" alt="" /></p>
  </div> <!-- end col -->
</div> <!-- end row -->   

<div class="row">   
  <div class="col-sm-6">  
    <h2>What is Foster Grandparent (FGP)</h2>
    <p>The Foster Grandparent Program places adults 55 and older in schools to serve as role models, tutors, and friends to children with exceptional needs who would benefit from the one-on-one attention a Foster Grandparent can offer.  The program provides a way for volunteers age 55 and over to stay active by tutoring children in reading and math.  These efforts produce higher academic performance, instill confidence, and boost self-esteem that results in improved class participation and school attendance.</p>
  </div> <!-- end col -->

  <div class="col-sm-6">  
    <h2>Additional Information</h2> 
    <p>FGP is available in participating elementary schools in La Crosse, Buffalo, Jackson, Pepin and Juneau counties.  Volunteers meeting eligibility requirements qualify for a stipend, meals, transportation costs, and more.  Click on the Volunteer benefits link below for complete details.  For more information on how to become a Foster Grandparent or a host school call <a href="tel:+1-608-317-9133">608-317-9133</a>, or complete the <a ui-sref="request-services" aria-label="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
  </div> <!-- end col -->
</div> <!-- end row --> 

<div class="row">
  <div class="col-md-6" style="text-align: center">
    <a href="https://www.nationalservice.gov/newsroom/press-releases/2017/wisconsin-receives-14-million-funding-senior-volunteer-programs" class="btn btn-green" target="blank" aria-label="Press release: Wisconsin receives $14 million in funding for senior volunteer programs will open in a new tab">Foster Grandparents Press Release</a>
  </div>
  <div class="col-md-6" style="text-align: center">
    <a href="https://www.nationalservice.gov/programs/senior-corps/senior-corps-programs/fostergrandparents" class="btn btn-green" target="blank" aria-label="Foster Grandparents video will open in a new tab.">Become a Foster Grandparent Volunteer</a>
  </div>
</div>
