<div class="row">
  <div class="col-md-12">
      <h1>FoodShare Employment &amp; Training (FSET)</h1>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row" role="presentation">
  <div class="col-md-12">
      <img src="images/programs/fset.jpg" class="header-img" alt="" />
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">    
    <h2>What is FSET</h2>
    <p>The FoodShare Employment &amp; Training (FSET) program is a no-cost program that helps FoodShare recipients build their job skills and find employment. Adults needing to meet the work requirement can participate in FSET to continue to receive FoodShare benefits.</p>    
  </div> <!-- end col -->    
  <div class="col-sm-6">
    <h2>Additional Information</h2>
    <p>Workforce Connections, Inc. will assist you in connecting with this program in your local area. For more information call <a href="tel:+1-800-742-5627" title="Call the Workforce Connections 800  number">800-742-5627</a>, or complete the <a ui-sref="request-services" title="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
  </div> <!-- end col -->  
</div> <!-- end row -->


<div class="row">
  <div class="col-sm-6">
  
    <button type="button" class="btn btn-primary btn-block btn-margin-btm" data-toggle="modal" data-target="#what-fset" aria-label="Open modal to view the FSET Overview">FSET Overview</button>    
    <!-- Modal HTML -->
    <div class="modal fade" id="what-fset" tabindex="-1" role="dialog" aria-labelledby="what-fsetLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="what-fsetLabel">FSET Overview</h3>
          </div>            
          <div class="modal-body">
            <p> The FSET program is funded through State of Wisconsin Department of Agriculture through Supplemental Nutrition Assistance Program (SNAP) Funds. </p>
            <p><a href="https://www.dhs.wisconsin.gov/foodshare/fset.htm" title="FSET">More information</a></p>
            <p>Workforce Connections, Inc. provides FSET services to voluntary individuals in Jackson, Juneau, Monroe, Vernon, Crawford, Buffalo, Trempealeau, and La Crosse Counties.  FSET program services are designed to assist those individuals eligible and receiving the FoodShare benefit in finding and maintaining employment.  FSET services include assessment, case management, job search assistance, referrals, work experience, workfare, education, self-employment, job retention services and supportive services to those voluntarily cooperating with the program.</p>
            <p>FSET is a VOLUNTARY employment and training program for recipients of FoodShare in Wisconsin. The primary goal of the FSET program is to help people gain employment. This goal is achieved by helping people increase skills and education and overcome barriers to employment.</p>
            <p>Ultimately, YOUR goals are OUR goals.</p>  
          </div>
          <div class="modal-footer">
            <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->  
    
    
    
   
    <button type="button" class="btn btn-primary btn-block btn-margin-btm" data-toggle="modal" data-target="#fset-services" aria-label="Open modal to view FSET Support Services">FSET Support Services</button>    
    <!-- Modal HTML -->
    <div class="modal fade" id="fset-services" tabindex="-1" role="dialog" aria-labelledby="fset-servicesLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="fset-servicesLabel">FSET Support Services</h3>
          </div>            
          <div class="modal-body">
            <p>Education</p>
            <ul>
              <li>GED/HSED classes</li>
              <li>Certified Training Programs</li>
              <li>Job Skills Training classes</li>
            </ul>
            
            <p>Job Search</p>
            <ul>
              <li>Resume Development</li>
              <li>Online profile assistance (including email, job boards, and online applications)</li>
              <li>Local job leads</li>
              <li>Job Club and job search workshops</li>
            </ul>
            
            <p>Work Experience</p>
            <ul>
              <li>Unpaid work experience at non-profit and for profit businesses</li>
              <li>Co-enrollment in other work program for work experience opportunities</li>
            </ul>
            
            <p>Support Services</p>
            <ul>
              <li>Gas cards or vouchers to reimburse travel for FSET activities</li>
              <li>Bus tickets/taxi tickets for FSET activities</li>
              <li>Work-related clothing and supplies</li>
              <li>Training costs</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->  
    
    
    
  
    <button type="button" class="btn btn-primary btn-block btn-margin-btm" data-toggle="modal" data-target="#nondiscrimination" aria-label="Open modal to view the USDA Nondescrimination Statement">USDA Nondescrimination Statement</button>    
    <!-- Modal HTML -->
    <div class="modal fade" id="nondiscrimination" tabindex="-1" role="dialog" aria-labelledby="nondiscriminationLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="nondiscriminationLabel">USDA Nondescrimination Statement</h3>
          </div>            
          <div class="modal-body">
            <p>In accordance with Federal civil rights law and U.S. Department of Agriculture (USDA) civil rights regulations and policies, the USDA, its Agencies, offices, and employees, and institutions participating in or administering USDA programs are prohibited from discriminating based on race, color, national origin, sex, religious creed, disability, age, political beliefs, or reprisal or retaliation for prior civil rights activity in any program or activity conducted or funded by USDA.</p>
            <p>Persons with disabilities who require alternative means of communication for program information (e.g. Braille, large print, audiotape, American Sign Language, etc.), should contact the Agency (State or local) where they applied for benefits. Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made available in languages other than English.</p>
            <p>To file a program complaint of discrimination, complete the USDA Program Discrimination Complaint Form, (AD-3027) found online at: <a href="http://www.ascr.usda.gov/complaint_filing_cust.html" title="file discrimination complaint" target=”_blank”>http://www.ascr.usda.gov/complaint_filing_cust.html</a>, and at any USDA office, or write a letter addressed to USDA and provide in the letter all of the information requested in the form. To request a copy of the complaint form, call <a href="tel:+1-866-632-9992">(866) 632-9992.</a> Submit your completed form or letter to USDA by:</p>
           
            <p>Mail:</p>
            <p>U.S. Department of Agriculture <br />
            Office of the Assistant Secretary for Civil Rights <br />
            1400 Independence Avenue, SW <br />
            Washington, D.C. 20250-9410</p>

            <p>Fax:</p>
            <p>202-690-7442</p>

            <p>Email:</p>
            <p><a href="mailto:program.intake@usda.gov">program.intake@usda.gov</a></p>
            <p>This institution is an equal opportunity provider.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->      
    
    
    
    
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#what-abawd" aria-label="Open modal to view the Able-Bodied Adults Without Dependents policy information">Able-Bodied Adults Without Dependents (ABAWD)</button>    
    <!-- Modal HTML -->
    <div class="modal fade" id="what-abawd" tabindex="-1" role="dialog" aria-labelledby="what-abawdLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="what-abawdLabel">Exemption Reasons</h3>
          </div>            
          <div class="modal-body">
            <p> ABAWD stands for "Able-Bodied Adults Without Dependents".  It is a federally-mandated policy within the SNAP (Supplemental Nutrition Assistance Program) or FoodShare program.  The following is a brief summary of the ABAWD policies.  It is not a comprehensive description.  For specific questions on ABAWD policy, please contact an eligibility worker through your Income Maintenance Consortium.</p>
            <p> The ABAWD policy is part of FoodShare and applies to some FoodShare recipients. It was first enacted with the passage of the PRWORA legislation in 1996. As a national program, states are required to apply time-limited benefit policies for ABAWDs. But many states, including Wisconsin, were able to receive a waiver from applying the ABAWD rules because of high unemployment. </p>
            <p>Wisconsin applied the ABAWD policies from 1998 - 2002. Wisconsin received a waiver beginning in 2002 due to our unemployment rate. The policy was re-implemented state-wide beginning on 4/1/15. </p>
            <p> An ABAWD is a FoodShare recipient who meets all of the following conditions:</p>
            <ul>
              <li>Is between 18 – 49 years old; and</li>
              <li>Is able to work; and</li>
              <li>Is not residing in a FoodShare household with a child under age 18 (child must be a member of the Food Unit even if the child is not eligible for FS); and</li>
              <li>Is not pregnant</li>
            </ul>
             <p>A FoodShare recipient who is subject to the ABAWD policy (and does not have an exemption), can continue to receive FoodShare benefits, but is limited to only receiving benefits for three months without meeting the work participation requirement during a 36-month period.</p>
            <p>If a recipient, who is subject to the ABAWD policy, meets the work requirement for a month, that month does not count towards the three month limit.  When an ABAWD recipient does not meet the work requirement for a month, one of the three time-limited benefit months is recorded.  Once three months have been recorded, the ABAWD-subject recipient loses FoodShare eligibility until:</p>
            <ul>
              <li>They meet the work requirement; or</li>
              <li>They gain an exemption; or</li>
              <li>They qualify for a "grace-period"; or</li>
              <li>They no longer are classified as an ABAWD; or</li>
              <li>The 36-month period expires and a new period starts</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->  
    
  </div>  <!-- end col -->
  
  
  <!-- =========================== 2nd column =========================== -->
  
  <div class="col-sm-6">    
    <button type="button" class="btn btn-primary btn-block">
      <a href="pdf/WWOpenEnrollmentEvents2016.pdf" target="_blank" aria-label="Open the FoodShare Employment and Training Program Flyer PDF in a new tab">Program Flyer (PDF)</a>
    </button>
    
    <button type="button" class="btn btn-primary btn-block btn-margin-btm" data-toggle="modal" data-target="#exempt-abawd" aria-label="Open modal to view Exemption Reasons">Exemption Reasons</button>    
    <!-- Modal HTML -->
    <div class="modal fade" id="exempt-abawd" tabindex="-1" role="dialog" aria-labelledby="exempt-abawdLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="exempt-abawdLabel">Exemption Reasons</h3>
          </div>            
          <div class="modal-body">
            <p>Many recipients who meet the ABAWD definition can be exempt from the work requirement.  The following are the allowable exemptions for the ABAWD requirements:</p>
            <ul>
                <li>Determined unfit for employment, which includes someone who is:
                  <ul>
                    <li>Receiving temporary or permanent disability benefits from the government or a private source; or</li>
                    <li>Mentally or physically unable to work, as determined by the IM agency; or</li>
                    <li>Verified as unable to work by a statement from a health care professional or a social worker.</li>
                  </ul>
                </li>
                <li>Receiving Unemployment Compensation (UC) or has applied for UC and is complying with UC work requirements;</li>
                <li>Regularly participating in an alcohol or other drug addiction (AODA) treatment or rehabilitation program;</li>
                <li>A student of higher education who is otherwise eligible for FoodShare;</li>
                <li>A high school student 18 years of age or older, attending high school at least half-time;</li>
                <li><span class="bold">Primary</span> caregiver of a dependent child under age 6 or an incapacitated person;</li>
                <li>Receiving transitional FS benefits; or</li>
                <li>Meeting the ABAWD work requirement outside of FSET through work and/or other allowable work program participation.  </li>
              </ul>
              <p>We can help you to report and verify your exemption claim but the FSET program cannot determine or approve an exemption for you.</p>
              <p>Even if you meet an exemption, you can still volunteer to receive services in the FSET program.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->      
                   
    <!-- Button HTML (to Trigger Modal) -->
    <button type="button" class="btn btn-primary btn-block btn-margin-btm" data-toggle="modal" data-target="#req-abawd" aria-label="Open modal to view Work Requirements">Work Requirements</button>    
    <!-- Modal HTML -->
    <div class="modal fade" id="req-abawd" tabindex="-1" role="dialog" aria-labelledby="req-abawdLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="req-abawdLabel">Work Requirements</h3>
          </div>            
          <div class="modal-body">
            <p>If your eligibility worker has determined you meet the ABAWD definition and that you do not have an exemption, you need to meet the work requirement to remain eligible for FoodShare. You can meet your monthly work requirements in one of three ways (see below) or through a combination of the first two ways.</p>
            <p>You can enroll in the FSET program as one way to meet your work requirements and maintain your FoodShare eligibility.</p>
            <ul>
              <li class="bold">Option 1</li>
                <p><span class="bold">Complete 80 hours Work/Employment a Month</span></p>
                <p>Work is defined as:</p>
                <ul>
                  <li>In exchange for money; or</li>
                  <li>In exchange for other goods or services (such as food, rent); or</li>
                  <li>Via self-employment; or</li>
                  <li>Unpaid work experience or community service</li>
                </ul>
                <p>You must provide verification to a FoodShare eligibility worker that you are completing the 80 hours through this option.</p>
                <p>Verification can include paystubs, employer verification, or self-employment report forms.</p>
                <p>If you are working less than 80 hours, you can enroll in a work program (option 2) to complete the remaining hours for each month.</p>

              <li class="bold">Option 2</li>
              <p><span class="bold">Participate 80 Hours a Month in a Work Program</span></p>
              <p>Allowable work programs include:</p>
                <ul>
                  <li>Children First</li>
                  <li>FSET</li>
                  <li>Refugee Cash Assistance</li>
                  <li>Refugee Employment and Training</li>
                  <li>Wisconsin Works (W-2)</li>
                  <li>Workforce Investment Act / Workforce Innovation &amp; Opportunity Act (WIA/WIOA)</li>
                  <li>Programs under Section 236 of the Trade Act</li>
                </ul>
                <p>If you participate in a program other than FSET for 80 or more hours a month, you must verify your participation with a FoodShare eligibility worker.</p>
                <p>You can do a combination of work and work program activities to meet your ABAWD Participation requirement.</p>

              <li>Option 3</li>
                <p><span class="bold">Participate in a Workfare Assignment:</span></p>
                <p>In FSET, you can complete a voluntary workfare assignment at a public agency or a private non-profit agency to meet your ABAWD work requirement.</p>
                <p>Your monthly participation in workfare is determined by dividing your monthly FoodShare amount by minimum wage.</p>
                <p>Example: If you receive $194 in FoodShare, your monthly Workfare hours are 27 ($194/$7.25) or about 7 hours per week.</p>
                <p>If you chose the Workfare option, you only need to complete the workfare hours instead of the full 80 hours each month.</p>
                <p>You can volunteer for additional hours in your workfare assignment or in any other activities in FSET, but only the Workfare hours would need to be completed to meet the work requirement for FoodShare.</p>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->
    
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target=”_blank” aria-labelledby="Open the work requirement for adults PDF in a new tab">The Work Requirement for Adults (PDF)</a>
    </button>
    
  </div>  <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
    <p>The FSET program is funded through State of Wisconsin Department of Agriculture through Supplemental Nutrition Assistance Program (SNAP) Funds.</p>
  </div> <!-- end col -->
</div> <!-- end row -->
