<div class="row">
  <div class="col-md-12">
      <img src="images/programs/fset.jpg" class="header-img" alt="FoodShare Employment &amp; Training (FSET)" />
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
      <h1>FoodShare Employment &amp; Training (FSET)</h1>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">    
    <h2>What is FSET</h3=2>
    <p>The FoodShare Employment &amp; Training (FSET) program is a no-cost program that helps FoodShare recipients build their job skills and find employment. Adults needing to meet the work requirement can participate in FSET to continue to receive FoodShare benefits.</p>    
  </div> <!-- end col -->    
  <div class="col-sm-6">
    <h2>Additional Information</h2>
    <p>Workforce Connections, Inc. will assist you in connecting with this program in your local area. For more information call <a href="tel:+1-800-742-5627">800-742-5627</a>, or complete the <a a ui-sref="request-services" aria-label="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
  </div> <!-- end col -->  
</div> <!-- end row -->


<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">FSET Overview</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">FSET Support Services</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">USDA Nondescrimination Statement</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Able-Bodied Adults Without Dependents (ABAWD)</a>
  </div>  <!-- end col -->
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Program Flyer</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Exemption Reasons</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Work Requirements</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">The Work Requirement for Adults</a>
  </div>  <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
    <p>The FSET program is funded through State of Wisconsin Department of Agriculture through Supplemental Nutrition Assistance Program (SNAP) Funds.</p>
  </div> <!-- end col -->
</div> <!-- end row -->
