<div class="row>
  <div class="col-md-12">
    <h2>Healthcare Navigators Making an Impact</h2>
  </div>
</div>
<div class="row>
  <div class="col-md-12">
    <p><strong>Navigating</strong> the world of healthcare amid a major life change such as a job loss is stressful. Workforce Connections healthcare navigators surpass expectations when applying their knowledge and providing direction for those struggling to navigate the myriad of healthcare options as they choose an appropriate plan for themselves and their family.</p>
    
    <p><strong>Velichka</strong> and her son came to the U.S. from Bulgaria to join her mother who has lived in the area for 16 years. Velichka speaks very little English but with her mother's assistance, they worked with Wanda, a WCI healthcare navigator, to obtain healthcare under the Affordable Care Act (ACA) and the Children's Health Insurance Program (CHIP). Wanda helped them secure an insurance plan on the marketplace as soon as they received required documentation of legal residence. Velichka now has peace of mind knowing that both she and her son have medical insurance as they become established in the country they now call home. Velichka is currently enrolled in an ESL class.</p>
    
    <p><strong>Elizabeth</strong> discovered Workforce Connections Navigators by clicking "Find Local Help" on the Healthcare.gov website. She had chosen a plan on the Marketplace but found she was having buyer's remorese due to the expensive premiums, and was seeking an unbiased opinion. The WCI Navigator helped Elizabeth understand that she could change plans and by thorough assessment helped her choose a plan that was more suitable for her needs. Elizabeth had received healthcare assistance in the past from other agencies, but appreciated that the WCI Navigator's help was unbiased and her knowledge was up-to-date wiht policy changes.</p>
    
    <p><strong>Mary Kay</strong> shares her Workforce Connections experience. <em>"I was overwhelmed by shoping for insurance for my husband on the Marketplace. From teh state of Wisconsin, I received Workforce Connection's number with information that they would help me navigate the Marketplace. I called to schedule an appointment. To my delight, they met me right in Viroqua, making the visit very easy. I was astounded and blown away by how they navigated, filled out all the questions, and provided all the information for me to easily make a decision. And, since the first meeting, I have used Workfoce Connections services two times with the same positive results. I am astounded by the services they offer. More people should take advantage of it!</em> </p>
  </div>
</div>
