<div class="row">
  <div class="col-sm-12">
    <p>In The News - April 25, 2016</p>
    <h2>Workforce Connections, Inc. Recognized by White House for Outstanding Health Care Enrollment</h2>
  </div>  <!-- end col -->
</div>  <!-- end row -->


<div class="row">
  <div class="col-sm-12">
    <p>
      <img src="" alt="" />
      Insert limage of wanda
    </p>
  </div>  <!-- end col -->
  <div class="col-sm-12">
    <p><strong>LA CROSSE - </strong>Wanda Palmer, Healthcare Navigator for Workforce Connections, Inc., received a phone call from DJ Patil, Chief Data Scientist for President Barack Obama. Patil called to thank the team for the work that is being done by Navigators for the Affordable Care Act (ACA). He stated, <em>“You are one of the best teams working to get the word out and helping folks get covered.”</em> </p>
    
    <p>The Affordable Care Act is a comprehensive health insurance reform, enacted in 2010, that has improved access, affordability, and quality in health care for Americans. Wanda Palmer, a 28-year employee of Workforce Connections, Inc., conducts Navigator services as part of a contract with Northwest CEP Inc. An ACA Navigator is an individual who istrained to help consumers, small businesses, and their employees as they look for health coverage options through the Marketplace, including completing eligibility and enrollment forms. These services are free to consumers.</p>
    
    <p>When asked by Patil if Palmer wanted to relay anything back to the President, Palmer stated, <em>“I hope we can continue the work we’ve done so far; hoping that we don’t lose the momentum that has taken us this far with whatever happens in politics this year.”</em> Patil assured Palmer that Washington is working on this.  </p>
    
    <p>Workforce Connections, Inc. is a federally designated 501(c) (3) private non-profit corporation devoted to connecting people with work and training through workforce development programs since 1983. For 33 years, Workforce Connections, Inc. has operated federal, state, and privately funded workforce development programs and has earned a reputation for excellence. With offices in the counties of Buffalo, Trempealeau, Jackson, La Crosse, Monroe, Juneau, Vernon, and Crawford in western Wisconsin, Workforce Connections, Inc. is positioned to provide employment and training services to businesses and eligible individuals</p>
    
    <p>For more information on ACA Healthcare Navigator services and Workforce Connections, Inc. contact: <a href="mailto:palmerw@workforceconnections.org" title="">palmerw@workforceconnections.org</a></p> or <a href="tel:+1-608-790-8136">608-790-8136</a>.</p>
    
    <p> -- end -- </p>
  </div>  <!-- end col -->
</div>  <!-- end row -->
