<!-- <div class="container-fluid"> -->
  
  <div class="row">
    <div class="col-md-12">
      <img src="../images/crs.JPG" alt="" />
    </div>
  </div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h2>Our History</h2>
  </div> <!-- end col -->
</div> <!-- end row -->


  <div class="row">

    <div class="col-md-6">
      <h2>Our Professional Experience</h2>
      <p>Workforce Connections, Inc. is a non-profit organization that partners with the One-Stop Wisconsin Job Centers partners. Since 1983, Workforce Connections, Inc. has assisted job seekers, laid-off workers, and youth with career planning, job search assistance, and skills training. In addition, employers are assisted with a wide array of services, including recruiting, retaining, and training of employees.</p>
      <p>As a non-profit organization, Workforce Connections, Inc. is flexible and able to mobilize easily and quickly to respond to employment priorities in the eight-county area which includes the counties of: Buffalo, Crawford, Jackson, Juneau, La Crosse, Monroe, Trempealeau, and Vernon. Workforce Connections, Inc. is led by a Board of Directors with representation from counties in western Wisconsin. The Board focuses on providing information to help residents of western Wisconsin manage their careers and local companies find skilled workers.</p>
    </div> <!-- end col -->

    <div class="col-md-6">
      <h2>Our Key Accomplishments</h2>
      <ul class="accomplishments">
        <li>The Coulee Region Volunteer Coordinators <em>"YES AmeriCorps Volunteers Award"</em></li>
        <li>Wisconsin Technical College District Boards Association <em>"Technical Education Champion Award"</em></li>
        <li>Member of Workforce Excellence Network of Department of Labor</li>
        <li>Proficiency Level Certification Award from the Wisconsin Fast Forward Award</li>
        <li>Enterprise National Award for Performance Excellence - Leadership</li>
        <li>Charter membership status in the Department of Labor Enterprise Network</li>
        <li>U.S. Dept. of Labor Presidential Award for <em>"Outstanding Private Industry Council"</em></li>
        <li>National Association of Counties <em>"Outstanding Program Achievement"</em></li>
        <li>Theodore E. Small <em>"Workforce Partnership Award"</em></li>      
      </ul>
    </div> <!-- end col -->

  </div> <!-- end row -->
<!-- </div> -->
