
<div class="row carousel-row">
  <div class="col-md-12">
  
    <div id="carouselHome" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
          <li data-target="#carouselHome" data-slide-to="1"></li>
          <li data-target="#carouselHome" data-slide-to="2"></li>
          <li data-target="#carouselHome" data-slide-to="3"></li>
        </ol>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p class="carousel-img">
              <a ui-sref="foster-grandparents" aria-label="Open Foster Grandparents Program page">
                <img src="images/programs/foster-grandparents-full.PNG" alt="">
              </a>   
            </p>
          </div>   <!-- end item -->
          
          <div class="item">
            <p class="carousel-img">
              <img src="images/aca.jpg" alt="Western WI Open Enrollment Events" />
              <div class="carousel-caption dark-caption">
                <h3>Western WI Open Enrollment Events</h3>
<!--
                <p><strong>Open Enrollment</strong> on the Health Insurance Marketplace is available from <strong>Nov. 1, 2016 - Jan. 31, 2017</strong>. Navigators provide <strong>free one-on-one assistance</strong> to answer questions and assist with enrollment. </p>
                <p>Hurry! <strong>Changes need to be made by Dec. 15</strong> to be effective Jan. 1, 2017</p>
-->
              </div>
            </p>
          </div>   <!-- end item -->
      
          <div class="item">
            <p class="carousel-img">
              <img src="images/BSol.JPG" alt="Workplace Essentials Skills Training" />
              <div class="carousel-caption dark-caption">
                <h3>Workplace Essentials Skills Training</h3>
<!--
                <p>Are your employees or potential new hires lacking basic workplace skills and professionalism? Weekly essential skills training classes will provide opportunities for individuals to learn the skills they need to be more valuable employees.</p>
                <p>WCI can design <strong>customized training</strong> opportunities to meet your business needs.</p>
-->
              </div>
            </p>
          </div>    <!-- end item -->
  
          <div class="item">
            <p class="carousel-img">
              <img src="images/aca.jpg" alt="Western WI Open Enrollment Events" />
              <div class="carousel-caption dark-caption">
                <h3>Western WI Open Enrollment Events</h3>
<!--
                <p><strong>Open Enrollment</strong> on the Health Insurance Marketplace is available from <strong>Nov. 1, 2016 - Jan. 31, 2017</strong>. Navigators provide <strong>free one-on-one assistance</strong> to answer questions and assist with enrollment. </p>
                <p>Hurry! <strong>Changes need to be made by Dec. 15</strong> to be effective Jan. 1, 2017</p>
-->
              </div>
            </p>
          </div> <!-- end item -->

        </div> <!-- end carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      
    </div> <!-- end carouselHome -->
  </div> <!-- end col-md-12 -->
<!-- </div> --> <!-- end row -->


<div class="row blocks">
  <div class="col-md-3 col-sm-6">    
    <div class="block2">
      <a ui-sref="business-solutions" aria-label="Go to the Business Solutions page">
        <h2>WE CONNECT</h2>
        <p>Impacting the community by collaborating to address workforce development needs</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->
      
  <div class="col-md-3 col-sm-6">
    <div class="block2">
      <a ui-sref="w2" aria-label="Go to the Wisconsin Works W2 program page">
        <h2>PEOPLE</h2>
        <p>Believing every individual deserves every opportunity to reach their full potential</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->
  
  <div class="col-md-3 col-sm-6">
    <div class="block3">
      <a ui-sref="job-seekers" aria-label="Go to the Job Seekers page">
        <h2>WORK</h2>
        <p>Promoting meaningful work to achieve independence and self-sufficiency</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->
  
  <div class="col-md-3 col-sm-6">
    <div class="block4">
      <a ui-sref="wioa" aria-label="Go to the Wiscosin Innovation and Opportunity Act WIOA program page">
        <h2>TRAINING</h2>
        <p>Providing education and training to reach potential and personal fulfillment</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->
  
</div> <!-- end row -->
