<!-- CAROUSEL REPLACEMENT -->  

<div class="row">
  <div class="col-sm-9 centered-text">
    <a ui-sref="foster-grandparents" title="Open the Foster Grandparents Program page">
      <img src="images/programs/foster-grandparents-full.PNG" class="img-lg" alt="" />                
    </a> 
    <!--
    <h2>Become a Foster Grandparent</h2>
    <p><a></a>608-789-5620</p>
    <img alt=""/>Insert Americorps Logo 
    -->
  </div> <!-- end col -->
  <div class="col-sm-3">
    <h2 class="centered-text">Welcome to Workforce Connections, Inc.!</h2>
    <p>Since 1983, Workforce Connections, Inc. has assisted job seekers, laid-off workers, and youth with career planning, job search assistance, and skills training.</p>
    <p>In addition, employers are assisted with a wide array of services, including recruiting, retaining, and training of employees. </p>
  </div> <!-- end col -->
</div> <!-- end row -->

 <div class="row">     
  <div class="col-sm-6">
    <a ui-sref="aca" title="Open the Affordable Care Act page">                
      <img src="images/programs/navigator-services.jpg" class="img-xl" alt="" />
    </a>        
    <h2 class="centered-text">Navigator Services available year-round at no cost!</h2>
    <ul>
      <li><span>One-on-one assistance</span> with BadgerCare enrollment or renewal at <span>any time</span> during the year.</li>
      <li>You may be eligible for a <span>special enrollment period</span> to get coverage on the Health Insurance Marketplace if you experience a qualifying life event.</li>
      <li>Call <a href="tel:+1-608-790-8136" title="Call a Healthcare Navigator">608-790-8136</a> or <a href="tel:+1-800-742-5627" title="Call the Workforce Connections Inc. 800 number">800-742-5627</a> with questions or to make an appointment at a location convenient to you!</li>
    </ul>
  </div> <!-- end col -->                                                                                 
  <div class="col-sm-6">
     <a ui-sref="http://www.news8000.com/news/users-concerned-over-future-of-affordable-care-act/249223131" title="Open News 8 Affordable Care Act article">
       <img src="images/programs/marketplace-help.jpg" class="img-xl" alt="" />                
    </a>
    <h2 class="centered-text">Need help navigating the Healthcare Marketplace?</h2>
    <p>Call <a href="tel:+1-608-790-8136" title="Call a Healthcare Navigator">608-790-8136</a> or <a href="tel:+1-800-742-5627" title="Call the Workforce Connections Inc. 800 number">800-742-5627</a> with questions or to make an appointment at a location convenient to you!</p>
  </div> <!-- end col -->   
  <!-- 
  <div class="col-sm-3 centered-text>
    <a ui-sref="w2" title="Open the Wisconsin Works Program page">
      <img src="images/programs/best-in-class.jpg" class="img-xl" alt="" />                
    </a>         
    <h2>Best in Class</h2>
    <p>Meet your employment and career goals!</p>
  </div> <!-- end col -->
</div> <!-- end row -->

                                                                            
                                                                            
<!-- BLOCKS -->  

<div class="row blocks padding-none">
  <div class="col-md-3 col-sm-6 padding-none">    
    <div class="block1">
      <a ui-sref="business-solutions" title="Go to the Business Solutions page">
        <h2>WE CONNECT</h2>
        <p>Impacting the community by collaborating to address workforce development needs</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->      
  <div class="col-md-3 col-sm-6 padding-none">
    <div class="block2">
      <a ui-sref="w2" title="Go to the Wisconsin Works W2 program page">
        <h2>PEOPLE</h2>
        <p>Believing every individual deserves every opportunity to reach their full potential</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->  
  <div class="col-md-3 col-sm-6 padding-none">
    <div class="block3">
      <a ui-sref="job-seeker" title="Go to the Job Seekers page">
        <h2>WORK</h2>
        <p>Promoting meaningful work to achieve independence and self-sufficiency</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->  
  <div class="col-md-3 col-sm-6 padding-none">
    <div class="block4">
      <a ui-sref="wioa" title="Go to the Wiscosin Innovation and Opportunity Act WIOA program page">
        <h2>TRAINING</h2>
        <p>Providing education and training to reach potential and personal fulfillment</p>
      </a>
    </div>
  </div> <!-- end col-md-3 -->  
</div> <!-- end row -->
