<div class="row">
  <div class="col-md-12">
    <h1>Impact Stories &amp; Statements</h1>
  </div>
</div>  <!-- end of row -->


<div class="row">
  <div class="col-md-12">
      <img src="images/stories/impact-stories.jpg" class="header-img" alt="" />
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Heather</h4>
        <p class="card-text">Cutbacks. It was a dreaded word that became a reality for Heather. In 2008, after working more than 8 years at... </p>
         <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#heather">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="heather" tabindex="-1" role="dialog" aria-labelledby="heatherLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="heatherLabel">Heather's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Cutbacks. It was a dreaded word that became a reality for Heather. In 2008, after working more than 8 years at a local nonprofit organization, she became a casualty of cutbacks. She was feeling good, however, when she was able to find a temporary position that she thought was going to become a permanent position. That did not happen and this time, with no severance package to fall back on Heather, was left searching for a job that would fit her unique skills while allowing her to pay the bills.</p>

                   <p>It was during the time of searching for a new job that Heather began attending workshops and meeting with an employment coordinator at Workforce Connections.</p>

                    <p><em>“In my very first workshop it became abundantly clear to me that I should have been there all along. The game had changed significantly since I graduated from college in 1995.”</em></p>

                    <p>Heather’s employment coordinator was able to assist Heather with interview clothes, fuel and support.</p>

                    <p><em>“They cheered me on when things went well and helped me to process when things didn’t. There was never any doubt that they all cared about me and wanted to see me succeed."</em></p>

                    <p>It was 10 months into the job searching process that Heather found the job she really wanted with the Salvation Army. She says the interview couldn’t have gone better, but she then received the dreaded letter informing her she had not been chosen for the position.</p>

                    <p>After the rejection letter, Heather says she did something she had never done before and something she learned at a workshop. She sent another thank you note acknowledging she was disappointed she wasn’t chosen for the position, but knew a difficult decision had to be made.</p>

                    <p>Later that day, she received a phone call wondering if she was interested in a seasonal position. Heather accepted. While waiting for the position to begin the person who was originally hired for the other position decided not to take the job. Heather was then offered the job she originally applied for.</p>

                    <p><em>“I have been the Volunteer Coordinator with The Salvation Army for just over four months now and everything is going very well. It’s all because I sent them a little note to say I am still interested, something that it would have never occurred to me to do before.”</em></p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div> <!-- end card block -->
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Rosana</h4>
        <p class="card-text">Rosana had medically verified barriers to employment including extreme anxiety when she enrolled in the W-2 program.</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#rosana">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="rosana" tabindex="-1" role="dialog" aria-labelledby="rosanaLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="rosanaLabel">Rosana's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Rosana had medically verified barriers to employment including extreme anxiety when she enrolled in the W-2 program.</p>

                  <p>She showed up to her appointments every week, always put in her best effort in. Her hard work paid off less than one month after enrolling in the program when she was hired at Menards.</p>

                  <p>She made quick strides at her job and was able to move from the cashier position to the coveted garden center and also began training for a service desk position. The cross-training has the potential to lead to management.</p>

                  <p>Rosana is loving her job and her anxiety has disappeared to the point where her therapist took her off all medication. She smiles all the time, works as many shifts as she’s given and is always willing to pick up shifts from her co-workers.</p>

                  <p><em>“Rosana is now able to pay her own rent and have money to live on. She couldn’t be happier.”</em></p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  
  <div class="col-md-3 col-sm-6">
    <div class="card last-card ">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Terrell</h4>
        <p class="card-text">Terrell Mallett had a big day March 22. The day marked the purchase of his first vehicle. Mallett purchased the...</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#terrell">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="terrell" tabindex="-1" role="dialog" aria-labelledby="terrellLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="terrellLabel">Terrell's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Terrell Mallett had a big day March 22. The day marked the purchase of his first vehicle. Mallett purchased the vehicle through Workforce Connections, Inc.’s Revolving Loan Program.</p>

                  <p>Mallett recently graduated from high school, is registered to begin classes at Western Technical College and also just started a new job at Men’s Warehouse. He needed a reliable vehicle to travel to and from work.</p>

                  <p>Mallett is definitely pleased with his new purchase, which was made at Eagle Motors in West Salem.</p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Becky</h4>
        <p class="card-text">Becky had the perception that all college students were young. It was a perception that was proved false to her when...</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#becky">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="becky" tabindex="-1" role="dialog" aria-labelledby="beckyLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="beckyLabel">Becky's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Becky had the perception that all college students were young. It was a perception that was proved false to her when she returned to college after losing her job as a Certified Nursing Assistant at Benedictine Manor in Arcadia when it closed in 2014.</p>

                  <p><em>"When I thought of college, I thought of all kids, but it's not. There's a lot of older people in school."</em></p>

                  <p>After losing her job, she began meeting with a Workforce Connections Employment Coordinator. Her employment coordinator helped Becky apply for unemployment, assisted with revamping her resume, and the two came up with a plan for Becky's future.</p>

                  <p>It was during these meetings that Becky decided to return to college to become a renal dialysis technician. Becky was also provided with transportation and tuition assistance through the Workforce Investment Act.</p>

                  <p>Becky has two semesters remaining at Chippewa Valley Technical College in Eau Claire and has made the President's List each of her previous semesters. She says going back to school after being out for 27 hasn't always been easy, but it's a decision she's glad she made.</p>

                  <p><em>"I've had a lot of support from my family, counselors at school, and my employment coordinator. I cannot say enough good things about these people."</em></p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
</div>  <!-- end of row 1 -->



<div class="row">
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Kim</h4>
        <p class="card-text">Kim enrolled in the W-2 program after being forced to leave her home and main support system behind after...</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#kim">Read More</button>
          <!-- Modal -->
          <div class="modal fade" id="kim" tabindex="-1" role="dialog" aria-labelledby="kimLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="kimLabel">Kim's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Kim enrolled in the W-2 program after being forced to leave her home and main support system behind after her father’s unexpected passing.</p>
                  <p>Kim never finished her high school education, had no child care for her daughter, no income, no car, and no independent housing.</p>
                  <p>After 9 months of hard work and the assistance of her employment coordinator, Kim has successfully achieved all of these things.</p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card last-card ">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Miranda</h4>
        <p class="card-text">"I don’t want to go back to prison. I have to have a job. I have to be able to take care of my son.” Miranda said those words...</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#miranda">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="miranda" tabindex="-1" role="dialog" aria-labelledby="mirandaLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="mirandaLabel">Miranda's Story</h4>
                </div>

                <div class="modal-body">
                  <p><em>“I don’t want to go back to prison. I have to have a job. I have to be able to take care of my son.”</em></p>
                  <p>Miranda said those words and is now living by them.</p>
                  <p>She came to Wisconsin Works (W-2), a program administered by Workforce Connections, Inc., with a newborn son and a criminal record after problems with methamphetamines had landed her in jail. She also came with the resolve to not go back to prison and to support herself and her son.</p>
                  <p>Miranda had been out of prison for a little more than a year and because of her record was having a hard time finding a job.</p>
                  <p><em>“I wasn’t going to lie on a job application. People see meth and it scares them. I’m not a bad person. I’m a hard worker. I made some bad decisions.”</em></p>
                  <p>Sarah Jackson of Workforce Connections, Inc. placed Miranda through the W-2 Trial Jobs program at TLC Center in La Crosse. TLC Center was started as a way of giving back to the community and offers clothing, furniture and other items at a low cost to its customers.</p>
                  <p>Sarah describes trial jobs as “a bridge between the W-2 program and employment” and it helps participants “feel like they are on their way.”</p>
                  <p>Within two weeks of starting at TLC, Miranda was offered a position and within six weeks of that she was promoted to a supervisory role.</p>
                  <p><em>“I was put there for a reason. It’s been a blessing; a major blessing.”</em></p>
                  <p>Sarah believes Miranda’s take-charge attitude has contributed to her successes.</p>
                  <p><em>“[Miranda] knew that she was at a crossroads in her life and she made the decision to carve out her path,” Sarah said. “She chose to be motivated, to succeed, and she was committed to performing with integrity on the work site.”</em></p>
                  <p>Miranda loves her job and the variety it offers her. Some days she spends sorting through donations while other days she spends running the Center and the Food Pantry.</p>
                  <p><em>“I really, really enjoy that. I get to meet all sorts of people and I get a sense of helping people. With my background it’s nice to be helping – not taking from the community anymore.”</em></p>
                  <p>Miranda said if she hadn’t taken the first step and come to Workforce Connections, Inc. she doesn’t know where she would be today.</p>
                  <p><em>“If I was still unemployed and had a new baby I would probably be a little down. I definitely would not have had this opportunity had I not come in [to Workforce Connections, Inc.].”</em></p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Tacarra</h4>
        <p class="card-text">Tacarra relocated to the La Crosse area in search of a larger city that offered more training and employment...</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#tacarra">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="tacarra" tabindex="-1" role="dialog" aria-labelledby="tacarraLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="tacarraLabel">Tacarra's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Tacarra relocated to the La Crosse area in search of a larger city that offered more training and employment opportunities. Before coming to the area, she provided in-home healthcare and other household support.</p>
                  <p>Tacarra came to Workforce Connections wanting to complete a Certified Nursing Assistant program, but without the money to pay for the program, she didn’t know how to get started on the life path she envisioned.</p>
                  <p>Workforce Connections was able to help her with tuition assistance as well as encouragement and became a place for her to ask questions.</p>
                  <p>After earning her CNA certificate, Tacarra was able to get a job and has quickly advanced in the company.</p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Mathew</h4>
        <p class="card-text">Mathew came to Workforce Connections with years of welding experience, a criminal record and was having a...</p>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#mathew">Read more</button>
          <!-- Modal -->
          <div class="modal fade" id="mathew" tabindex="-1" role="dialog" aria-labelledby="mathewLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="mathewLabel">Mathew's Story</h4>
                </div>

                <div class="modal-body">
                  <p>Mathew came to Workforce Connections with years of welding experience, a criminal record and was having a hard time finding a job. After meeting with his Employment Coordinator he decided to enroll in a welding skills institute held by Western Technical College.</p>
                  <p>The 12-week institute, held in Black River Falls, helped Mathew with his technical welding skills, which helped him find a temporary job at Bimbo Bakery. A few months later, he applied and was hired at Trane Company. He has been employed at the company since the end of July and enjoying his time there. Mathew believes perfect timing and the certificate he earned through the welding skills institute is what led to his employment.</p>
                  <p>Looking to the future, Mathew would like to continue his education in machining or welding.</p>
                </div>  <!-- end modal body -->          

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> <!-- end modal -->
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->  
</div>  <!-- end of row 2 -->


<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary" ui-sref="stories-archive">All Impact Stories</button>
  </div>  <!-- end col -->
</div>  <!-- end row -->
