
<div class="row">
  <div class="col-md-12">
    <img src="../images/jax.JPG" class="header-img" alt="Jackson County" />
  </div><!-- end col -->
</div><!-- end row -->

<!-- can use controller to add staff here? -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h2>Office Info</h2>  
      <ul>
        <li>By Appointment Only</li>
        <li>24 Fillmore Street</li>
        <li>Black River Falls, WI 54615</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-715-284-7117">715-284-7117</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 715-284-9681
        </li>
      </ul>
    </div>
    
    <div>  
      <div ui-view="jacksonStaff"></div>         
    </div> 

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
    
    <h2>Programs</h2>
    <a class="btn btn-primary btn-block" ui-sref="aca" role="button">Affordable Care Act</a>
    <a class="btn btn-primary btn-block" ui-sref="emergency-assistance" role="button">Emergency Assistance</a>
    <a class="btn btn-primary btn-block" ui-sref="fset" role="button">Food Share Employment &amp; Training (FSET)</a>
    <a class="btn btn-primary btn-block" ui-sref="transportation-connections" role="button">Transportation Connections</a>
    <a class="btn btn-primary btn-block" ui-sref="wioa" role="button">Wisconsin Innovation Opportunity Act (WIOA)</a>
    <a class="btn btn-primary btn-block" ui-sref="w2" role="button">Wisconsin Works (W2)</a>
    <a class="btn btn-primary btn-block" ui-sref="wise" role="button">Wisconsin Senior Employment (WISE - Title V)</a>
    
    <h2>Resources</h2>
    <a class="btn btn-primary btn-block" href="" role="button">Job Center of Wisconsin</a>
    <a class="btn btn-primary btn-block" href="" role="button">Visit Jackson County</a>
    <a class="btn btn-primary btn-block" href="" role="button">Resource Guide</a>
    
  </div> <!-- end col -->
  
</div> <!-- end row -->
