<div class="row">
  <div class="col-sm-12">
    <h1>Open Positions</h1>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <hr>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <p>Revised 4/1/17</p>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h2>Employment Coordinator</h2>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-6" role="presentation">
     <img src="./images/logos/wci-logo-color.png" alt="Workforce Connections Inc. logo" />
  </div>  <!-- end col -->
  
  <div class="col-sm-6">
    <ul>
      <li><strong>Location(s):</strong> La Crosse, Tomah </li>
      <li><strong>Supervisor:</strong> Program Manager</li>
      <li><strong>Wage Range:</strong> $16-$18/hour</li>
    </ul>    
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Position Summary</strong></h3> 
    <p>Under the supervision of the Programs Manager, the Employment Coordinator serves as a case manager
for all participants in Employment related programs operated under Workforce Connections. The
Employment Coordinator is responsible for determining eligibility for employment program services and
providing subsequent case management and services in accordance with program guidelines. 
    </p>
    
    <h3><strong>Minimum Qualifications</strong></h3> 
    <p>Bachelor’s degree preferred in a related field but will consider an associate’s degree with two to three
years’ experience. Prefer experience in working with disadvantaged populations including eligibility
determination and subsequent case management. Strong written, verbal and interpersonal skills required
including conflict resolution and problem solving. Ability to explain budgeting, financial concepts and
procedures. Work independently and as a strong team member. Ability to use appropriate computers
systems including CWW, CARES, ASSET, and Salesforce. A proficiency in the Windows operating
system and Microsoft Office Suite required.</p>
    
    <h3><strong>Primary Duties and Responsibilities</strong></h3> 
    <h4>Participant Services</h4>
    <ol>
      <li>Process program referrals and enroll participants into the related program timely.</li>
      <li>Perform applicant intake and eligibility determination for W-2 and related program services
including employment placement, job access loans, emergency assistance services, and other
services as required. Enters data into the CARES system.</li>
      <li>Provide for Basic and Individual Career and Training Service in accordance with WIOA law.</li>
      <li>Assess the participant’s work history, skills and aptitudes including educational levels or
certifications achieved.</li>
      <li>Assist participants in the creation of employability plan and monitor progress towards
achieving goals. Make revisions to plan or takes corrective action as necessary.</li>
      <li>Enter data into required reporting systems as necessary: CWW, CARES, ASSET, WCI
Database.</li>
      <li>Assist participants through case management services including assistance with employment
search, job retention &amp; advancement, life skills development, money management,
interpersonal safety, and other issues as appropriate.</li>
      <li>Refer participants to other appropriate community support services.</li>
      <li>Follow all State guidelines in the interpretation and explanation of federal, state, and local
policies governing legal rights and responsibilities of applicants and participants.</li>
      <li>Attend all required trainings to achieve and maintain status as a FSET case manager and as a “financial and employment planner”.</li>
      <li>Act as an advocate for the participant in resolving barriers to employment.</li>
      <li>Maintain client contact in accordance with Workforce Connections, Inc. guidelines.</li>
      <li>Provide excellent customer service to all clients.</li>
    </ol>
    
    <h3><strong>Oversight and Monitoring</strong></h3> 
    <ol>
      <li>Assess individual or family needs and provide referral(s) to access other services as needed.</li>
      <li>Assist participants through case management services including life skills development, money management, interpersonal safety, and other issues as appropriate.</li>
      <li>Monitor and report on the school attendance requirements for school-aged children and Personal Responsibility Plans and takes corrective action if necessary.</li>
      <li>Implement the employability plan and monitor participants’ progress toward achievement of goals and objectives and take corrective action if necessary.</li>
      <li>Work with others in the community to identify unsubsidized, community service, and W-2T jobs to meet participant needs.</li>
      <li>Meet and/or exceed performance expectations for all program operations.</li>
      <li>Maintain case files with proper verifications, service documentation. </li>
    </ol>
    
    <h3><strong>Other Duties as Assigned</strong></h3> 
    <ol>
      <li>Participate in program training sessions and workshops.</li>
      <li>Perform other duties as assigned.</li>
      <li>Follow all policy and performance procedures established by Workforce Connections.</li>
    </ol>
    
    <h3><strong>Physical/Sensory/Cognitive Requirements</strong></h3>
    <p>The majority of the work time will be spent in an office setting and in the community in a variety of settings assisting in achieving the goals and objectives of Workforce Connections, Inc. Mobility within the rural and urban community is required on a daily basis. Must be able to drive and have access to a reliable vehicle. Will be required to sit at a desk or in meetings for an extended period of time. Ability to present information and respond to questions from staff, board members, and the general public when speaking on the phone or in face-to-face interactions.
    </p>
    <p>Uses hearing and vision with the ability to collaborate and orchestrate in a variety of environments. Regular use of fine motor skills for writing or typing. Lifting of objects up to 30 pounds may be required. Bending and walking required regularly.
    </p>
    <p>Regularly will concentrate on multiple tasks simultaneously along with the capacity to respond calmly and quickly to deadlines required. Ability to interpret an extensive variety of technical instructions and deal with several abstract and concrete variables.
    </p>
    
    <h3><strong>Environmental Conditions</strong></h3>
    <p>Majority of work is performed in an office setting, community, and varied conditions. Outdoor travel
required.</p>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
   <div class="col-sm-12">
     <button type="button" class="btn btn-primary"
        <a ui-sref="application" target="_blank" aria-labelledby="Open Workforce Connections Inc job application in a new tab">Apply Now</a>
     </button>
  </div>
</div> <!-- end row -->


<!-- ===============  NEW JOB POSTING =============== -->

<div class="row">
  <div class="col-sm-12">
    <hr>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <p>Revised 4/11/17</p>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h2>Resource Coordinator</h2>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-6" role="presentation">
     <img src="./images/logos/wci-logo-color.png" alt="Workforce Connections Inc. logo" />
  </div>  <!-- end col -->
  <div class="col-sm-6">
    <ul>
      <li><strong>Location(s):</strong> La Crosse </li>
      <li><strong>Supervisor:</strong> Program Manager</li>
      <li><strong>Wage Range:</strong> $16-$18/hour</li>
    </ul>    
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h3><strong>Position Summary</strong></h3> 
    <p>Under the direct supervision of the Programs Manager, the Resource Coordinator serves as a support person to case managers in WCI programs and all WCI staff. The Resource Coordinator is responsible for being the first point of contact for customers to WCI services. They will process referrals, screen and assess participants for program eligibility, schedule and reschedule customer appointments, provide referrals to community resources and serve as the overall agency administrative support.
    </p>
    
    <h3><strong>Minimum Qualifications</strong></h3> 
    <p>Bachelor’s degree preferred in human services, administration, social services, or related field. Two or three years of experience in working with disadvantaged populations including eligibility determination and subsequent case management preferred. Strong, written, verbal and interpersonal skills required including conflict resolution, critical thinking, and problem solving. Work independently and as a strong team leader. Ability to use relevant computer systems include office equipment, CARES, CWW, and ASSET.
    </p>
    
    <h3><strong>Primary Duties and Responsibilities</strong></h3> 
    <h4>Technical Duties</h4>
    <ol>
      <li>Answer phones and direct calls to WCI staff.</li>
      <li>Assess customer needs and provide appropriate community resource referrals.</li>
      <li>Screen customers for program eligibility and appropriate services.</li>
      <li>Process program referrals timely.</li>
      <li>Schedule and reschedule customer appointments for case managers.</li>
      <li>Enter data into CWW, CARES, ASSET, and the WCI database.</li>
      <li>Process reports as needed.</li>
      <li>Meet required performance standards and contract expectations.</li>
      <li>Follow State guidelines in the interpretation and explanation of federal, state, and local policies governing legal rights and responsibilities of applicants and participants.</li>
      <li>Attend all required DCF/DHS/DWD training to achieve and maintain status and expertise to complete required job duties.</li>
    </ol>
    
    <h3><strong>Administration</strong></h3> 
    <ol>
      <li>Provide administrative support to the WCI corporate office.</li>
    </ol>
    
    <h3><strong>Other Duties as Assigned</strong></h3> 
    <ol>
      <li>Follow all policy and performance procedures established by Workforce Connections, Inc.</li>
      <li>Assist WCI Executive Director and Programs Managers as needed.</li>
    </ol>
    
    <h3><strong>Physical/Sensory/Cognitive Requirements</strong></h3>
    <p>The majority of the work time will be spent in an office setting and in the community in a variety of settings assisting in achieving the goals and objectives of Workforce Connections, Inc. Mobility within the rural and urban community is required on a daily basis. Must be able to drive and have access to a reliable vehicle. Will be required to sit at a desk or in meetings for an extended period of time. Ability to present information and respond to questions from staff, board members, and the general public when speaking on the phone or in face-to-face interactions.
    </p>
    <p>Uses hearing and vision with the ability to collaborate and orchestrate in a variety of environments. Regular use of fine motor skills for writing or typing. Lifting of objects up to 30 pounds may be required. Bending and walking required regularly
    </p>
    <p>Regularly will concentrate on multiple tasks simultaneously along with the capacity to respond calmly and quickly to deadlines required. Ability to interpret an extensive variety of technical instructions and deal with several abstract and concrete variables.
    </p>
    
    <h3><strong>Environmental Conditions</strong></h3>
    <p>Majority of work is performed in an office setting, community, and varied conditions. Outdoor travel required.</p>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
   <div class="col-sm-12">
     <button type="button" class="btn btn-primary"
        <a ui-sref="application" target="_blank" aria-labelledby="Open Workforce Connections Inc job application in a new tab">Apply Now</a>
     </button>
  </div>
</div> <!-- end row -->
