<div class="row">
    <div class="col-md-12">
       <h1>Job Seeker Services</h1>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row" role="presentation">
    <div class="col-md-12">
       <img src="images/corporate/job-seekers.jpg" class="header-img" alt="" />
    </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
    <h2>Wisconsin Job Centers</h2>
    <p>Western Wisconsin Job Centers provide services online and on-site in La Crosse and Tomah. Services include assistance with job search, referrals and placements; access to training; community resources; and re-employment services, unemployment insurance and job recruitment. Also available (at select locations) are specialized staff for veterans, business services, older workers, vocational rehabilitation, dislocated workers, National Career Readiness Certificate (NCRC) representatives, and apprenticeship program services. On-site resources include phones, internet access, fax machines, and job search computers.</p>
  </div><!-- end col  -->    
  
  <div class="col-sm-6">
    <h2>Additional Resources</h2>
    <a class="btn btn-primary btn-block" target="_blank" href="#" role="button" aria-labelledby="Open Employment Resources in a new tab">Employment Resources</a>
    
    <a class="btn btn-primary btn-block" target="_blank" href="#" role="button" aria-labelledby="Open the La Crosse Workshop calendar in a new tab">La Crosse Workshop Calendar</a>
    
    <a class="btn btn-primary btn-block" target="_blank" href="#" role="button" aria-labelledby="Open the Monroe Workshop calendar in a new tab">Monroe Workshop Calendar</a>
      
     <a class="btn btn-primary btn-block" target="_blank" href="https://www.glassdoor.com/Job/la-crosse-jobs-SRCH_IL.0,9_IC1133440.htm?jl=2440402999" role="button" aria-labelledby="Open Glassdoor.com in a new tab to view the La Crosse Jobs Overview in a new tab">La Crosse Jobs Overview</a>
    
    <a href="https://jobcenterofwisconsin.com/" target="_blank" aria-label="Open the Job Center of Wisconsin website in a new tab">
      <img src="images/logos/wi-jobcenter.jpg" alt="Job Center of Wisconsin" />
    </a>
  </div> <!-- end col2 -->  
</div> <!-- end row -->
