<div class="row">
  <div class="col-md-12">
    <img src="images/jser.jpg" class="img-fluid" alt="">
  </div>
</div>


<div class="row">  
  <div class="col-md-6">
    <h2>Wisconsin Job Centers</h2>
    <p>Western Wisconsin Job Centers provide services online and on-site in La Crosse and Tomah. Services include assistance with job search, referrals and placements; access to training; community resources; and re-employment services, unemployment insurance and job recruitment. Also available (at select locations) are specialized staff for veterans, business services, older workers, vocational rehabilitation, dislocated workers, National Career Readiness Certificate (NCRC) representatives, and apprenticeship program services. On-site resources include phones, internet access, fax machines, and job search computers.</p>
  </div><!-- end col 1 -->    
  
  <div class="col-md-6">
    <button type="button" class="btn btn-primary">Employment Resources</button>
    <button type="button" class="btn btn-primary">La Crosse Workshop Calendar</button>
    <button type="button" class="btn btn-primary">Monroe Workshop Calendar</button>
    <a href="https://jobcenterofwisconsin.com/">
      <img src="images/WisJC.JPG" alt="Job Center of Wisconsin" />
    </a>
  </div> <!-- end col 2 -->  
</div> <!-- end row -->
