
<div class="row">
  
  <div class="col-md-6">
    <img src="..." class="img-fluid" alt="Western WI counties">
  </div> <!-- end col -->
  
  
  <div class="col-md-6">
    <a class="btn btn-primary" ui-sref="buffalo" role="button">Buffalo County</a>
    
    <a class="btn btn-primary" ui-sref="crawford" role="button">Crawford County</a>
    
    <a class="btn btn-primary" ui-sref="jackson" role="button">Jackson County</a>
    
    <a class="btn btn-primary" ui-sref="juneau" role="button">Juneau County</a>
    
    <a class="btn btn-primary" ui-sref="lacrosse" role="button">La Crosse County</a>
    
    <a class="btn btn-primary" ui-sref="monroe" role="button">Monroe County</a>
    
    <a class="btn btn-primary" ui-sref="pepin" role="button">Pepin County</a>
    
    <a class="btn btn-primary" ui-sref="trempealeau" role="button">Trempealeau County</a>
    
    <a class="btn btn-primary" ui-sref="vernon" role="button">Vernon County</a>
  </div> <!-- end col -->
  
</div>
