
<div class="row">
  <div class="col-md-12">
    <h1>Counties We Serve</h1>
  </div>
</div>

<div class="row locations">  
  <div class="col-sm-6" role="presentation">
    <img src="images/county/locations.JPG" class="img-fluid" alt="">
  </div> <!-- end col -->  
  
  <div class="col-sm-6 location-list">        
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="buffalo" aria-labelledby="">Buffalo County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="crawford" aria-labelledby="">Crawford County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="jackson" aria-labelledby="">Jackson County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="juneau" aria-labelledby="">Juneau County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="lacrosse" aria-labelledby="">La Crosse County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="monroe" aria-labelledby="">Monroe County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="pepin" aria-labelledby="">Pepin County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="trempealeau" aria-labelledby="">Trempealeau County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="vernon" aria-labelledby="">Vernon County</a>
    </button>
  </div> <!-- end col -->
  
</div> <!-- end row -->
