
<div class="row">
  <div class="col-md-12">
    <h2>Counties We Serve</h2>
  </div>
</div>


<div class="row locations">
  
  <div class="col-md-8">
    <img src="images/wi2.JPG" class="img-fluid" alt="Western WI counties">
  </div> <!-- end col -->  
  
  <div class="col-md-4 location-list">
    <a class="btn btn-primary btn-block" ui-sref="buffalo" role="button">Buffalo County</a>    
    <a class="btn btn-primary btn-block" ui-sref="crawford" role="button">Crawford County</a>    
    <a class="btn btn-primary btn-block" ui-sref="jackson" role="button">Jackson County</a>    
    <a class="btn btn-primary btn-block" ui-sref="juneau" role="button">Juneau County</a>    
    <a class="btn btn-primary btn-block" ui-sref="lacrosse" role="button">La Crosse County</a>    
    <a class="btn btn-primary btn-block" ui-sref="monroe" role="button">Monroe County</a>    
    <a class="btn btn-primary btn-block" ui-sref="pepin" role="button">Pepin County</a>    
    <a class="btn btn-primary btn-block" ui-sref="trempealeau" role="button">Trempealeau County</a>    
    <a class="btn btn-primary btn-block" ui-sref="vernon" role="button">Vernon County</a>
  </div> <!-- end col -->
  
</div> <!-- end row -->
