
<div class="row">
  <div class="col-md-12">
      <img src="" alt="" />        
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">MISSION</h4>
        <p class="card-text">To connect people, work, and training while advancing self-sufficiency. We accomplish our mission by being financially sound, performance driven, value-based, well-trained, and dedicated to organizational development and stakeholder relationships.</p>
<!--         <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div> <!-- end col-md-4 -->
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">VISION</h4>
        <p class="card-text">To be recognized for providing solutions to people, businesses, and communities. With intelligence, integrity, and innovation we will be valued leaders in developing and connecting talent to the workforce.</p>
<!--         <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div> <!-- end col-md-4 -->
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">VALUES</h4>
        <p class="card-text">The core values embedded in our beliefs and daily performance include integrity, fairness, respect, compassion, dignity, empowerment, collaboration and responsibility.</p>
<!--         <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div> <!-- end col-md-4 -->
  
  
</div> <!-- end row -->
