 <div class="container-fluid"> 
   
  <div class="row">
    <div class="col-md-12">
      <p>
        <img src="images/hands.JPG" class="heading-img" alt="Mission, Vision and Values" />    
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h2>MISSION</h2>
        <p>To connect people, work, and training while advancing self-sufficiency. We accomplish our mission by being financially sound, performance driven, value-based, well-trained, and dedicated to organizational development and stakeholder relationships.</p>
      </div>
    </div> <!-- end col-md-4 -->

    <div class="col-md-4">
      <div class="card">
        <h2>VISION</h2>
        <p>To be recognized for providing solutions to people, businesses, and communities. With intelligence, integrity, and innovation we will be valued leaders in developing and connecting talent to the workforce.</p>
        </div>
    </div> <!-- end col-md-4 -->

    <div class="col-md-4">
      <div class="card">        
        <h2>VALUES</h2>
        <p>The core values embedded in our beliefs and daily performance include integrity, fairness, respect, compassion, dignity, empowerment, collaboration and responsibility.</p>
      </div>
    </div> <!-- end col-md-4 -->


  </div> <!-- end row -->
  
 </div> 
