<div class="row">
  <div class="col-md-12">
    <img src="images/craw.JPG" class="header-img" alt="Crawford County" />
  </div><!-- end col -->
</div><!-- end row -->

<!-- can use controller to add staff here? -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h2>Office Info</h2>  
      <ul>
        <li>Monday - Friday 8:00 - 4:30</li>
        <li>120 E. Milwaukee St</li>
        <li>Tomah, WI 54660</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-374-7740">608-374-7740</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 608-374-7741
        </li>
      </ul>
    </div>
    
    <div>  
      <div ui-view="monroeStaff"></div>         
    </div> 

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
    
    <h2>Programs</h2>
    <a class="btn btn-primary btn-block" ui-sref="aca" role="button">Affordable Care Act</a>
    <a class="btn btn-primary btn-block" ui-sref="children-first" role="button">Children First</a>
    <a class="btn btn-primary btn-block" ui-sref="emergency-assistance" role="button">Emergency Assistance</a>
    <a class="btn btn-primary btn-block" ui-sref="fset" role="button">Food Share Employment &amp; Training (FSET)</a>
    <a class="btn btn-primary btn-block" ui-sref="transportation-connections" role="button">Transportation Connections</a>
    <a class="btn btn-primary btn-block" ui-sref="wioa" role="button">Wisconsin Innovation Opportunity Act (WIOA)</a>
    <a class="btn btn-primary btn-block" ui-sref="w2" role="button">Wisconsin Works (W2)</a>
    
    <h2>Resources</h2>
    <a class="btn btn-primary btn-block" href="" role="button">Job Center of Wisconsin</a>
    <a class="btn btn-primary btn-block" href="" role="button">Workshop Calendar</a>
    <a class="btn btn-primary btn-block" href="" role="button">Visit Crawford County</a>
    <a class="btn btn-primary btn-block" href="" role="button">Resource Guide</a>
    
  </div> <!-- end col -->
  
</div> <!-- end row -->

