<div class="row" role="presentation">
  <div class="col-md-12">
    <img src="images/county/monroe-county.JPG" class="header-img" alt="" />
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h1>Monroe County</h1>
  </div><!-- end col -->
</div><!-- end row -->

<!-- can use controller to add staff here? -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h2>Office Info</h2>  
      <ul>
        <li>Monday - Friday 8:00 - 4:30</li>
        <li>120 E. Milwaukee St</li>
        <li>Tomah, WI 54660</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-374-7740">608-374-7740</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 608-374-7741
        </li>
      </ul>
    </div>
    
    <div>  <!-- start staff info -->
      <div class="card-block">
        <h3 class="card-title"> Melissa Hansen</h3>
        <ul>
            <li>Employment Coordinator – W2/FSET</li>
            <li>Monroe County</li>
            <li><a href="tel:1-608-433-2783"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-433-2783</a></li>    
            <li><a href="mailto:hansenm@workforceconnections.org"><i class="fa fa-envelope" aria-hidden="true"></i> hansenm@workforceconnections.org</a></li>                
        </ul>
      </div>

      <div class="card-block">
        <h3 class="card-title">Sadie Schultz </h3>
        <ul>
            <li>Employment Coordinator - FSET</li>
            <li>Monroe County</li>
            <li><a href="tel:1-608-785-7003"><i class="fa fa-phone-square" aria-hidden="true"></i>  608-785-7003</a></li>    
            <li><a href="mailto:schultzs@workforceconnections.org"><i class="fa fa-envelope" aria-hidden="true"></i> schultzs@workforceconnections.org</a></li>                
        </ul>
      </div>    
    </div> <!-- end staff info -->

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
   
    <h2>Programs</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="aca" aria-labelledby="">Affordable Care Act</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="children-first" aria-labelledby="">Children First</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="emergency-assistance" aria-labelledby="">Emergency Assistance</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="fset" aria-labelledby="">Food Share Employment <br />
        &amp; Training (FSET)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="transportation-connections" aria-labelledby="">Transportation Connections</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="wioa" aria-labelledby="">Wisconsin Innovation <br />
        Opportunity Act (WIOA)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="w2" aria-labelledby="">Wisconsin Works (W2)</a>
    </button>
    
    <h2>Resources</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a href="" aria-labelledby="">Job Center of Wisconsin</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Workshop Calendar (PDF)</a>
    </button> 
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Visit Monroe County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Resource Guide (PDF)</a>
    </button>    
    
  </div> <!-- end col -->
  
</div> <!-- end row -->

