<div class="row">  
  <div class="col-md-12 header-only-spacing">
    <img src="" class="header-img" alt="" />
    <h2>In the News</h2>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">
      <div class="card">
        <img src="images/news.jpg" class="news-img" alt="" />
        <div class="card-block">
          <h3 class="card-title">Receiving a Second Chance</h3>
          <p class="card-text">There’s a growing realization that it’s worth some effort to help people stay out of prison or jail after they’re released, and La Crosse County is helping lead the charge.</p>
          <a href="http://lacrossetribune.com/news/local/volunteer-mentors-key-to-second-chances-program/article_9ed4dfe3-ae95-578d-bc60-c3dbde4d415b.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-sm-6">
      <div class="card">
        <img src="images/news.jpg" class="news-img" alt="" />
        <div class="card-block">
          <h3 class="card-title">Best in Class Award</h3>
          <p class="card-text">Workforce Connections, Inc., received recognition for their work from the Department of
Children and Families’ Wisconsin Works (W-2) program. </p>
          <a href="../pdfs/W2BestInClass.pdf" class="btn btn-primary">Read more</a>
        </div>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
      <div class="card">
        <img src="images/news.jpg" class="news-img" alt="" />
        <div class="card-block">
          <h3 class="card-title">WCI Recognized by White House</h3>
          <p class="card-text">Wanda Palmer, Healthcare Navigator for Workforce Connections, Inc., received a phone call from DJ Patil, Chief Data Scientist for President Barack Obama.</p>
          <a href="../pdfs/RecognizedByWhiteHouse.pdf" class="btn btn-primary">Read more</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-sm-6">
      <div class="card">
        <img src="images/news.jpg" class="news-img" alt="" />
        <div class="card-block">
          <h3 class="card-title">Governor commends FSET Partnership</h3>
          <p class="card-text">Workforce Connections, Inc., received recognition for their work with Wisconsin’s FoodShare Employment and Training (FSET) program. </p>
          <a href="../pdfs/GovernorWalkerVisit.pdf" class="btn btn-primary">Read more</a>
        </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->





<div class="row">  
  <div class="col-md-12 header-spacing">
    <h2>Workforce Connections Newsletters</h2>    
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="images/newsletter.jpg" class="news-img margin-bottom" alt="" />
        <div class="card-block">
          <a ui-sref="" class="btn btn-primary">June 2016</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="images/newsletter.jpg" class="news-img margin-bottom" alt="" />
        <div class="card-block">
          <a ui-sref="" class="btn btn-primary">September 2016</a>
        </div>
      </div>
  </div> <!-- end col -->
  <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="images/newsletter.jpg" class="news-img margin-bottom" alt="" />
        <div class="card-block">
          <a ui-sref="" class="btn btn-primary">December 2016</a>
        </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->




