<div class="row">  
  <div class="col-md-12 header-spacing">
    <h2>In the News</h2>    
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">
      <div class="card">
        <img src="images/programs/second-chance.jpg" class="news-img" alt="" role="presentation" />
        <div class="card-block">
          <h3 class="card-title">Receiving a Second Chance</h3>
          <p class="card-text">There’s a growing realization that it’s worth some effort to help people stay out of prison or jail after they’re released, and La Crosse County is helping lead the charge.</p>
          <a href="http://lacrossetribune.com/news/local/volunteer-mentors-key-to-second-chances-program/article_9ed4dfe3-ae95-578d-bc60-c3dbde4d415b.html" class="btn btn-primary" title="Read more about volunteer mentors with the Second Chances Program">Read more</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-sm-6">
      <div class="card">
        <img src="images/programs/best-trophy.jpg" class="news-img" alt="" role="presentation" />
        <div class="card-block">
          <h3 class="card-title">Best in Class Award</h3>
          <p class="card-text">Workforce Connections, Inc. received recognition for their work from the Department of
Children and Families’ Wisconsin Works (W-2) program. </p>
          <a href="../pdfs/W2BestInClass.pdf" class="btn btn-primary" title="Read more about Workforce Connections' recognition for their work with the Wisconsin Works program">Read more</a>
        </div>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
      <div class="card">
        <img src="images/staff/palmerw.jpg" class="news-img" alt="" role="presentation" />
        <div class="card-block">
          <h3 class="card-title">WCI Recognized by White House</h3>
          <p class="card-text">Wanda Palmer, Healthcare Navigator for Workforce Connections, Inc., received a phone call from DJ Patil, Chief Data Scientist for President Barack Obama.</p>
          <a href="../pdfs/RecognizedByWhiteHouse.pdf" class="btn btn-primary" title="Read more about Workforce Connections' recognition by the White House for outstanding Healthcare Enrollment">Read more</a>
        </div>
      </div>
  </div> <!-- end col --> 
  <div class="col-sm-6">
      <div class="card">
        <img src="images/programs/bridging-gap.PNG" class="news-img" alt="" role="presentation" />
        <div class="card-block">
          <h3 class="card-title">Bridging the GAP</h3>
          <p class="card-text">Workforce Connections, Inc. uses technology to iprove participant engagement, streamline service delivery, and enlist volunteers  </p>
          <a href="https://csgjusticecenter.org/reentry/mentoring/posts/technology-bridges-distances-for-a-reentry-program-in-western-wisconsin/" class="btn btn-primary" title="Read more about Workforce Connections' use of technology to serve the Connections to Success program">Read more</a>
        </div>
      </div>
    
<!--     <div class="col-sm-6">
      <div class="card">
        <img src="images/news.jpg" class="news-img" alt="" role="presentation" />
        <div class="card-block">
          <h3 class="card-title">Governor commends FSET Partnership</h3>
          <p class="card-text">Workforce Connections, Inc. received recognition for their work with Wisconsin’s FoodShare Employment and Training (FSET) program. </p>
          <a href="../pdfs/GovernorWalkerVisit.pdf" class="btn btn-primary">Read more</a>
        </div>
      </div> -->
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">  
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" title="Open the Governor's Visit press release in a new tab">Governor's Visit</a>  
    </button>       
  </div> <!-- end col -->
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" title="Open the September 2016 newsletter in a new tab">September 2016 Newsletter</a>  
    </button> 
  </div> <!-- end col -->
</div> <!-- end row -->
