
<div class="row">
  <div class="col-md-12">
    <img src="images/pep.JPG" class="header-img" alt="Pepin County" />
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h2>Pepin County</h2>
  </div><!-- end col -->
</div><!-- end row -->

<!-- can use controller to add staff here? -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h3>Office Info</h3>  
      <ul>
        <li>By Appointment Only</li>
        <li>316 West Madison</li>
        <li>Durand, WI 54736</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-790-2380">608-790-2380</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 715-985-2173
        </li>
      </ul>
    </div>
    
    <div>  
      <div ui-view="pepinStaff"></div>         
    </div> 

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
    
    <h3>Programs</h3>
    <a class="btn btn-primary btn-block" ui-sref="aca" role="button">Affordable Care Act</a>
    <a class="btn btn-primary btn-block" ui-sref="emergency-assistance" role="button">Emergency Assistance</a>
    <a class="btn btn-primary btn-block" ui-sref="transportation-connections" role="button">Transportation Connections</a>
    <a class="btn btn-primary btn-block" ui-sref="w2" role="button">Wisconsin Works (W2)</a>
    
    <h2>Resources</h2>
    <a class="btn btn-primary btn-block" href="" role="button">Job Center of Wisconsin</a>
    <a class="btn btn-primary btn-block" href="" role="button">Visit Crawford County</a>
    <a class="btn btn-primary btn-block" href="" role="button">Resource Guide</a>
    
  </div> <!-- end col -->
  
</div> <!-- end row -->
