
<div class="row" role="presentation">
  <div class="col-md-12">
    <img src="images/county/pepin-county.JPG" class="header-img" alt="Pepin County" />
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h1>Pepin County</h1>
  </div><!-- end col -->
</div><!-- end row -->

<!-- can use controller to add staff here? -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h2>Office Info</h2>  
      <ul>
        <li>By Appointment Only</li>
        <li>316 West Madison</li>
        <li>Durand, WI 54736</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-790-2380">608-790-2380</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 715-985-2173
        </li>
      </ul>
    </div>
    
    <div>  <!-- start staff info -->
      <div class="card-block">
        <h class="card-title">Kristin Bell </h3>
        <ul>
            <li>Employment Coordinator - W2/FSET</li>
            <li>Jackson County</li>
            <li><a href="tel:1-608-790-2380"><i class="fa fa-phone-square" aria-hidden="true"></i>608-790-2380 </a></li>    
            <li><a href="mailto:bellk@workforceconnections.org"><i class="fa fa-envelope" aria-hidden="true"></i>bellk@workforceconnections.org </a></li>                
        </ul>
      </div>         
    </div>  <!-- end staff info -->

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
    <h2>Programs</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="aca" aria-labelledby="">Affordable Care Act</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="emergency-assistance" aria-labelledby="">Emergency Assistance</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="transportation-connections" aria-labelledby="">Transportation Connections</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="w2" aria-labelledby="">Wisconsin Works (W2)</a>
    </button>
    
    <h2>Resources</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a href="" aria-labelledby="">Job Center of Wisconsin</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Visit Pepin County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Resource Guide</a>
    </button> 
  </div> <!-- end col -->
  
</div> <!-- end row -->
