<div class="row">
    <div class="col-md-12">
      <h2>County Resources</h2>    
    </div> <!-- end col -->
  </div> <!-- end row -->
    
    
<div class="row locations">  
  <div class="col-md-8 col-sm-6">
    <img src="images/county/locations.JPG" class="img-fluid" alt="Western WI counties">
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6 location-list">
    <a class="btn btn-primary btn-block" href="" role="button">Buffalo County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Crawford County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Jackson County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Juneau County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">La Crosse County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Monroe County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Pepin County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Trempealeau County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Vernon County</a>
  </div> <!-- end col -->  
</div> <!-- end row -->
