<div class="row">
    <div class="col-md-12">
      <h1>County Resources</h1>    
    </div> <!-- end col -->
  </div> <!-- end row -->
    
    
<div class="row locations" role="presentation">  
  <div class="col-sm-6">
    <img src="images/county/locations.JPG" class="img-fluid" alt="" />
  </div> <!-- end col -->
  
  <div class="col-sm-6 location-list">
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Buffalo County resource guide PDF in a new tab">Buffalo County (PDF)</a> 
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Crawford County resource guide PDF in a new tab">Crawford County (PDF)</a>   
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Jackson County resource guide PDF in a new tab">Jackson County (PDF)</a> 
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Juneau County resource guide PDF in a new tab">Juneau County (PDF)</a> 
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the La Crosse  County resource guide PDF in a new tab">La Crosse County (PDF)</a>    
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Monroe County resource guide PDF in a new tab">Monroe County (PDF)</a>  
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Pepin County resource guide PDF in a new tab">Pepin County (PDF)</a> 
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" aria-labelledby="Open the Trempealeau County resource guide PDF in a new tab">Trempealeau County (PDF)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a href="#" target="_blank" role="button" aria-labelledby="Open the Vernon County resource guide PDF in a new tab">Vernon County (PDF)</a>
    </button>    
  </div> <!-- end col -->  
</div> <!-- end row -->
