<div class="row">  
  <div class="col-md-12">
    <img src="" class="header-img" alt="" />
  </div> <!-- end col -->
</div> <!-- end col -->

<div class="row">  
  <div class="col-md-12">
    <h2>Resource Guides</h2>
  </div> <!-- end col -->
</div> <!-- end row -->
    
    
<div class="row">  
  <div class="col-sm-6">
    <img src="images/wi2.JPG" class="img-fluid" alt="Western WI counties">
  </div> <!-- end col -->
  
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" href="" role="button">Buffalo County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Crawford County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Jackson County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Juneau County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">La Crosse County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Monroe County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Pepin County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Trempealeau County</a>    
    <a class="btn btn-primary btn-block" href="" role="button">Vernon County</a>
  </div> <!-- end col -->  
</div> <!-- end row -->
