<div class="row">
  <div class="col-md-12">
     <img src="images/jser.jpg" class="header-img" alt="Connecting to Second Chances">
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
     <h2>Connecting to Second Chances</h2>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  
  <div class="col-sm-6">
    <h3>What is the Second Chance Act</h3>
    <p>Connecting to Second Chances is designed to provide tools for successful re-entry into the community. Workforce Connections will help create and implement an action plan to overcome barriers through regular meetings with a mentor and employment coordinators. Participants have access to pre and post release services, mentoring partnerships, financial assistance, and connections to community resources to help aid in a successful transition.</p>
    <h3>Additional Information</h3>
    <p>Participants must be 18 years of age or older, currently in jail, prison or on electronic monitoring. Participants must have a release date within 3 months of enrollment and a desire to enter the workforce and/or educational training programs. For more information contact our Connections Coordinator: <a href="tel:+1-800-742-5627">800-742-5627</a>.</p>
  </div>  <!-- end col -->
  
  
  
  <div class="col-sm-6"> 
  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#secondChanceContacts">Second Chance Act Contacts</button>
    <!-- Modal -->
    <div class="modal fade" id="secondChanceContacts" tabindex="-1" role="dialog" aria-labelledby="secondChanceContactsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="secondChanceContactsLabel">Second Chance Act Contacts</h4>
          </div>
                   
          <div class="modal-body">
            <p>Workforce Connections, Inc. is recruiting Connections Coaches to assist with our 2nd Chance Act program! Connections Coaches are individuals who are willing to mentor newly released and incarcerated individuals, ages 18 and older, to help them effectively transition from the correctional system back into society. The Coach/Mentor will aid in this transition by providing positive life support and connections to resources that will be critical to their success. If you are the type of person who has the desire to help create a Second Chance for people, then this is the opportunity for you!</p>
            
            <p>A Connections Coach (mentor) will:</p>
            <ul>
              <li>Establish a positive relationship with participants</li>
              <li>Attend two, 4-hour trainings</li>
              <li>Provide one-to-one coaching activities</li>
              <li>Dedicate 3 hours a month with participants</li>
              <li>Devote a minimum of 6 months to coaching</li>
              <li>Meet monthly with Coach Coordinator</li>
            </ul>
            
            <p>Minimum Requirements:</p>
            <ul>
              <li>Be at least 21 years of age</li>
              <li>Provide own transportation (mileage reimbursement provided)</li>
              <li>Strong written, verbal, and interpersonal skills</li>
              <li>Powerful desire to help individuals create a second chance</li>
            </ul>
            
            <p>For more information or if you are interested in applying to be a Connections Coach/Mentor, please visit our <a ui-sref="" title="">Volunteer</a> page or call <a href="tel:+1-608-789-5620">608-789-5620</a> or<a href="tel:+1-800-742-5627">800-742-5627</a>.</p>
          </div>  <!-- end modal body -->          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->
    
    <a class="btn btn-primary btn-block" target="_blank" href="https://csgjusticecenter.org/reentry/mentoring/posts/technology-bridges-distances-for-a-reentry-program-in-western-wisconsin/" role="button">Bridging the Gap</a>
    
    <a class="btn btn-primary btn-block" target="_blank" href="http://lacrossetribune.com/news/local/volunteer-mentors-key-to-second-chances-program/article_9ed4dfe3-ae95-578d-bc60-c3dbde4d415b.html" role="button">Receiving a Second Chance</a>
    
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Impact Statements</a>    
    
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Program Flyer</a>
    
  </div>  <!-- end col -->
  
</div> <!-- end row -->
