<div class="row">
  <div class="col-md-12">
    <h1>Workforce Connections, Inc. Sitemap</h1>
    
    <ul>
      <li><a ui-sref="executive-director" title="">A word from our Executive Director</a></li>
      <li><a ui-sref="reports" title="">Annual Reports</a></li>
      <li><a ui-sref="application" title="">Application (Workforce Connections)</a></li>
      <li><a ui-sref="board" title="">Board of Directors</a></li>
      <li><a ui-sref="buffalo" title="">Buffalo County</a></li>
      
      <li><a ui-sref="business-solutions" title="">Business Solutions</a></li>
      <li><a ui-sref="careers" title=""></a>Careers</li>      
      <li><a ui-sref="children-first" title="">Children First</a></li>
      <li><a ui-sref="crawford" title="">Crawford County</a></li>
      <li><a ui-sref="emergency-assistance" title="">Emergency Assistance</a></li>
      
      <li><a ui-sref="employee-benefits" title="">Employee Benefits</a></li> 
      <li><a ui-sref="employee-benefits" title="">Employee Testimonials </a></li>
      <li><a ui-sref="foster-grandparents" title="">Foster Grandparents</a></li>
      <li><a ui-sref="fset" title="">FoodShare Employment &amp; Training (FSET)</a></li>
      <li><a ui-sref="healthcare-impact-stories" title="">Healthcare Impact Stories</a></li>
      
      <li><a ui-sref="history" title="">History</a></li>      
      <li><a ui-sref="home" title="">Home</a></li>
      <li><a ui-sref="impact-stories" title="">Impact Stories</a></li>
      <li><a ui-sref="impact-stories-archive" title="">Impact Stories Archive</a></li>
      <li><a ui-sref="jackson" title="">Jackson County</a></li>
      
      <li><a ui-sref="job-postings" title="">Job Postings (Workforce Connections)</a></li>      
      <li><a ui-sref="job-seeker" title="">Job Seeker Services</a></li>
      <li><a ui-sref="juneau" title="">Juneau County</a></li>
      <li><a ui-sref="lacrosse" title="">La Crosse County</a></li>
      <li><a ui-sref="locations" title="">Locations</a></li>
      
      <li><a ui-sref="mission" title="">Misson, Vision, &amp; Values</a></li>      
      <li><a ui-sref="news" title="">News</a></li>
      <li><a ui-sref="pepin" title="">Pepin County</a></li>     
      <li><a ui-sref="request-services" title="">Request Services</a></li>
      <li><a ui-sref="staff" title="">Staff Directory</a></li>
      
      <li><a ui-sref="trempealeau" title="">Trempealeau County</a></li>
      <li><a ui-sref="vernon" title="">Vernon County</a></li>
      <li><a ui-sref="volunteer" title="">Volunteer</a></li>
      <li><a ui-sref="w2" title="">Wisconsin Works (W2)</a></li>
      <li><a ui-sref="w2w" title="">Windows to Work</a></li>
      
      <li><a ui-sref="wioa" title="">Wisconsin Innovation &amp; Opportunity Act (WIOA)</a></li>
      <li><a ui-sref="wise" title="">Wisconsin Senior Employment (WISE-Title V)</a></li>
    </ul>
  </div> <!-- end col -->
</div>  <!-- end row -->
