<div class="row">
    <div class="col-md-12">
      <h1>Workforce Connections Staff</h1>
    </div> <!-- end col -->
</div> <!-- end row -->

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>A</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/amundsonp.jpg" alt="Pamela Amundson" />
      <div class="card-block">
        <h3 class="card-title">Pamela Amundson </h3>
        <ul>
            <li>Finance Manager - Fiscal</li>
            <li><a href="tel:1-608-789-5640"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-5640</a></li>    
            <li><a href="mailto:amundsonp@workforceconnections.org" title="Email Pamela Amundson"><i class="fa fa-envelope" aria-hidden="true"></i>Email Pamela </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>B</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/bellk.jpg" alt="Kristin Bell" />
      <div class="card-block">
        <h3 class="card-title">Kristin Bell </h3>
        <ul>
            <li>Employment Coordinator - W2/FSET</li>
            <li>Jackson County</li>
            <li><a href="tel:1-608-790-2380"><i class="fa fa-phone-square" aria-hidden="true"></i>608-790-2380 </a></li>    
            <li><a href="mailto:bellk@workforceconnections.org"  title="Email Kristin Bell"><i class="fa fa-envelope" aria-hidden="true"></i>Email Kristin </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/browng.jpg" alt="Gina Brown" />
      <div class="card-block">
        <h3 class="card-title">Gina Brown </h3>
        <ul>
            <li>W2 &amp; FSET Programs Manager</li>
            <li><a href="tel:1-608-386-1629"><i class="fa fa-phone-square" aria-hidden="true"></i>608-386-1629 </a></li>    
            <li><a href="mailto:browng@workforceconnections.org"  title="Email Gina Brown"><i class="fa fa-envelope" aria-hidden="true"></i>Email Gina</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/brownleea.jpg" alt="Andrea Brownlee" />
      <div class="card-block">
        <h3 class="card-title">Andrea Brownlee </h3>
        <ul>
            <li>Employment Coordinator - W2</li>
            <li>La Crosse County</li>
            <li><a href="tel:1-608-789-5646"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-5646 </a></li>    
            <li><a href="mailto:brownleea@workforceconnections.org"  title="Email Andrea Brownlee"><i class="fa fa-envelope" aria-hidden="true"></i>Email Andrea </a></li>                 
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->  
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>D</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/dewalde.JPG" alt="Erika Deal" />
      <div class="card-block">
        <h3 class="card-title">Erika Deal </h3>
        <ul>
            <li>Employment Coordinator - Title V</li>
            <li><a href="tel:1-608-789-5645"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-5645 </a></li>    
            <li><a href="mailto:deale@workforceconnections.org"  title="Email Erika Deal"><i class="fa fa-envelope" aria-hidden="true"></i>Email Erika </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card" >
      <img class="card-img-top" src="./images/staff/dwyerj.JPG" alt="Jennifer Dwyer" />
      <div class="card-block">
        <h3 class="card-title">Jennifer Dwyer </h3>
        <ul>
            <li>Employment Coordinator – W2</li>
            <li>La Crosse County</li>
            <li><a href="tel:1-608-789-6197"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-6197 </a></li>    
            <li><a href="mailto:dwyerj@workforceconnections.org"  title="Email Jennifer Dwyer"><i class="fa fa-envelope" aria-hidden="true"></i>Email Jennifer </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>F</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/nopic.JPG" alt="Sarah Ferguson" />
      <div class="card-block">
        <h3 class="card-title">Sarah Ferguson </h3>
        <ul>
            <li>Employment Coordinator</li>
            <li><a href="tel:1-608-433-2775"><i class="fa fa-phone-square" aria-hidden="true"></i>608-433-2775 </a></li>    
            <li><a href="mailto:fergusons@workforceconnections.org"  title="Email Sarah Ferguson"><i class="fa fa-envelope" aria-hidden="true"></i>Email Sarah</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/flueggek.jpg" alt="Kenda Fluegge" />
      <div class="card-block">
        <h3 class="card-title">Kenda Fluegge </h3>
        <ul>
            <li>Development Manager</li>
            <li><a href="tel:1-608-433-2778"><i class="fa fa-phone-square" aria-hidden="true"></i>608-433-2778 </a></li>    
            <li><a href="mailto:flueggek@workforceconnections.org"  title="Email Kenda Fluegge"><i class="fa fa-envelope" aria-hidden="true"></i>Email Kenda</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/franeks.jpg" alt="Shannon Franek" />
      <div class="card-block">
        <h3 class="card-title">Shannon Franek </h3>
        <ul>
            <li>Operations Coordinator - W2/FSET</li>
            <li><a href="tel:1-608-666-2223"><i class="fa fa-phone-square" aria-hidden="true"></i>608-666-2223 </a></li>    
            <li><a href="mailto:franeks@workforceconnections.org"  title="Email Shannon Franek"><i class="fa fa-envelope" aria-hidden="true"></i>Email Shannon </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>G</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/gadeg.JPG" alt="Gidget Gade" />
      <div class="card-block">
        <h3 class="card-title">Gidget Gade</h3>
        <ul>
            <li>Employment Coordinator – WIOA</li>
            <li>La Crosse County</li>
            <li><a href="tel:1-608-789-5610"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-789-5610</a></li>    
            <li><a href="mailto:gadeg@workforceconnections.org"  title="Email Gidget Gade"><i class="fa fa-envelope" aria-hidden="true"></i> Email Gidget</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>H</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/hansenm.jpg" alt="Melissa Hansen" />
      <div class="card-block">
        <h3 class="card-title"> Melissa Hansen</h3>
        <ul>
            <li>Employment Coordinator – W2/FSET</li>
            <li>Monroe County</li>
            <li><a href="tel:1-608-433-2783"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-433-2783</a></li>    
            <li><a href="mailto:hansenm@workforceconnections.org"  title="Email Melissa Hansen"><i class="fa fa-envelope" aria-hidden="true"></i> Email Melissa</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>L</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/larsona.jpg" alt="Amy Larson" />
      <div class="card-block">
        <h3 class="card-title">Amy Larson </h3>
        <ul>
            <li>Healthcare Navigator</li>
            <li>Foster Grandparent Program Director</li>
            <li><a href="tel:1-608-317-9133"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-317-9133</a></li>    
            <li><a href="mailto:larsona@workforceconnections.org"  title="Email Amy Larson"><i class="fa fa-envelope" aria-hidden="true"></i>Email Amy </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>M</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/merrellg.jpg" alt="Gina Merrell" />
      <div class="card-block">
        <h3 class="card-title">Gina Merrell </h3>
        <ul>
            <li>Employment Coordinator - FSET</li>
            <li>La Crosse County</li>
            <li><a href="tel:1-608-789-5642"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-789-5642</a></li>    
            <li><a href="mailto:merrellg@workforceconnections.org"  title="Email Gina Merrell"><i class="fa fa-envelope" aria-hidden="true"></i> Email Gina</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/mezeraf.jpg" alt="Frankie Mezera" />
      <div class="card-block">
        <h3 class="card-title">Frankie Mezera </h3>
        <ul>
            <li>Operations Coordinator</li>
            <li><a href="tel:1-608-792-8250"><i class="fa fa-phone-square" aria-hidden="true"></i>608-792-8250 </a></li>    
            <li><a href="mailto:mezeraf@workforceconnections.org"  title="Email Frankie Mezera"><i class="fa fa-envelope" aria-hidden="true"></i>Email Frankie </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/mouax.jpg" alt="Xai Moua" />
      <div class="card-block">
        <h3 class="card-title">Xai Moua </h3>
        <ul>
            <li>Job Developer</li>
            <li><a href="tel:1-608-498-0772"><i class="fa fa-phone-square" aria-hidden="true"></i>608-498-0772 </a></li>    
            <li><a href="mailto:mouax@workforceconnections.org"  title="Email Xai Moua"><i class="fa fa-envelope" aria-hidden="true"></i> Email Xai</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

    

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>N</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/norstenk.jpg" alt="Kelly Norsten" />
      <div class="card-block">
        <h3 class="card-title">Kelly Norsten </h3>
        <ul>
            <li>WIOA &amp; Title V Programs Manager</li>
            <li><a href="tel:1-608-789-6094"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-6094 </a></li>    
            <li><a href="mailto:norstenk@workforceconnections.org"  title="Email Kelly Norsten"><i class="fa fa-envelope" aria-hidden="true"></i>Email Kelly </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>O</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/nopic.JPG" alt="Faith Oliver" />
      <div class="card-block">
        <h3 class="card-title">Faith Oliver </h3>
        <ul>
            <li>Employment Coordinator - FSET</li>
            <li>La Crosse County</li>
            <li><a href="tel:1-08-433-2774"><i class="fa fa-phone-square" aria-hidden="true"></i> 08-433-2774</a></li>    
            <li><a href="mailto:oliverf@workforceconnections.org"  title="Email Faith Oliver"><i class="fa fa-envelope" aria-hidden="true"></i>Email Faith </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row -->  

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>P</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/palmerw.jpg" alt="Wanda Palmer" />
      <div class="card-block">
        <h3 class="card-title"> Wanda Palmer</h3>
        <ul>
            <li>Healthcare Navigator</li>
            <li><a href="tel:1-608-790-8136"><i class="fa fa-phone-square" aria-hidden="true"></i>608-790-8136 </a></li>    
            <li><a href="mailto:palmerw@workforceconnections.org"  title="Email Wanda Palmer"><i class="fa fa-envelope" aria-hidden="true"></i> Email Wanda</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/piercet.jpg" alt="Teresa Pierce" />
      <div class="card-block">
        <h3 class="card-title"> Teresa Pierce</h3>
        <ul>
            <li>Executive Director</li>
            <li><a href="tel:1-608-785-9938"><i class="fa fa-phone-square" aria-hidden="true"></i>608-785-9938 </a></li>    
            <li><a href="mailto:piercet@workforceconnections.org"  title="Email Teresa Pierce"><i class="fa fa-envelope" aria-hidden="true"></i>Email Teresa </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>S</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/scarborougha.jpg" alt="Amy Scarborough" />
      <div class="card-block">
        <h3 class="card-title"> Amy Scarborough</h3>
        <ul>
            <li>Operations Coordinator - WIOA</li>
            <li><a href="tel:1-608-789-5604"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-5604 </a></li>    
            <li><a href="mailto: scarborougha@workforceconnections.org"  title="Email Amy Scarborough"><i class="fa fa-envelope" aria-hidden="true"></i> Email Amy</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
    
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/schulzs.jpg" alt="Sadie Schultz" />
      <div class="card-block">
        <h3 class="card-title">Sadie Schultz </h3>
        <ul>
            <li>Employment Coordinator - FSET</li>
            <li>Monroe County</li>
            <li><a href="tel:1-608-785-7003"><i class="fa fa-phone-square" aria-hidden="true"></i>  608-785-7003</a></li>    
            <li><a href="mailto:schultzs@workforceconnections.org"  title="Email Sadie Schultz"><i class="fa fa-envelope" aria-hidden="true"></i> Email Sadie</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/snyderd.jpg" alt="Della Snyder" />
      <div class="card-block">
        <h3 class="card-title"> Della Snyder</h3>
        <ul>
            <li>Employment Resource Coordinator</li>
            <li>La Crosse County</li>
            <li><a href="tel:1-608-789-5641"><i class="fa fa-phone-square" aria-hidden="true"></i>608-789-5641 </a></li>    
            <li><a href="mailto:snyderd@workforceconnections.org"  title="Email Della Snyder"><i class="fa fa-envelope" aria-hidden="true"></i>Email Della</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 
    
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/stainbrookt.jpg" alt="Teri Stainbrook" />
      <div class="card-block">
        <h3 class="card-title"> Teri Stainbrook</h3>
        <ul>
            <li>Employment Coordinator - FSET</li>
            <li>Juneau County</li>
            <li><a href="tel:1-608-847-4899"><i class="fa fa-phone-square" aria-hidden="true"></i>608-847-4899 </a></li>    
            <li><a href="mailto:stainbrookt@workforceconnections.org"  title="Email Teri Stainbrook"><i class="fa fa-envelope" aria-hidden="true"></i> Email Teri</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 
    

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>T</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/taylorp.jpg" alt="Pam Taylor" />
      <div class="card-block">
        <h3 class="card-title">Pam Taylor </h3>
        <ul>
            <li>Employment Coordinator - WIOA</li>
            <li>Trempealeau, Buffalo, Jackson Counties</li>
            <li><a href="tel:1-608-317-0830"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-317-0830 </a></li>    
            <li><a href="mailto:taylorp@workforceconnections.org"  title="Email Pam Taylor"><i class="fa fa-envelope" aria-hidden="true"></i>Email Pam </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/turners.jpg" alt="Sandy Turner" />
      <div class="card-block">
        <h3 class="card-title">Sandy Turner </h3>
        <ul>
            <li>Employment Coordinator - WIOA</li>
            <li>Juneau County</li>
            <li><a href="tel:1-608-790-8137"><i class="fa fa-phone-square" aria-hidden="true"></i> 608-790-8137</a></li>    
            <li><a href="mailto:urners@workforceconnections.org"  title="Email Sandy Turner"><i class="fa fa-envelope" aria-hidden="true"></i>Email Sandy </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>W</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/wagensonc.jpg" alt="Carol Wagenson" />
      <div class="card-block">
        <h3 class="card-title"> Carol Wagenson</h3>
        <ul>
            <li>Workforce Development Manager</li>
            <li><a href="tel:1-608-792-3836"><i class="fa fa-phone-square" aria-hidden="true"></i>608-792-3836 </a></li>    
            <li><a href="mailto:wagensonc@workforceconnections.org"  title="Email Carol Wagenson"><i class="fa fa-envelope" aria-hidden="true"></i> Email Carol</a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="./images/staff/wardj.jpg" alt="Jonathan Ward" />
      <div class="card-block">
        <h3 class="card-title"> Jonathan Ward</h3>
        <ul>
            <li>Employment Coordinator</li>
            <li>Vernon County</li>
            <li><a href="tel:1-608-433-2768"><i class="fa fa-phone-square" aria-hidden="true"></i>608-433-2768 </a></li>    
            <li><a href="mailto:wardj@workforceconnections.org"  title="Email Jonathan Ward"><i class="fa fa-envelope" aria-hidden="true"></i>Email Jonathan </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 
