<div class="row">
    <div class="col-md-12">
      <h1>Workforce Connections Staff</h1>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">
    <div class="col-md-12">
      <h2>A</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 


<div class="row">
    <div class="col-md-12">
      <h2>A</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 
