<div class="row">
    <div class="col-md-12">
      <h1>Workforce Connections Staff</h1>
    </div> <!-- end col -->
</div> <!-- end row -->

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>A</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>B</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>D</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>F</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>G</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>H</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>L</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>M</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>N</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>O</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>P</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>S</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>T</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 

<!-- ========================= -->

<div class="row">
    <div class="col-md-12">
      <h2>W</h2>
    </div> <!-- end col -->
  </div> <!-- end row -->

<div class="row">  
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
  <div class="col-md-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-block">
        <h3 class="card-title"> </h3>
        <ul>
            <li><a href="tel:1-"> </a></li>    
            <li><a href="mailto:"> </a></li>                
        </ul>
      </div>
    </div>  <!-- end card -->      
  </div>  <!-- end col -->
</div> <!-- end row --> 
