<div class="row">
  <div class="col-md-12">
    <figure class="figure">
      <img src="images/people.jpg" class="header-img" alt="Success Stories">
      <figcaption class="figure-caption">Success Stories</figcaption>
    </figure>    
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-md-12">
    <h2>Success Stories</h2>
  </div>
</div>  <!-- end of row -->




<div class="row">
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card last-card ">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Becky</h4>
        <p class="card-text">Becky had the perception that all college students were young. It was a perception that was proved false to her when she returned to college after losing her job as a Certified Nursing Assistant at Benedictine Manor in Arcadia when it closed in 2014.</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
</div>  <!-- end of row 1 -->



<div class="row">
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Kim</h4>
        <p class="card-text">Kim enrolled in the W-2 program after being forced to leave her home and main support system behind after her father’s unexpected passing.</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card last-card ">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Miranda</h4>
        <p class="card-text">"I don’t want to go back to prison. I have to have a job. I have to be able to take care of my son.” Miranda said those words and is now living by them.</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Tacarra</h4>
        <p class="card-text">Tacarra relocated to the La Crosse area in search of a larger city that offered more training and employment opportunities. Before coming to the area, she provided in-home healthcare and other household support.</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Mathew</h4>
        <p class="card-text">Mathew came to Workforce Connections with years of welding experience, a criminal record and was having a hard time finding a job. After meeting with his Employment Coordinator he decided to enroll in a welding skills institute held by Western Technical College.</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
</div>  <!-- end of row 2 -->