<div class="row">
  <div class="col-md-12">
    <figure class="figure">
      <img src="images/people.jpg" class="header-img" alt="Success Stories">
<!--      <figcaption class="figure-caption">Success Stories</figcaption>-->
    </figure>    
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-md-12">
    <h2>Success Stories</h2>
  </div>
</div>  <!-- end of row -->




<div class="row">
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Heather</h4>
        <p class="card-text">Cutbacks. It was a dreaded word that became a reality for Heather. In 2008, after working more than 8 years at a local nonprofit organization, she became a casualty of cutbacks. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Rosana</h4>
        <p class="card-text">Rosana had medically verified barriers to employment including extreme anxiety when she enrolled in the W-2 program.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card last-card ">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Terrell</h4>
        <p class="card-text">Terrell Mallett had a big day March 22. The day marked the purchase of his first vehicle. Mallett purchased the vehicle through Workforce Connections, Inc.’s Revolving Loan Program.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Becky</h4>
        <p class="card-text">Becky had the perception that all college students were young. It was a perception that was proved false to her when...</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
</div>  <!-- end of row 1 -->



<div class="row">
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Kim</h4>
        <p class="card-text">Kim enrolled in the W-2 program after being forced to leave her home and main support system behind after...</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card last-card ">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Miranda</h4>
        <p class="card-text">"I don’t want to go back to prison. I have to have a job. I have to be able to take care of my son.” Miranda said those words...</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Tacarra</h4>
        <p class="card-text">Tacarra relocated to the La Crosse area in search of a larger city that offered more training and employment...</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Mathew</h4>
        <p class="card-text">Mathew came to Workforce Connections with years of welding experience, a criminal record and was having a...</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
</div>  <!-- end of row 2 -->