
<div class="row">
  <div class="col-md-12">
    <img src="../images/people.jpg" class="img-fluid" alt="Success Stories">
  </div>
</div>  <!-- end of row -->


<div class="row">
  <div class="col-md-12">
    <h2>Success Stories</h2>
  </div>
</div>  <!-- end of row -->




<div class="row">
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

</div>  <!-- end of row 1 -->



<div class="row">
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

</div>  <!-- end of row 2 -->



<div class="row">
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card">
      <img class="card-img-top" src="../images/person.png" alt="">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> <!-- end card -->
  </div> <!-- end col --> 

</div>  <!-- end of row 3 -->
