<h3>Staff</h3>

<table class="table table-hover table-striped table-bordered">

    <tbody>
    
        <tr ng-repeat="trempealeau in trempealeau">
           <td>
             <ul>
               <li>{{ trempealeau.name }}</li>
               <li>{{ trempealeau.title }}</li>
               <li><i class="fa fa-mobile"></i> &nbsp; {{ trempealeau.phone }}</li>
               <li><i class="fa fa-envelope-o"></i> &nbsp; {{ trempealeau.email }}</li>
             </ul>      
          </td>
        </tr>
        
    </tbody>
</table>
