
<div class="row" role="presentation">
  <div class="col-md-12">
    <img src="images/county/vernon-county.JPG" class="header-img" alt="Vernon County" />
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h1>Vernon County</h1>
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-sm-6">
    <div>
      <h2>Office Info</h2>  
      <ul>
        <li>By Appointment Only</li>
        <li>220 S. Main St.</li>
        <li>Viroqua, WI 54665</li>
        <li>  
          <i class="fa fa-mobile"></i> &nbsp; <a href="tel:+1-608-637-6450">608-637-6450</a>
        </li>
        <li>
          <i class="fa fa-fax" aria-hidden="true"></i> &nbsp; 608-785-9939
        </li>
      </ul>
    </div>
    
    <div>  <!-- start staff info -->
        <div class="card-block">
          <h3 class="card-title"> Jonathan Ward</h3>
          <ul>
              <li>Employment Coordinator</li>
              <li>Vernon County</li>
              <li><a href="tel:1-608-433-2768"><i class="fa fa-phone-square" aria-hidden="true"></i>608-433-2768 </a></li>    
              <li><a href="mailto:wardj@workforceconnections.org"><i class="fa fa-envelope" aria-hidden="true"></i>wardj@workforceconnections.org </a></li>                
          </ul>
        </div>  
    </div>  <!-- end staff info -->

  </div> <!-- end col -->
  
  
  <div class="col-sm-6">
    
    <h2>Programs</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="aca" aria-labelledby="">Affordable Care Act</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="emergency-assistance" aria-labelledby="">Emergency Assistance</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="fset" aria-labelledby="">Food Share Employment <br />
        &amp; Training (FSET)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="transportation-connections" aria-labelledby="">Transportation Connections</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="wioa" aria-labelledby="">Wisconsin Innovation <br />
        Opportunity Act (WIOA)</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a ui-sref="w2" aria-labelledby="">Wisconsin Works (W2)</a>
    </button>
    
    
    <h2>Resources</h2>
    <button type="button" class="btn btn-primary btn-block">
      <a href="" aria-labelledby="">Job Center of Wisconsin</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Visit Vernon County</a>
    </button>
    <button type="button" class="btn btn-primary btn-block">
      <a  href="" aria-labelledby="">Resource Guide</a>
    </button>    
  </div> <!-- end col -->
  
</div> <!-- end row -->
