<div class="row">
  <div class="col-md-12">
      <h1>Volunteer With Us</h1>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row" role="presentation">
  <div class="col-md-12">
      <img src="images/careers/volunteer.jpg" class="header-img" alt="">
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">
    <p>Interested in volunteering in your community? Do you enjoy working with children? Workforce Connections, Inc. is recruiting adults 55 and older to become Foster Grandparents. Foster Grandparents are role models, mentors, and friends to children with exceptional needs. The program provides a way for volunteers to stay active by serving children and youth in their communities. Contact Amy Larson at <a href="tel:+1-608-317-9133">608-317-9133</a> or <a href="mailto:larsona@workforceconnections.org">larsona@workforceconnections.org</a> for more information.</p>
  </div>  <!-- end col -->
 
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-block ">
      <a href="" target="_blank" title="Open the Foster Grandparents Press Release in a new tab">Foster Grandparents Press Release</a>
   </button>
    <button type="button" class="btn btn-primary btn-block ">
      <a ui-sref="foster-grandparents" target="_blank" title="Visit the Foster Grandparents Program page to learn how to become a Foster Grandparent">Become a Foster Grandparent Volunteer</a>
   </button>
  </div> <!-- end col -->
</div> <!-- end row -->
