<div class="row">
  <div class="col-md-12">
      <img src="images/volunteer_6.jpg" class="header-img" alt="Volunteers">
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
      <h2>Volunteer With Us</h2>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">  
  <div class="col-sm-6">
    <p>Interested in volunteer opportunities with Workforce Connections, Inc? We are always looking for individuals to add to our team who have a strong desire to give back to the community and help others be successful. Learn more at the link below or contact the Connections Coach Coordinator at <a href="mailto:workforceconnections@workforceconnections.org">workforceconnections@workforceconnections.org</a> or call <a href="tel:+1-608-789-5620">608-789-5620</a>.</p>
  </div>  <!-- end col -->
 
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Become a Connections Coach</a>
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button">Connections Coach Application</a>
  </div> <!-- end col -->
</div> <!-- end row -->
