
<div class="row">
  <div class="col-md-12">
    <img src="" class="img-fluid" alt="">
  </div> <!-- end col -->
</div> <!-- end row -->



<div class="row">    
  <div class="col-md-6">
    
    <h2>What is Wisconsin Works (W-2)</h2>
    <p>Wisconsin Works (W-2) assists individuals in meeting his/her employment &amp; career goals. Individualized services are provided to each participant through Workforce Connections staff, partner agencies, and Wisconsin Job Centers. Each participant receives the help they need to develop clear employment goals and the guidance and support needed to experience employment success.</p>
  </div> <!-- end col -->
  
  <div class="col-md-6">
    <h2>Additional Information</h2>
    <p>Wisconsin Works is available to ALL parents (both custodial and non-custodial) with minor children, low assets, and low income who meet the financial criteria. The primary goal of the W-2 program is for participants to receive skills and maintain employment. To apply for W-2 services, please call <a href="tel:+1-855-418-9332">855-418-9332</a>.</p>
    <a class="btn btn-primary btn-block" href="" role="button">Program Flyer</a>
    
  </div> <!-- end col -->  
</div> <!-- end row -->


<div class="row">
  <div class="col-md-12">
    <p>Windows to Work program serving the Western Wisconsin region is funded by the Western Wisconsin Workforce Development Board, Inc. under State of Wisconsin Department of Corrections Becky Young Recidivism Reduction Appropriation.</p>
  </div> <!-- end col -->
</div> <!-- end row -->
