<div class="row">
  <div class="col-md-12">
    <h1>Wisconsin Works (W2)</h1>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
      <img src="images/programs/w2.JPG" class="header-img" alt="" />
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">    
  <div class="col-sm-6">    
    <h2>What is Wisconsin Works (W-2)</h2>
    <p>Wisconsin Works (W-2) assists individuals in meeting his/her employment &amp; career goals. Individualized services are provided to each participant through Workforce Connections staff, partner agencies, and Wisconsin Job Centers. Each participant receives the help they need to develop clear employment goals and the guidance and support needed to experience employment success.</p>    
  </div> <!-- end col -->
   <div class="col-sm-6">
    <h2>Additional Information</h2>
    <p>Wisconsin Works is available to ALL parents (both custodial and non-custodial) with minor children, low assets, and low income who meet the financial criteria. The primary goal of the W-2 program is for participants to receive skills and maintain employment. To apply for W-2 services, please call <a href="tel:+1-855-418-9332">855-418-9332</a>, or complete the <a ui-sref="request-services" aria-label="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
  </div> <!-- end col -->  
</div> <!-- end row -->

<div class="row">
  <div class="col-sm-6">
  
    <!-- Button HTML (to Trigger Modal) -->
<!--     <a href="#what-w2" data-toggle="modal" class="btn btn-primary btn-block">W-2 Overview</a> -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#what-w2">W-2 Overview</button>
    <!-- Modal HTML -->
    <div id="what-w2" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">          
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div> <!-- end modal header -->
            <div class="modal-body">
              <h3>What is Wisconsin Works?</h3>
              <p>The W-2 and related programs are funded through the State of Wisconsin Department of Children and Families using Temporary Aid to Needy Families (TANF) funds.</p>
              <p>Wisconsin Works (W-2) assists individuals in meeting his/her employment &amp; career goals. Individualized services are provided to each participant through Workforce Connections staff, partner agencies, and Wisconsin Job Centers. Each participant receives the help he/she needs to develop clear employment goals and the guidance and support needed to experience employment success.</p>
              <p>Workforce Connections Inc. is contracted with the state of Wisconsin Department of Children and Families to operate Wisconsin Works (W-2) programs in Buffalo, Crawford, Jackson, La Crosse, Monroe, Pepin, Trempealeau and Vernon Counties.</p>
              <p>The goal of Wisconsin Works (W-2) is to provide necessary and appropriate services to prepare individuals to work, and to obtain and maintain viable, self-sustaining employment, which will promote economic growth. W-2 is designed to ensure that everyone in Wisconsin shares in our economic opportunities.</p>
              <h3>Who is eligible?</h3>
              <p>This program is available to ALL parents (both custodial and non-custodial) with minor children, low assets, and low income who meet the financial criteria. The primary goal of the W-2 program is for you to gain and keep a job. There are different levels of placement within W-2. Each is tied to your current ability for work and retraining a job. Based on your situation, skills, resources, barriers to employment, and eligibility, you will be offered a specific placement in W-2.</p>
              <p>You will be assigned an Employment Coordinator who will work with you to:</p>
              <ol>
                <li>Hone your skills on finding job leads</li>
                <li>Learn and master the application and interview processes</li>
                <li>Develop personal budgets and financial plans</li>
                <li>Refer you to other services</li>
                <li>Get you back in the workforce</li>
                <li>Work with you and your new employer on job retention</li>
              </ol>
              <h3>W-2 Support Services?</h3>
              <p>Wisconsin Works (W-2) provides support services to families and individuals who need assistance in rejoining the workforce. The following support services are available:</p>
              <ol>
                <li>Child Care - Families may apply for help with establishing and paying for child care.</li>
                <li>Transportation - W-2 participants may receive help in finding and paying for transportation to and from work.</li>
                <li>Job Access Loans (JAL) - Short term, no interest loans may be available to assist workers in obtaining or retaining employment.</li>
                <li>Other miscellaneous services based on your needs and eligibility.</li>
              </ol>
           </div> <!-- end modal body -->
           <div class="modal-footer">
             <button type="button" class="prog-btn" data-dismiss="modal">Close</button>
           </div> <!-- end footer -->   
        </div>
      </div>
    </div>
   
    <!-- Button HTML (to Trigger Modal) -->
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#w2-locations">Locations</button>
<!--     <a href="#w2-locations" data-toggle="modal"  data-target="#businessSolutions"class="btn btn-primary btn-block" >Locations</a> -->
    <!-- Modal HTML -->
    <div id="w2-locations" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <ul>
              <li><a ui-sref="buffalo" target="_blank" aria-label="Open Buffalo County page in new tab">Buffalo County</a></li>
              <li><a ui-sref="crawford" target="_blank" aria-label="Open Crawford County page in new tab">Crawford County</a></li>
              <li><a ui-sref="jackson" target="_blank" aria-label="Open Jackson County page in new tab">Jackson County</a></li>
              <li><a ui-sref="lacrosse" target="_blank" aria-label="Open La Crosse County page in new tab">La Crosse County</a></li>
              <li><a ui-sref="monroe" target="_blank" aria-label="Open Monroe County page in new tab">Monroe County</a></li>
              <li><a ui-sref="pepin" target="_blank" aria-label="Open Pepin County page in new tab">Pepin County</a></li>
              <li><a ui-sref="trempealeau" target="_blank" aria-label="Open Trempealeau County page in new tab">Trempealeau County</a></li>
              <li><a ui-sref="vernons" target="_blank" aria-label="Open Vernon County page in new tab">Vernon County</a></li>
            </ul>                       
          </div>
          <div class="modal-footer">
            <button type="button" class=" prog-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <button class="btn btn-primary btn-block" href="#" role="button">What to Bring</button>
  </div>  <!-- end col -->
  
  <div class="col-sm-6">
    <button class="btn btn-primary btn-block" href="#" role="button">Program Flyer</button>
    <button class="btn btn-primary btn-block" href="#" role="button">W-2 Ladder</button>
    <button class="btn btn-primary btn-block" href="#" role="button">Employment Search Examples</button>    
  </div>  <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-md-12">
    <p>This program is funded through the State of Wisconsin Department of Children and Families using Temporary Aid to Needy Families (TANF) funds.</p>    
  </div> <!-- end col -->
</div> <!-- end row -->
