
<div class="row">
  <div class="col-md-12">
      <img src="images/w2.JPG" class="header-img" alt="Wisconsin Works (W2)">
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
    <h1>Wisconsin Works (W2)</h1>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">    
  <div class="col-sm-6">    
    <h2>What is Wisconsin Works (W-2)</h2>
    <p>Wisconsin Works (W-2) assists individuals in meeting his/her employment &amp; career goals. Individualized services are provided to each participant through Workforce Connections staff, partner agencies, and Wisconsin Job Centers. Each participant receives the help they need to develop clear employment goals and the guidance and support needed to experience employment success.</p>    
  </div> <!-- end col -->
   <div class="col-sm-6">
    <h2>Additional Information</h2>
    <p>Wisconsin Works is available to ALL parents (both custodial and non-custodial) with minor children, low assets, and low income who meet the financial criteria. The primary goal of the W-2 program is for participants to receive skills and maintain employment. To apply for W-2 services, please call <a href="tel:+1-855-418-9332">855-418-9332</a>, or complete the <a a ui-sref="request-services" aria-label="Open Request Services page in new tab">Request Services</a> portion of our website.</p>
  </div> <!-- end col -->  
</div> <!-- end row -->

<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" href="" role="button">W-2 Overview</a>  <!-- modal -->
    <a class="btn btn-primary btn-block" href="" role="button">Locations</a>  <!-- modal -->
    <a class="btn btn-primary btn-block" href="" role="button">What to Bring</a>
  </div>  <!-- end col -->
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" href="" role="button">Program Flyer</a>
    <a class="btn btn-primary btn-block" href="" role="button">W-2 Ladder</a>
    <a class="btn btn-primary btn-block" href="" role="button">Employment Search Examples</a>    
  </div>  <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-md-12">
    <p>This program is funded through the State of Wisconsin Department of Children and Families using Temporary Aid to Needy Families (TANF) funds.</p>    
  </div> <!-- end col -->
</div> <!-- end row -->
