<div class="row">
  <div class="col-md-12">
    <img src="" class="header-img" alt="">
  </div> <!-- end col -->
</div> <!-- end row -->



<div class="row">  
  
  <div class="col-md-6">
    
    <h2>What is Windows to Work</h2>
    <p>Windows to Work promotes self-sufficiency for individuals returning to the community through skill development and cognitive behavioral training. Services are available within the following correctional facilities in western Wisconsin:</p>
    <ul>
      <li>Jackson Correctional Institutions (JCI)</li>
      <li>New Lisbon Correctional Institutions (NLCI)</li>
    </ul>
  </div> <!-- end col -->
  
  <div class="col-md-6">
    <h2>Additional Information</h2>
    <p>Participants must be incarcerated at a participating institution and be within 12 months of release. For more information inform your institution social worker or contact Workforce Connections, Inc. at <a href="tel:+1-608-790-8137">608-790-8137</a> <a href="tel:+1-800-742-5627">800-742-5627</a>.</p>
    <a class="btn btn-primary btn-block" href="" role="button">Program Flyer</a>
  </div> <!-- end col -->
  
</div> <!-- end row -->



<div class="row">
  <div class="col-md-12">
    <p>Windows to Work program serving the Western Wisconsin region is funded by the Western Wisconsin Workforce Development Board, Inc. under State of Wisconsin Department of Corrections Becky Young Recidivism Reduction Appropriation.</p>
  </div> <!-- end col -->
</div> <!-- end row -->
