
<div class="row">
  <div class="col-md-12">
    <img src="" class="img-fluid" alt="">
  </div> <!-- end col -->
</div> <!-- end row -->



<div class="row">    
  <div class="col-md-6">    
    <h2>What is Workforce Innovation and Opportunity Act (WIOA)</h2>
    <p>WIOA provides Adults and Dislocated Workers access to support and services to help obtain and maintain full time employment on a career pathway. WIOA can help you explore job opportunities, connect to necessary training, and help build the skills you need to get you started on a career pathway that works for you.</p>
    <p>WIOA is a voluntary program and enrollment is not guaranteed. To be enrolled in WIOA your goals must be realistic and compatible with the program goals. Enrollment does not ensure that all your financial needs will be fully covered.</p>
  </div> <!-- end col -->
  
  <div class="col-md-6">
    <h2>Additional Information</h2>
    <p>For more information, visit your local job center, call <a href="tel:+1-800-742-5627">800-742-5627</a>, or complete the online resource and referral form. Fill out the form, download and save to your computer and submit via email to <a href="mailto:workforceconnections@workforceconnections.org">workforceconnections@workforceconnections.org</a>.
    </p>
  </div> <!-- end col -->
  
</div> <!-- end row -->



<div class="row">  
   <div class="col-md-6">
     <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tQXZFpPuxPg"></iframe>
      </div>
   </div>  <!-- end col -->
  
   <div class="col-md-6">
     <a class="btn btn-primary btn-block" href="" role="button">WIOA Overview</a>  <!-- modal -->
     <a class="btn btn-primary btn-block" href="" role="button">Available Services</a>  <!-- modal -->
     <a class="btn btn-primary btn-block" href="" role="button">Training Resources</a>  <!-- modal -->
     <a class="btn btn-primary btn-block" href="" role="button">Locations</a>   <!-- modal -->
     
     <a class="btn btn-primary btn-block" href="" role="button">Program Flyer</a>
     <a class="btn btn-primary btn-block" href="" role="button">Resource and Referral Form</a>
     <a class="btn btn-primary btn-block" href="" role="button">Application</a>
     <a class="btn btn-primary btn-block" href="" role="button">WIA-WIOA Grievance Procedures</a>
   </div>  <!-- end col -->  
</div> <!-- end row -->

 


<div class="row">
  <div class="col-md-12">    
    <p>Workforce Innovation and Opportunity Act programs are made available with Workforce Innovation and Opportunity Act funding from the Western Wisconsin Workforce Development Board, Inc., Wisconsin Department of Workforce Development and United States Department of Labor. Equal Opportunity Employer/Program. If you have a disability and need access to this information in an alternative format or translated to another language please contact Julie Mitchell by phone <a href="tel:+1-608-789-4584">(608-789-4584)</a>, email <a href="mailto:mitchellj@westernwdb.org">(mitchellj@westernwdb.org)</a>, or dial 711 for the Wisconsin Relay service.</p>
    <p><img src="" class="img-fluid" alt=""></p>
    <p><img src="" class="img-fluid" alt=""></p>    
  </div> <!-- end col -->
</div> <!-- end row -->
