<div class="row">
  <div class="col-md-12">
      <h1>WISE Program</h1>    
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
  <div class="col-md-12">
      <img src="./images/programs/wise.JPG" class="header-img" alt="" />    
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">    
  <div class="col-sm-6">
    
    <h2>What is WISE</h2>
    <p>The WISE Program provides older adults, age 55 and older, with training and part-time, paid work experience in community service organizations. The on-the-job experience helps to develop and improve skills necessary for permanent employment.</p>
    <p>Each participant receives individual job counseling and a comprehensive assessment from a specialist. Together, the job seeker and specialist prepare an individual employment plan to be used as a guide for finding appropriate job opportunities.</p>        
  </div> <!-- end col -->
  
  <div class="col-sm-6">
    <h2>Additional Information</h2>
    <p>Wisconsin residents who are 55 and older, unemployed, and living on a limited income may qualify. For additional information, call <a href="tel:+1-608-789-5645">608-789-5645</a> or <a href="tel:+1-800-742-5627">800-742-5627</a>, or complete the <a ui-sref="request-services" aria-label="Open Request Services page in new tab">Request Services</a> portion of our website.</p>       
  </div> <!-- end col -->  
</div> <!-- end row -->

<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button" aria-labelledby="Open the WISE program flyer in a new tab">Program Flyer</a>
  </div>  <!-- end col -->
  <div class="col-sm-6">
    <a class="btn btn-primary btn-block" target="_blank" href="" role="button" aria-labelledby="Open the WISE newsletter in a new tab">Newsletter</a>
  </div>  <!-- end col -->
</div>  <!-- end row -->


<div class="row">  
   <div class="col-md-12">
     <p>The Wisconsin Senior Employment (WISE) Program is the state-administered Senior Community Service Employment Program (SCSEP), authorized by Title V of the Older Americans Act, federally funded by a grant from the U.S. Department of Labor.</p>
   </div>  <!-- end col -->  
</div> <!-- end row -->
