<!-- FOOTER -->

<div class="footer">
  <div class="footer-index">
    <div class="container-fluid bottom footer-cols">
      <div class="row">  
        <div class="col-md-3 col-sm-6">
          <h4>Company</h4>
          <ul>
            <li><a ui-sref="careers" title="">Careers</a></li>
            <li><a ui-sref="news" title="">News</a></li>
            <li><a ui-sref="business-solutions" title="">Business Solutions</a></li>
            <li><a ui-sref="request-services" title="">Request Services</a></li>
            <li><a ui-sref="locations" title="">Locations</a></li>
          </ul>   
        </div>  <!-- end col -->
        
        <div class="col-md-3 col-sm-6">
          <h4>Programs</h4>
          <ul>
            <li><a ui-sref="aca" title="">Healthcare</a></li>
            <li><a ui-sref="children-first" title="">Children First</a></li>
            <li><a ui-sref="emergency-assistance" title="">Emergency Assistance</a></li>
            <li><a ui-sref="foster-grandparents" title="">Foster Grandparents</a></li>
            <li><a ui-sref="fset" title="">FoodShare Employment &amp; Training (FSET)</a></li>
            <li><a ui-sref="w2" title="">Wisconsin Works (W2)</a></li>
            <li><a ui-sref="w2w" title="">Windows to Work</a></li>
            <li><a ui-sref="aca" title="">Wisconsin Innovation &amp; Opportunity Act (WIOA)</a></li>
            <li><a ui-sref="aca" title="">Wisconsin Senior Employment (WISE)</a></li>
          </ul>
        </div>  <!-- end col -->
        
        <div class="col-md-3 col-sm-6">
          <h4>Stay in Touch</h4>
          <ul>
            <li class="footer-socials"><a href="https://www.facebook.com/workforceconnections" title="Connect with Workforce Connections Inc. on Facebook - Open in new tab" target="_blank"><i class="fa fa-facebook-square"></i>
            </a></li>
            <li class="footer-socials"><a href="https://www.linkedin.com/company/workforce-connections-inc-" title="Connect with Workforce Connections Inc. on LinkedIn - Open in new tab" target="_blank"><i class="fa fa-linkedin-square"></i>
            </a></li>
            <li><a href="tel:+1-800-742-5627" title="Call the Workforce Connections Inc. 800 number"> <i class="fa fa-phone-square"></i> 1-800-742-5627</a></li>
            <li><a href="tel:+1-608-789-5620" title="Call the Workforce Connections Inc. corporate office in La Crosse Wisconsin"><i class="fa fa-phone-square"></i> 608-789-5620</a></li>
            <li><a href="tel:+1-800-947-3529" title="Call the Wisconsin Relay number for hearing imparied assistance"><i class="fa fa-tty"></i> 1-800-947-3529</a></li>
            <li><a href="mailto:workforceconnections@workforceconnections.org" title="Send an email to Workforce Connections">
              <i class="fa fa-envelope"></i> Email Us</a></li>
            <li class="address">2615 East Avenue South, Suite 103 <br />
                La Crosse, WI 54601
            </li>
          </ul>    
        </div>  <!-- end col -->
        
        <div class="col-md-3 col-sm-6">
          <h4>Staff</h4>
          <ul>
            <li><a href="http://outlook.office365.com/" title="Open staff email login screen in new tab" target="_blank">Staff Email</a></li>
            <li><a href="http://wciweb.workforceconnections.org/WebPortal/LogIn.aspx?ReturnUrl=%2fwebportal%2fdefault.aspx" title="Open the Workforce Connections Inc Portal in new tab" target="_blank">WCI Portal</a></li>
            <li><a href="https://www.workforceconnections.org/intranet/StaffForms.html" title="Open Workforce Connections staff forms in new tab" target="_blank">Staff Forms</a></li>
          </ul>
        </div>  <!-- end col -->        
      </div>  <!-- end row -->
      
      <div class="row">
        <div class="col-sm-6">
          <p>Workforce Connections, Inc. administers employment and training programs funded through a variety of sources including the United States Department of Labor, the Wisconsin Department of Workforce Development, the Western Wisconsin Workforce Development Board. Inc., local employers, and community organizations.</p>
        </div>  <!-- end col -->
        <div class="col-sm-6">
          <p>Workforce Connections, Inc. is an affirmative action/equal opportunity employer/program. Workforce Connections, Inc. does not discriminate on the basis of disability in the provision of services or employment. If you need this printed material interpreted or in a different form, or if you need assistance in using this service, please contact us. Deaf, hearing or speech impaired callers may reach us through the Wisconsin Relay System at <a href="tel:+1-800-947-3529" title="Call the Wisconsin Relay number for hearing imparied assistance">1-800-WI-RELAY (947-3529)</a>.</p>
        </div>  <!-- end col -->
      </div> <!-- end row -->
      
      <div class="row">
        <div class="col-sm-6">          
        </div>  <!-- end col -->
        <div class="col-sm-6">           
        </div>  <!-- end col -->
      </div> <!-- end row -->
        
    </div>  <!-- end container -->
  </div>  <!-- end footer-index  -->
</div>  <!-- end footer -->
