<!-- FOOTER -->
  <div class="footer-index">
    <div class="container-fluid bottom footer-cols">
      <div class="row">
        
        <div class="col-md-3 col-sm-3 footer-buffer">          
          <ul class="footer-socials">            
            <li>
              <a href="https://www.facebook.com/workforceconnections" title="WCI on Facebook" target="_blank">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/workforce-connections-inc-" title="WCI on LinkedIn" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </li>
          </ul>
          
          <ul class="footer-staff">
            <li class="staff-links">
              <a href="http://outlook.office365.com/" title="Staff Email" target="_blank">Staff Email</a>
            </li>
            <li class="staff-links">
              <a href="http://wciweb.workforceconnections.org/WebPortal/LogIn.aspx?ReturnUrl=%2fwebportal%2fdefault.aspx" title="WCI Portal" target="_blank">WCI Portal</a>
            </li>
            <li class="staff-links">
              <a href="https://www.workforceconnections.org/intranet/StaffForms.html" title="WCI Forms" target="_blank">Staff Forms</a>
            </li>
          </ul>
          <ul>
            <li>
              <span class="copy">&copy; 2010 Workforce Connections, Inc.</span>
            </li>
            <li>
              <a href="https://smile.amazon.com/ch/39-1458247" target="_blank"><img src="images/AS.jpg" class="img-fluid"></a>
            </li>
          </ul>
        </div>
      
        <div class="col-md-3 col-sm-3 address footer-buffer">
            <p>2615 East Avenue South, Suite 103</p>
            <p>La Crosse, WI 54601</p>
            <p><a href="tel:+1-800-742-5627"> <i class="fa fa-phone-square"></i> &nbsp; 1-800-742-5627</a></p>
            <p><a href="tel:+1-608-789-5620"><i class="fa fa-phone-square"></i> &nbsp; 608-789-5620</a></p>
            <p>
              <a href="mailto:workforceconnections@workforceconnections.org">
                <i class="fa fa-envelope"></i> &nbsp; Email Workforce Connections, Inc.
              </a> 
            </p>
        </div>
 
      
        <div class="col-md-3 col-sm-3 footer-buffer">
          <p>Workforce Connections, Inc. administers employment and training programs funded through a variety of sources including the United States Department of Labor, the Wisconsin Department of Workforce Development, the Western Wisconsin Workforce Development Board. Inc., local employers, and community organizations.</p>
        </div>

      
        <div class="col-md-3 col-sm-3 footer-buffer">
          <p>Workforce Connections, Inc. is an affirmative action/equal opportunity employer/program. Workforce Connections, Inc. does not discriminate on the basis of disability in the provision of services or employment. If you need this printed material interpreted or in a different form, or if you need assistance in using this service, please contact us. Deaf, hearing or speech impaired callers may reach us through the Wisconsin Relay System at <a href="tel:+1-800-947-3529">1-800-WI-RELAY (947-3529)</a>.</p>
        </div>
      </div>
    </div>
  </div>
<!-- end footer -->
