<nav class="navbar-other">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->          
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img class="logo" src="images/wci-logo-white.png" alt="WCI Home" />
          </a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
            
          <li class="dropdown">                
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
            <ul class="dropdown-menu">             
              <li>
                <a class="drop-links" href="#/executive-director">A word from our <br />Executive Director</a>
              </li>
              <br />
              <li>
                <a class="drop-links" href="#/mission">Mission, Vison &amp; <br /> Values</a>
              </li>
              <br /> 
              <li><a class="drop-links" href="#/corporate-resume">Corporate Resume</a></li>
              <li><a class="drop-links" href="#/locations">Locations</a></li>
              <li><a class="drop-links" href="#/staff">Staff</a></li>              
              <li>
                <a class="drop-links" href="#/board">Board of Directors</a>
              </li>
              <li>
                <a class="drop-links" href="#/reports">Annual Reports</a>
              </li>
              <li>
                <a class="drop-links" href="#/success-stories">Success Stories</a>
              </li>              
            </ul>
          </li>
            
          <li><a href="#/business-solutions">Business Solutions</a></li>
            
          <li><a href="#/job-seeker">Job Seeker Services</a></li>  
            
          <li><a href="#/resources">Resources</a></li>
            
          <li class="dropdown">
            <a href="#/programs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="drop-links" href="#/aca">Affordable Care Act</a></li>
              <li><a class="drop-links" href="#/children-first">Children First</a></li>
              <li><a class="drop-links" href="#/second-chances">Connecting to <br /> Second Chances</a></li>
              <br />  
              
              <li><a class="drop-links" href="#/emergency-assistance">Emergency <br />  Assistance</a></li>
              <br /> 
              <li><a class="drop-links" href="#/fset">FoodShare <br /> Employment &amp; <br /> Training</a></li>
              <br />
              <br />
              <li><a class="drop-links" href="#/transportation-connections">Transportation <br /> Connections</a></li>
              <br />
              <li><a class="drop-links" href="#/w2w">Windows to Work</a></li>
              <li>
                <a class="drop-links" href="#/wioa">WIOA (Workforce <br /> Innovation &amp;  <br />  Opportunity Act)</a>
                 <br /> 
              </li>
               <br /> 
              </li>
              <li><a class="drop-links" href="#/w2">Wisconsin Works</a></li>
              <li><a class="drop-links" href="#/wise">WISE Program</a></li>   
            </ul>
          </li>
        
          <li><a href="#/news">News</a></li>
        
          <li><a href="#/careers">Careers</a></li>
        
          <!--           
          <li class="dropdown">
            <a href="#/programs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers &amp; Volunteer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="drop-links" href="#/careers">Careers</a></li>
              <li><a class="drop-links" href="#/volunteer">Volunteer</a></li>
            </ul>
          </li> 
          -->
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="page-header"></div>
