<nav class="navbar-other">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->          
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">
            <img class="logo" src="images/wci-logo-white.png" alt="WCI Home" />
          </a>
        </div>

        
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>  <!-- role="button" -->
            <div class="dropdown-menu">             
              <a class="dropdown-item" href="executive-director">A word from our <br />Executive Director</a>
              <a class="dropdown-item" ui-sref="mission">Mission, Vison &amp; <br /> Values</a>
              <a class="dropdown-item" ui-sref="history">Corporate History</a>
              <a class="dropdown-item" ui-sref="locations">Locations</a>
              <a class="dropdown-item" ui-sref="staff">Staff</a>            
              <a class="dropdown-item" ui-sref="board">Board of Directors</a>
              <a class="dropdown-item" ui-sref="reports">Annual Reports</a>
              <a class="dropdown-item" ui-sref="success-stories">Success Stories</a>             
              <a class="dropdown-item" ui-sref="volunteer">Volunteer</a>
              <a class="dropdown-item" ui-sref="#">Grievance Procedures</a>  <!-- find pdf -->               
            </div>
          </li>            
          <li><a ui-sref="business-solutions">Business Solutions</a></li>            
          <li><a ui-sref="job-seeker">Job Seeker Services</a></li>              
          <li><a ui-sref="resources">Resources</a></li>            
          <li class="dropdown">
            <a ui-sref="programs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="drop-links" ui-sref="aca">Healthcare</a></li>
              <li><a class="drop-links" ui-sref="children-first">Children First</a></li>
              <li><a class="drop-links" ui-sref="second-chances">Connecting to <br /> Second Chances</a></li>
              <li><a class="drop-links" ui-sref="emergency-assistance">Emergency <br />  Assistance</a></li> 
              <li><a class="drop-links" ui-sref="fset">FoodShare <br /> Employment &amp; <br /> Training</a></li>
              <li><a class="drop-links" ui-sref="w2w">Windows to Work</a></li>
              <li>
                <a class="drop-links" ui-sref="wioa">WIOA (Workforce <br /> Innovation &amp;  <br />  Opportunity Act)</a>
              </li>
              <li><a class="drop-links" ui-sref="w2">Wisconsin Works</a></li>
              <li><a class="drop-links" ui-sref="wise">WISE Program</a></li>   
            </ul>
          </li>        
          <li><a ui-sref="news">News</a></li>        
          <li><a ui-sref="careers">Careers</a></li>
            
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="page-header"></div>
